Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, deploy, set-version, lint, release, test-schema, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

build-web:
  group: prepare
  image: node:16-alpine
  commands:
  - cd web/
  - yarn install --frozen-lockfile
  - yarn build

vendor:
  group: prepare
  image: golang:1.18
  commands:
  - go mod vendor

build-server:
  group: build
  image: golang:1.18
  commands:
  - make release-server

build-agent:
  group: build
  image: golang:1.18
  commands:
  - make release-agent

build-cli:
  group: build
  image: golang:1.18
  commands:
  - make release-cli

build-deb-rpm:
  group: bundle
  image: golang:1.18
  commands:
  - make bundle

build-tarball:
  group: bundle
  image: golang:1.18
  commands:
  - make release-tarball

checksums:
  image: golang:1.18
  commands:
  - make release-checksums

release-dryrun:
  image: golang:1.18
  commands:
  - ls -la dist/*.*
  - cat dist/checksums.txt

build:
  image: node:14-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

lint-pipeline:
  image: woodpeckerci/woodpecker-cli:next-alpine
  commands:
  - woodpecker-cli lint

dummy-web:
  image: golang:1.17
  commands:
  - mkdir -p web/dist/
  - echo "test" > web/dist/index.html

test:
  image: golang:1.17
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

sqlite:
  image: golang:1.17
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=sqlite3
  commands:
  - make test-server-datastore-coverage

postgres:
  image: golang:1.17
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=postgres
  - WOODPECKER_DATABASE_DATASOURCE=host=service-postgres user=postgres dbname=postgres sslmode=disable
  commands:
  - make test-server-datastore

mysql:
  image: golang:1.17
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=mysql
  - WOODPECKER_DATABASE_DATASOURCE=root@tcp(service-mysql:3306)/test?parseTime=true
  commands:
  - make test-server-datastore

Improve dark style text color for better readibility (#985)
  web/src/App.vue
  web/src/assets/locales/en.json
  web/src/components/atomic/Button.vue
  web/src/components/atomic/IconButton.vue
  web/src/components/build-feed/BuildFeedItem.vue
  web/src/components/build-feed/BuildFeedSidebar.vue
  web/src/components/form/Checkbox.vue
  web/src/components/form/InputField.vue
  web/src/components/form/RadioField.vue
  web/src/components/form/SelectField.vue
  web/src/components/form/TextField.vue
  web/src/components/layout/header/Navbar.vue
  web/src/components/repo/build/BuildItem.vue
  web/src/components/repo/build/BuildList.vue
  web/src/components/repo/build/BuildLog.vue
  web/src/components/repo/settings/ActionsTab.vue
  web/src/components/repo/settings/BadgeTab.vue
  web/src/components/repo/settings/GeneralTab.vue
  web/src/components/repo/settings/RegistriesTab.vue
  web/src/components/repo/settings/SecretsTab.vue
  web/src/components/tabs/Tabs.vue
  web/src/main.ts
  web/src/style.css
  web/src/views/Login.vue
  web/src/views/RepoAdd.vue
  web/src/views/Repos.vue
  web/src/views/ReposOwner.vue
  web/src/views/User.vue
  web/src/views/repo/RepoBranch.vue
  web/src/views/repo/RepoBranches.vue
  web/src/views/repo/RepoSettings.vue
  web/src/views/repo/RepoWrapper.vue
  web/src/views/repo/build/Build.vue
  web/src/views/repo/build/BuildChangedFiles.vue
  web/src/views/repo/build/BuildConfig.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

drop GLOBAL_ prefix
  cli/exec/exec.go
  server/shared/procBuilder.go
  server/shared/procBuilder_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

docs
  docs/docs/20-usage/50-environment.md
Due: build, deploy

Show forge icons in UI
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/coding/coding.go
  server/remote/gitea/gitea.go
  server/remote/github/github.go
  server/remote/gitlab/gitlab.go
  server/remote/gogs/gogs.go
  server/remote/remote.go
  server/web/config.go
  web/src/components/atomic/Icon.vue
  web/src/compositions/useConfig.ts
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix format
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add option to launch all needed services for local development
  .gitignore
  .vscode/launch.json
  docs/docs/92-development/01-getting-started.md
Due: build, deploy

Use editorconfig-checker (#982)
  .ecrc
  .editorconfig
  .woodpecker/docs.yml
  .woodpecker/test.yml
  charts/woodpecker-server/templates/NOTES.txt
  docs/docs/91-migrations.md
  docs/docs/92-development/06-guides.md
  server/api/build.go
  server/store/datastore/config.go
  woodpecker-go/README.md
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, deploy, set-version, lint, release, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

Fix typo
  docs/docs/92-development/01-getting-started.md
Due: build, deploy

documentation typo
  docs/docs/20-usage/50-environment.md
Due: build, deploy

Add option to launch all needed services for local development (#988)
  .gitignore
  .vscode/launch.json
  docs/docs/92-development/01-getting-started.md
Due: build, deploy

Regenerate mocks + add BitBucket and GitLab icons
  server/remote/mocks/remote.go
  web/src/components/atomic/Icon.vue
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix format and lint
  server/remote/gitlab/gitlab.go
  server/web/config.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Show forge icons in UI (#987)
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/coding/coding.go
  server/remote/gitea/gitea.go
  server/remote/github/github.go
  server/remote/gitlab/gitlab.go
  server/remote/gogs/gogs.go
  server/remote/mocks/remote.go
  server/remote/remote.go
  server/web/config.go
  web/src/components/atomic/Icon.vue
  web/src/compositions/useConfig.ts
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Auto commit @ 2022-06-17T18:33:15Z
  pipeline/backend/kubectl/common.go
  pipeline/backend/kubectl/run.go
  pipeline/backend/kubectl/run.properties.go
  pipeline/backend/kubectl/templates.job.go
  pipeline/backend/kubectl/templates.pvc.go
  pipeline/frontend/yaml/compiler/compiler.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Auto commit @ 2022-06-17T19:16:07Z
  pipeline/backend/kubectl/common.go
  pipeline/backend/kubectl/templates.job.go
  pipeline/backend/kubectl/templates/step_job.yaml
  pipeline/pipeline_test.yaml
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Move all static texts to locale file
  web/src/App.vue
  web/src/assets/locales/en.json
  web/src/components/layout/header/Navbar.vue
  web/src/components/repo/build/BuildItem.vue
  web/src/components/repo/build/BuildProcList.vue
  web/src/components/repo/settings/GeneralTab.vue
  web/src/views/repo/RepoSettings.vue
  web/src/views/repo/build/Build.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Fix message
  web/src/assets/locales/en.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Move all static texts to locale file (#989)
  web/src/App.vue
  web/src/assets/locales/en.json
  web/src/components/layout/header/Navbar.vue
  web/src/components/repo/build/BuildItem.vue
  web/src/components/repo/build/BuildProcList.vue
  web/src/components/repo/settings/GeneralTab.vue
  web/src/views/repo/RepoSettings.vue
  web/src/views/repo/build/Build.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add Latvian language translation
  web/src/assets/locales/en.json
  web/src/assets/locales/lv.json
  web/src/components/repo/settings/GeneralTab.vue
  web/src/compositions/useDate.ts
  web/src/compositions/useI18n.ts
  web/src/utils/locale.ts
  web/src/utils/timeAgo.ts
  web/src/views/Repos.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add Latvian language translation (#992)
  web/src/assets/locales/en.json
  web/src/assets/locales/lv.json
  web/src/components/repo/settings/GeneralTab.vue
  web/src/compositions/useDate.ts
  web/src/compositions/useI18n.ts
  web/src/utils/locale.ts
  web/src/utils/timeAgo.ts
  web/src/views/Repos.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

add graphql
  go.mod
  go.sum
  server/graph/generated/generated.go
  server/graph/gqlgen.yml
  server/graph/handler/handler.go
  server/graph/model/models_gen.go
  server/graph/resolver.go
  server/graph/schema.graphqls
  server/graph/schema.resolvers.go
  server/router/router.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

update schema types
  server/graph/generated/generated.go
  server/graph/gqlgen.yml
  server/graph/handler/handler.go
  server/graph/model/models_gen.go
  server/graph/resolvers/build.resolvers.go
  server/graph/resolvers/build_proc.resolvers.go
  server/graph/resolvers/mutations.resolvers.go
  server/graph/resolvers/queries.resolvers.go
  server/graph/resolvers/repository.resolvers.go
  server/graph/resolvers/resolver.go
  server/graph/resolvers/secret.resolvers.go
  server/graph/resolvers/user.resolvers.go
  server/graph/schema/mutations.graphqls
  server/graph/schema/queries.graphqls
  server/graph/schema/types/build.graphqls
  server/graph/schema/types/build_proc.graphqls
  server/graph/schema/types/registry.graphqls
  server/graph/schema/types/repository.graphqls
  server/graph/schema/types/secret.graphqls
  server/graph/schema/types/user.graphqls
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix tabs URLs to be language agnostic
  web/src/views/repo/RepoSettings.vue
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Extend FAQ with clone debugging howto
  docs/src/pages/faq.md
Due: build, deploy

Update docs/src/pages/faq.md
  docs/src/pages/faq.md
Due: build, deploy

Add German Translation
  web/src/assets/locales/de.json
  web/src/compositions/useDate.ts
  web/src/utils/timeAgo.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Fix visibility description
  web/src/assets/locales/en.json
  web/src/assets/locales/lv.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Extend FAQ with clone debugging howto (#996)
  docs/src/pages/faq.md
Due: build, deploy

fix lint
  web/src/utils/timeAgo.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Fix tabs URLs to be language agnostic (#995)
  web/src/views/repo/RepoSettings.vue
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Registries or Registry
  web/src/assets/locales/de.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Update web/src/assets/locales/de.json
  web/src/assets/locales/de.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Apply suggestions from code review
  web/src/assets/locales/de.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add German Translation (#997)
  web/src/assets/locales/de.json
  web/src/assets/locales/en.json
  web/src/assets/locales/lv.json
  web/src/compositions/useDate.ts
  web/src/utils/timeAgo.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Fix terminal DOM existing multiple times
  web/src/components/repo/build/BuildLog.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**
  deploy: any of: docs/**
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lint-pipeline: any of: .woodpecker/**
  dummy-web: any of: .woodpecker/test.yml, **/*.go, go.*, pipeline/schema/**
  test: any of: .woodpecker/test.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, **/*.go, go.*
  postgres: any of: .woodpecker/test.yml, **/*.go, go.*
  mysql: any of: .woodpecker/test.yml, **/*.go, go.*
  codecov: any of: .woodpecker/test.yml, **/*.go, go.*, pipeline/schema/**
