Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

build-web:
  group: prepare
  image: node:18-alpine
  directory: web/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

vendor:
  group: prepare
  image: golang:1.19.5
  commands:
  - go mod vendor

build-server:
  group: build
  image: golang:1.19.5
  commands:
  - make release-server

build-agent:
  group: build
  image: golang:1.19.5
  commands:
  - make release-agent

build-cli:
  group: build
  image: golang:1.19.5
  commands:
  - make release-cli

build-deb-rpm:
  group: bundle
  image: golang:1.19.5
  commands:
  - make bundle

build-tarball:
  group: bundle
  image: golang:1.19.5
  commands:
  - make release-tarball

checksums:
  image: golang:1.19.5
  commands:
  - make release-checksums

release-dryrun:
  image: golang:1.19.5
  commands:
  - ls -la dist/*.*
  - cat dist/checksums.txt

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy-prepare:
  image: alpine
  commands:
  - apk add --no-cache git rsync
  - git clone -b ${CI_REPO_DEFAULT_BRANCH} --single-branch https://github.com/woodpecker-ci/woodpecker-ci.github.io pages_repo

deploy:
  image: appleboy/drone-git-push
  secrets:
  - BOT_PRIVATE_KEY
  settings:
    branch: ${CI_REPO_DEFAULT_BRANCH}
    ssh_key:
      from_secret: BOT_PRIVATE_KEY
    remote: git@github.com:woodpecker-ci/woodpecker-ci.github.io.git
    author_name: woodpecker-bot
    author_email: woodpecker-bot@obermui.de
  ...

forgejo:
  detach: true
  image: codeberg.org/forgejo/forgejo:1.18
  pull: true
  ports:
  - '80'
  environment:
  - FORGEJO__security__INSTALL_LOCK=true
  - FORGEJO__server__HTTP_PORT=80
  - FORGEJO__server__ROOT_URL=http://forgejo/
  - FORGEJO__repository__ENABLE_PUSH_CREATE_USER=true
  commands: '/usr/bin/entrypoint &
  
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

test:
  image: golang:1.19
  group: test
  commands: 'apt-get update --quiet && apt-get install -y -qq jq
  
    /woodpecker/api -X POST --data-binary ''{"username": "myorg"}'' http://forgejo/api/v1/orgs
  
    owners=$(/woodpecker/api http://forgejo/api/v1/orgs/myorg/teams | jq ''.[0].id'')
  
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

docs: user registration
  docs/docs/30-administration/10-server-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

wording
  docs/docs/30-administration/10-server-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

wording as per review
  docs/docs/30-administration/10-server-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Update go in gitpod
  .gitpod.yml
Due: none

Added Nextcloud Upload plugin
  docs/plugins/woodpecker-plugins/plugins.json
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Added Nextcloud Upload plugin (#1927)
  docs/plugins/woodpecker-plugins/plugins.json
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Add Kubernetes Plugin
  docs/plugins/woodpecker-plugins/plugins.json
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Add Kubernetes and Dockle Plugins
  docs/plugins/woodpecker-plugins/plugins.json
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Add Kubernetes and Dockle Plugins (#1930)
  docs/plugins/woodpecker-plugins/plugins.json
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Fix selected line highlighting (#1922)
  web/src/components/repo/pipeline/PipelineLog.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Make sure step passed into go routine exist and does not change (#1903)
  server/pipeline/start.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Update server/store/datastore/migration/copy.go
  server/store/datastore/migration/copy.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

add store calls
  server/api/repo.go
  server/store/datastore/org.go
  server/store/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

encodeURIComponent secretName s
  web/src/lib/api/index.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

save forge at the beginning and use it
  server/api/login.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Apply suggestions from code review
  docs/docs/30-administration/10-server-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

more
  docs/docs/30-administration/10-server-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

always use explizite when instead of implizite
  server/store/datastore/config.go
  server/store/datastore/cron.go
  server/store/datastore/permission.go
  server/store/datastore/pipeline.go
  server/store/datastore/redirection.go
  server/store/datastore/registry.go
  server/store/datastore/secret.go
  server/store/datastore/server_config.go
  server/store/datastore/step.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

use builder for all Where with more than one arg or more complex expr
  server/store/datastore/config.go
  server/store/datastore/permission.go
  server/store/datastore/pipeline.go
  server/store/datastore/redirection.go
  server/store/datastore/secret.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Update server/store/datastore/permission.go
  server/store/datastore/permission.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

write all more complex filter with builder
  server/store/datastore/pipeline.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

format
  server/store/datastore/registry.go
  server/store/datastore/secret.go
  server/store/datastore/step.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

docs: user registration (#1925)
  docs/docs/30-administration/10-server-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

update
  docs/versioned_docs/version-1.0/30-administration/10-server-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

nit
  server/store/datastore/pipeline.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

explicite let HookParse func ignore events
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/api/hook.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucket/parse.go
  server/forge/bitbucketserver/parse.go
  server/forge/forge.go
  server/forge/gitea/gitea.go
  server/forge/gitea/gitea_test.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/forge/gitlab/gitlab_test.go
  server/forge/mocks/forge.go
  server/store/mocks/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

save :laugh:
  server/forge/bitbucketserver/bitbucketserver.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

finish
  server/forge/bitbucket/parse_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Update go in gitpod (#1926)
  .gitpod.yml
Due: none

use non-depricated var
  pipeline/backend/kubernetes/pod.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Refactored K8s Pod node selector (#1909)
  pipeline/backend/kubernetes/pod.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Harden datastore (#1940)
  server/store/datastore/config.go
  server/store/datastore/cron.go
  server/store/datastore/permission.go
  server/store/datastore/pipeline.go
  server/store/datastore/redirection.go
  server/store/datastore/registry.go
  server/store/datastore/secret.go
  server/store/datastore/server_config.go
  server/store/datastore/step.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

save forge at the beginning and use it (#1939)
  server/api/login.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Update web/src/lib/api/index.ts
  web/src/lib/api/index.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

extend store and repo creation
  server/api/repo.go
  server/model/repo.go
  server/store/datastore/org.go
  server/store/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Do not set Pod's Image pull policy if not explicitly set (#1914)
  pipeline/backend/kubernetes/pod.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

drop step_uuid unique constrain, as old data is null
  server/model/step.go
  server/store/datastore/step_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

model.Pipeline increas type to match sqlite behaviour
  server/model/pipeline.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

model.Step & model.Workflow increas type to match in real world usage
  server/model/step.go
  server/model/workflow.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

remove related changes and only let refactoring in
  pipeline/stepBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**)
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
