Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, lint-pipeline, dummy-web, sqlite, postgres, mysql, codecov

build-web:
  group: prepare
  image: node:18-alpine
  directory: web/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

vendor:
  group: prepare
  image: golang:1.19.5
  commands:
  - go mod vendor

build-server:
  group: build
  image: golang:1.19.5
  commands:
  - make release-server

build-agent:
  group: build
  image: golang:1.19.5
  commands:
  - make release-agent

build-cli:
  group: build
  image: golang:1.19.5
  commands:
  - make release-cli

build-deb-rpm:
  group: bundle
  image: golang:1.19.5
  commands:
  - make bundle

build-tarball:
  group: bundle
  image: golang:1.19.5
  commands:
  - make release-tarball

checksums:
  image: golang:1.19.5
  commands:
  - make release-checksums

release-dryrun:
  image: golang:1.19.5
  commands:
  - ls -la dist/*.*
  - cat dist/checksums.txt

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy-prepare:
  image: alpine
  commands:
  - apk add --no-cache git rsync
  - git clone -b ${CI_REPO_DEFAULT_BRANCH} --single-branch https://github.com/woodpecker-ci/woodpecker-ci.github.io pages_repo

deploy:
  image: appleboy/drone-git-push
  secrets:
  - BOT_PRIVATE_KEY
  settings:
    branch: ${CI_REPO_DEFAULT_BRANCH}
    ssh_key:
      from_secret: BOT_PRIVATE_KEY
    remote: git@github.com:woodpecker-ci/woodpecker-ci.github.io.git
    author_name: woodpecker-bot
    author_email: woodpecker-bot@obermui.de
  ...

forgejo:
  detach: true
  image: codeberg.org/forgejo/forgejo:1.18
  pull: true
  ports:
  - '80'
  environment:
  - FORGEJO__security__INSTALL_LOCK=true
  - FORGEJO__server__HTTP_PORT=80
  - FORGEJO__server__ROOT_URL=http://forgejo/
  - FORGEJO__repository__ENABLE_PUSH_CREATE_USER=true
  commands: '/usr/bin/entrypoint &
  
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

test:
  image: golang:1.19
  group: test
  commands: 'apt-get update --quiet && apt-get install -y -qq jq
  
    /woodpecker/api -X POST --data-binary ''{"username": "myorg"}'' http://forgejo/api/v1/orgs
  
    owners=$(/woodpecker/api http://forgejo/api/v1/orgs/myorg/teams | jq ''.[0].id'')
  
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

Add env for workflow and step name
  pipeline/frontend/metadata.go
  pipeline/stepBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

update docs
  docs/docs/20-usage/50-environment.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Fix lint
  web/src/compositions/usePaginate.ts
  web/src/views/repo/RepoPullRequests.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

rename cron
  .woodpecker/docs.yml
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, lint-pipeline

Fix docs build (#1690)
  .woodpecker/docs.yml
  docs/package.json
  docs/plugins/woodpecker-plugins/package.json
  docs/plugins/woodpecker-plugins/pnpm-lock.yaml
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, lint-pipeline

Add backend label to agents (#1692)
  cmd/agent/agent.go
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Added translation using Weblate (Portuguese)
  web/src/assets/locales/pt.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

- delete NewPluginPanel as it's not used - use state for filtered plugins
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

suggestions
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

rm unused
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

fix
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Refactor plugin-index plugin for docs (#1694)
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Translated using Weblate (Portuguese)
  web/src/assets/locales/pt.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

start of nomad backend
  cli/exec/flags.go
  cmd/agent/flags.go
  go.mod
  go.sum
  nomad.dev.hcl
  pipeline/backend/backend.go
  pipeline/backend/common/volume_mount_path.go
  pipeline/backend/nomad/job.go
  pipeline/backend/nomad/nomad.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Update server/api/badge.go
  server/api/badge.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

As per reviews
  server/forge/forge.go
  server/router/middleware/session/pagination.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix Bitbucket Server branches
  server/forge/bitbucketserver/internal/client.go
  server/forge/bitbucketserver/internal/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix Bitbucket Server branches (#1698)
  server/forge/bitbucketserver/internal/client.go
  server/forge/bitbucketserver/internal/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

The WOODPECKER_ADMIN environment variable is singular.
  server/model/user.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Docs: The WOODPECKER_ADMIN environment variable is singular. (#1699)
  server/model/user.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

rename vars, fix step name
  pipeline/frontend/metadata.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/stepBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

cleanup
  pipeline/frontend/metadata.go
  pipeline/stepBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

cleanup
  docs/docs/20-usage/50-environment.md
  pipeline/frontend/metadata.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/stepBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Pagination on BB branches
  server/forge/bitbucketserver/bitbucketserver.go
  server/forge/bitbucketserver/internal/client.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix code
  cli/exec/exec.go
  cli/exec/flags.go
  pipeline/frontend/metadata.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/stepBuilder.go
  pipeline/stepBuilder_test.go
  server/pipeline/queue.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Update server/pipeline/cancel.go
  server/pipeline/cancel.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Update server/pipeline/items.go
  server/pipeline/items.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add test and fix out of buonds
  server/model/pagination.go
  server/model/pagination_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Make sure db is not queried with negative values
  server/store/datastore/helper.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Better test and fix func
  server/model/pagination.go
  server/model/pagination_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add env for workflow and step name (#1693)
  cli/exec/exec.go
  cli/exec/flags.go
  docs/docs/20-usage/50-environment.md
  pipeline/frontend/metadata.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/stepBuilder.go
  pipeline/stepBuilder_test.go
  server/pipeline/queue.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

format
  server/model/pagination.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Adjust documentation of "CI_PIPELINE_LINK" to reflect actual behavior.
  docs/docs/20-usage/50-environment.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Adjust documentation of "CI_PIPELINE_LINK" to reflect actual behavior. (#1701)
  docs/docs/20-usage/50-environment.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

add todo comment back
  server/store/datastore/repo.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix import groups
  server/api/pipeline.go
  server/api/stream.go
  server/api/users.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Stable sort order for DB lists
  server/store/datastore/registry.go
  server/store/datastore/secret.go
  server/store/datastore/user.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Rename functions
  web/src/components/admin/settings/AdminAgentsTab.vue
  web/src/components/admin/settings/AdminSecretsTab.vue
  web/src/components/admin/settings/AdminUsersTab.vue
  web/src/components/org/settings/OrgSecretsTab.vue
  web/src/components/repo/settings/CronTab.vue
  web/src/components/repo/settings/RegistriesTab.vue
  web/src/components/repo/settings/SecretsTab.vue
  web/src/compositions/usePaginate.ts
  web/src/views/repo/RepoBranches.vue
  web/src/views/repo/RepoPullRequests.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**)
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
