Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, deploy-preview, deploy, set-version, lint, release, test-schema, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml
  deploy-preview: any of: docs/**, .woodpecker/docs.yml
  deploy: any of: docs/**, .woodpecker/docs.yml
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: web/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: web/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: web/**
  formatcheck: any of: web/**
  typecheck: any of: web/**

update web/components.d.ts
  web/components.d.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck

update client sdk
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/interface.go
  woodpecker-go/woodpecker/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

cli: draft1
  cli/common/flags.go
  cli/cron/cron.go
  cli/cron/cron_add.go
  cli/cron/cron_info.go
  cli/cron/cron_list.go
  cli/cron/cron_rm.go
  cli/cron/cron_set.go
  cli/registry/registry_add.go
  cli/registry/registry_list.go
  cli/registry/registry_set.go
  cmd/cli/app.go
  server/api/cron_job.go
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/interface.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

dont run on insert but calc nextExec
  cli/common/flags.go
  cli/cron/cron_update.go
  server/api/cron_job.go
  server/cron/cron.go
  woodpecker-go/woodpecker/client.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

cli: refactor nit
  cli/secret/secret_add.go
  cli/secret/secret_info.go
  cli/secret/secret_list.go
  cli/secret/secret_rm.go
  cli/secret/secret_set.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

filters ...
  pipeline/frontend/metadata.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/container_test.go
  pipeline/schema/.woodpecker/test-when.yml
  pipeline/schema/schema.json
  server/cron/cron.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

use icon as avatar for cron jobs
  web/src/components/atomic/Icon.vue
  web/src/components/repo/build/BuildItem.vue
  web/src/components/repo/build/BuildProcList.vue
  web/src/lib/api/types/build.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck

ad utc hint
  web/src/assets/locales/en.json
  web/src/components/repo/settings/CronTab.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck

Fix migration number (#1134)
  server/store/datastore/migration/007_secrets_add_user.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

allow secrets in cron jobs
  server/model/const.go
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/secrets/SecretEdit.vue
  web/src/lib/api/types/webhook.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Makefile: fix vendor target
  Makefile
Due: none

Update TestConstraints to respect default event filter
  pipeline/frontend/yaml/constraint/constraint_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

make code more redable
  pipeline/frontend/yaml/constraint/constraint.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

handle default constraint on Empty Constrains
  pipeline/frontend/yaml/constraint/constraint.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

fix lint issues
  cli/registry/registry_add.go
  cli/registry/registry_set.go
  pipeline/frontend/yaml/constraint/constraint.go
  server/remote/coding/hook.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

add test for 39929a284a5338cff5bfc7a3d096bd8135341ed8
  pipeline/frontend/yaml/constraint/constraint_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

fix unit test
  server/shared/procBuilder_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix local agent config example in docs
  docs/docs/30-administration/22-backends/20-local.md
Due: build, deploy-preview, deploy

Add Ansible-NAS to the awesome list
  docs/docs/92-awesome.md
Due: build, deploy-preview, deploy

Apply suggestions from code review
  pipeline/frontend/yaml/constraint/constraint.go
  server/cron/cron.go
  server/model/cron_job.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix local agent config example in docs (#1135)
  docs/docs/30-administration/22-backends/20-local.md
Due: build, deploy-preview, deploy

Add Ansible-NAS to the awesome list (#1136)
  docs/docs/92-awesome.md
Due: build, deploy-preview, deploy

Translated using Weblate (German)
  web/src/assets/locales/de.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck

rename "Title" to "Name"
  cli/cron/cron_add.go
  cli/cron/cron_list.go
  cli/cron/cron_update.go
  server/api/cron_job.go
  server/cron/cron.go
  server/model/cron_job.go
  server/store/datastore/cron.go
  web/src/assets/locales/en.json
  web/src/components/repo/settings/CronTab.vue
  web/src/lib/api/types/cron.ts
  woodpecker-go/woodpecker/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix more lint issues
  pipeline/multipart/reader_test.go
  server/plugins/utils/http.go
  server/remote/bitbucket/internal/client.go
  server/remote/bitbucket/parse.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/bitbucketserver/internal/client.go
  server/remote/coding/hook_test.go
  server/remote/coding/internal/coding.go
  server/remote/github/parse.go
  server/shared/configFetcher_test.go
  server/store/datastore/cron_test.go
  server/store/datastore/file.go
  server/store/datastore/log_test.go
  server/store/datastore/migration/migration_test.go
  web/web.go
  woodpecker-go/woodpecker/client.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

add (1138) as todo ref
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/coding/coding.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

schema: use definition
  pipeline/schema/schema.json
Due: vendor, lint, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

dedup metadataFromStruct and add extra field for cron name int metadata
  pipeline/frontend/metadata.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/constraint/constraint_test.go
  server/model/build.go
  server/shared/procBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

explicit
  web/src/components/repo/build/BuildItem.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck

prettyRef for cron
  web/src/compositions/useBuild.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck

schema: add def "constraint_list" to match actual behavior of when propertys using "List" type
  pipeline/schema/.woodpecker/test-when.yml
  pipeline/schema/schema.json
Due: vendor, lint, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

right highliting & add cron filter
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build, deploy-preview, deploy

mention default filter
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build, deploy-preview, deploy

make it a warning
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build, deploy-preview, deploy

add new docs section for cron
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/45-cron.md
  docs/docs/20-usage/cron-settings.png
Due: build, deploy-preview, deploy

Apply suggestions from code review
  docs/docs/20-usage/45-cron.md
Due: build, deploy-preview, deploy

fix make vendor target
  Makefile
Due: none

docs: ajust highliting
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build, deploy-preview, deploy

docs: mention default event filter
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build, deploy-preview, deploy

implement default event filter in code
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/constraint/constraint_test.go
  pipeline/schema/schema.json
  server/shared/procBuilder_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov
