Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, lint-pipeline, dummy-web, sqlite, postgres, mysql, codecov

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**)
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**

make editorconfig happy
  pipeline/backend/lxc/lxc.go
  pipeline/backend/lxc/tests/clone.yml
  pipeline/backend/lxc/tests/invalid-image.yml
  pipeline/backend/lxc/tests/service.yml
  pipeline/backend/lxc/tests/simple.yml
  pipeline/backend/lxc/tests/workspace.yml
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, lxc, dummy-web, sqlite, postgres, mysql, codecov

Ensure the SharedInformerFactory closes eventually
  pipeline/backend/kubernetes/kubernetes.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Ensure the SharedInformerFactory closes eventually (#1585)
  pipeline/backend/kubernetes/kubernetes.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Move helm charts to own repo "helm"
  .woodpecker/helm.yml
  charts/woodpecker-agent/.helmignore
  charts/woodpecker-agent/Chart.yaml
  charts/woodpecker-agent/templates/_helpers.tpl
  charts/woodpecker-agent/templates/deployment.yaml
  charts/woodpecker-agent/templates/role.yaml
  charts/woodpecker-agent/templates/rolebinding.yaml
  charts/woodpecker-agent/templates/serviceaccount.yaml
  charts/woodpecker-agent/values.yaml
  charts/woodpecker-server/.helmignore
  charts/woodpecker-server/Chart.yaml
  charts/woodpecker-server/templates/NOTES.txt
  charts/woodpecker-server/templates/_helpers.tpl
  charts/woodpecker-server/templates/deployment.yaml
  charts/woodpecker-server/templates/ingress.yaml
  charts/woodpecker-server/templates/persistentvolumeclaim.yaml
  charts/woodpecker-server/templates/service.yaml
  charts/woodpecker-server/templates/serviceaccount.yaml
  charts/woodpecker-server/values.yaml
Due: set-version, lint, release, lint-pipeline

Move helm charts to own repo "helm" (#1589)
  .woodpecker/helm.yml
  charts/woodpecker-agent/.helmignore
  charts/woodpecker-agent/Chart.yaml
  charts/woodpecker-agent/templates/_helpers.tpl
  charts/woodpecker-agent/templates/deployment.yaml
  charts/woodpecker-agent/templates/role.yaml
  charts/woodpecker-agent/templates/rolebinding.yaml
  charts/woodpecker-agent/templates/serviceaccount.yaml
  charts/woodpecker-agent/values.yaml
  charts/woodpecker-server/.helmignore
  charts/woodpecker-server/Chart.yaml
  charts/woodpecker-server/templates/NOTES.txt
  charts/woodpecker-server/templates/_helpers.tpl
  charts/woodpecker-server/templates/deployment.yaml
  charts/woodpecker-server/templates/ingress.yaml
  charts/woodpecker-server/templates/persistentvolumeclaim.yaml
  charts/woodpecker-server/templates/service.yaml
  charts/woodpecker-server/templates/serviceaccount.yaml
  charts/woodpecker-server/values.yaml
Due: set-version, lint, release, lint-pipeline

Translated using Weblate (Polish)
  web/src/assets/locales/pl.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add version notes to docs
  docs/docs/10-intro.md
  docs/docs/30-administration/00-setup.md
  docs/docs/80-downloads.md
  docs/docs/91-migrations.md
  docs/docusaurus.config.js
  docs/src/pages/faq.md
  docs/versioned_docs/version-0.15/10-intro.md
  docs/versioned_docs/version-0.15/30-administration/00-setup.md
  docs/versioned_docs/version-0.15/80-downloads.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

change heading
  docs/docs/20-usage/25-workflows.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Change issue template labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

add checks to templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Sort repos by org and name (#1548)
  web/src/compositions/useRepoSearch.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add version notes to docs (#1592)
  docs/docs/10-intro.md
  docs/docs/30-administration/00-setup.md
  docs/docs/80-downloads.md
  docs/docs/91-migrations.md
  docs/docusaurus.config.js
  docs/src/pages/faq.md
  docs/versioned_docs/version-0.15/10-intro.md
  docs/versioned_docs/version-0.15/30-administration/00-setup.md
  docs/versioned_docs/version-0.15/80-downloads.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Change issue template labels (#1593)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Rename multi pipelines to workflows (#1285)
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/25-multi-pipeline.md
  docs/docs/20-usage/25-workflows.md
  docs/docs/20-usage/30-matrix-pipelines.md
  docs/docs/20-usage/71-project-settings.md
  docs/docs/30-administration/11-forges/10-overview.md
  docs/src/pages/faq.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

improve error handling and add e2e pipeline compiler test
  pipeline/frontend/e2e_test.go
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/convert.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

update docs to include plugin repositories
  docs/docs/20-usage/51-plugins/10-plugins.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

add note about image cleanup
  docs/docs/30-administration/15-agent-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

docs: update when-path for Gitea
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

add cancel button
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminSecretsTab.vue
  web/src/components/org/settings/OrgSecretsTab.vue
  web/src/components/repo/settings/SecretsTab.vue
  web/src/components/secrets/SecretEdit.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

actually emit event
  web/src/components/secrets/SecretEdit.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Update when-path for Gitea (#1598)
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

add check for active repository
  server/api/badge.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

add collapsable support to panel elements
  web/src/components/layout/Panel.vue
  web/src/views/repo/pipeline/PipelineConfig.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

wip: render button as a tag
  web/src/components/atomic/Button.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

fix: return 404 on badge request for inactive repo (#1600)
  server/api/badge.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add cancel button on secrets tab (#1599)
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminSecretsTab.vue
  web/src/components/org/settings/OrgSecretsTab.vue
  web/src/components/repo/settings/SecretsTab.vue
  web/src/components/secrets/SecretEdit.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

fix official plugins link
  docs/docs/20-usage/51-plugins/10-plugins.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

apply permissions when flatPermissions enabled
  server/forge/userSyncer.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

refactor to setup component and naming changes
  web/src/components/layout/Panel.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add collapsable support to panel elements (#1601)
  web/src/components/layout/Panel.vue
  web/src/views/repo/pipeline/PipelineConfig.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

remove manual translations
  web/src/assets/locales/en.json
  web/src/assets/locales/fr.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

feat: UI should confirm secret deletion
  web/src/assets/locales/en.json
  web/src/components/secrets/SecretList.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

rewrite notes
  docs/docs/20-usage/51-plugins/10-plugins.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

move to backend section
  docs/docs/30-administration/15-agent-config.md
  docs/docs/30-administration/22-backends/10-docker.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Add confirm for secret deletion (#1604)
  web/src/assets/locales/en.json
  web/src/components/secrets/SecretList.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add note about docker image cleanup (#1597)
  docs/docs/30-administration/22-backends/10-docker.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Translated using Weblate (Russian)
  web/src/assets/locales/fr.json
  web/src/assets/locales/id.json
  web/src/assets/locales/ru.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Added translation using Weblate (Finnish)
  web/src/assets/locales/fi.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun
