Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, lint-pipeline, dummy-web, sqlite, postgres, mysql, codecov

build-web:
  group: prepare
  image: node:18-alpine
  directory: web/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

vendor:
  group: prepare
  image: golang:1.19.5
  commands:
  - go mod vendor

build-server:
  group: build
  image: golang:1.19.5
  commands:
  - make release-server

build-agent:
  group: build
  image: golang:1.19.5
  commands:
  - make release-agent

build-cli:
  group: build
  image: golang:1.19.5
  commands:
  - make release-cli

build-deb-rpm:
  group: bundle
  image: golang:1.19.5
  commands:
  - make bundle

build-tarball:
  group: bundle
  image: golang:1.19.5
  commands:
  - make release-tarball

checksums:
  image: golang:1.19.5
  commands:
  - make release-checksums

release-dryrun:
  image: golang:1.19.5
  commands:
  - ls -la dist/*.*
  - cat dist/checksums.txt

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy-prepare:
  image: alpine
  commands:
  - apk add --no-cache git rsync
  - git clone -b ${CI_REPO_DEFAULT_BRANCH} --single-branch https://github.com/woodpecker-ci/woodpecker-ci.github.io pages_repo

deploy:
  image: appleboy/drone-git-push
  secrets:
  - BOT_PRIVATE_KEY
  settings:
    branch: ${CI_REPO_DEFAULT_BRANCH}
    ssh_key:
      from_secret: BOT_PRIVATE_KEY
    remote: git@github.com:woodpecker-ci/woodpecker-ci.github.io.git
    author_name: woodpecker-bot
    author_email: woodpecker-bot@obermui.de
  ...

forgejo:
  detach: true
  image: codeberg.org/forgejo/forgejo:1.18
  pull: true
  ports:
  - '80'
  environment:
  - FORGEJO__security__INSTALL_LOCK=true
  - FORGEJO__server__HTTP_PORT=80
  - FORGEJO__server__ROOT_URL=http://forgejo/
  - FORGEJO__repository__ENABLE_PUSH_CREATE_USER=true
  commands: '/usr/bin/entrypoint &
  
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

test:
  image: golang:1.19
  group: test
  commands: 'apt-get update --quiet && apt-get install -y -qq jq
  
    /woodpecker/api -X POST --data-binary ''{"username": "myorg"}'' http://forgejo/api/v1/orgs
  
    owners=$(/woodpecker/api http://forgejo/api/v1/orgs/myorg/teams | jq ''.[0].id'')
  
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

some ui nits
  web/src/components/layout/popups/DeployPipelinePopup.vue
  web/src/components/layout/scaffold/Header.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/lib/api/index.ts
  web/src/store/pipelines.ts
  web/src/views/repo/pipeline/Pipeline.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

some fixes
  web/src/store/pipelines.ts
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

remove pr pipelines from branches list
  web/src/views/repo/RepoBranch.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Correct pipeline loading (#1639)
  web/src/store/pipelines.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add support for PR list
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/api/repo.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucketserver/bitbucketserver.go
  server/forge/coding/coding.go
  server/forge/forge.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/forge/gogs/gogs.go
  server/forge/mocks/forge.go
  server/model/pagination.go
  server/model/pull_request.go
  server/router/api.go
  server/router/middleware/session/pagination.go
  server/store/mocks/store.go
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/lib/api/index.ts
  web/src/lib/api/types/index.ts
  web/src/lib/api/types/pull_request.ts
  web/src/router.ts
  web/src/views/repo/RepoPullRequest.vue
  web/src/views/repo/RepoPullRequests.vue
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix typecheck
  web/src/lib/api/index.ts
  web/src/views/repo/RepoPullRequests.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Fix button margin if button doesn't have text
  web/components.d.ts
  web/src/components/atomic/Button.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

fix mocks
  server/forge/mocks/forge.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix button margin if button doesn't have text (#1642)
  web/components.d.ts
  web/src/components/atomic/Button.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Allow repo names to be case-insensitive
  server/store/datastore/repo.go
  server/store/datastore/repo_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Improve error handling
  server/api/agent.go
  server/api/badge.go
  server/api/cron.go
  server/api/file.go
  server/api/global_secret.go
  server/api/helper.go
  server/api/hook.go
  server/api/login.go
  server/api/org_secret.go
  server/api/pipeline.go
  server/api/registry.go
  server/api/repo.go
  server/api/repo_secret.go
  server/api/signature_public_key.go
  server/api/stream.go
  server/api/user.go
  server/api/users.go
  server/api/z.go
  server/router/middleware/session/repo.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

unify cancel / save button and look
  web/components.d.ts
  web/src/components/admin/settings/AdminAgentsTab.vue
  web/src/components/repo/settings/CronTab.vue
  web/src/components/repo/settings/RegistriesTab.vue
  web/src/components/secrets/SecretEdit.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Do not privilege privileged images if not used as plugins
  pipeline/frontend/yaml/compiler/convert.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add repo config option
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/option.go
  pipeline/stepBuilder.go
  server/api/repo.go
  server/model/repo.go
  web/src/assets/locales/en.json
  web/src/components/repo/settings/GeneralTab.vue
  web/src/lib/api/types/repo.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Improve backends in various ways
  cli/exec/exec.go
  cli/exec/flags.go
  cmd/agent/agent.go
  cmd/agent/flags.go
  pipeline/backend/backend.go
  pipeline/backend/docker/docker.go
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/local/local.go
  pipeline/backend/ssh/ssh.go
  pipeline/backend/types/engine.go
  pipeline/backend/types/errors.go
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/forge/mocks/forge.go
  server/store/mocks/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Allow to configure gRPC JWT secret (solves TODO)
  cmd/server/flags.go
  cmd/server/server.go
  docs/docs/30-administration/10-server-config.md
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Make default and max timeouts configurable
  cmd/server/flags.go
  cmd/server/server.go
  docs/docs/30-administration/10-server-config.md
  server/api/repo.go
  server/config.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Drop coding support
  cmd/server/flags.go
  cmd/server/setup.go
  docs/docs/30-administration/10-server-config.md
  docs/docs/30-administration/11-forges/10-overview.md
  docs/docs/30-administration/11-forges/80-coding.md
  server/forge/coding/coding.go
  server/forge/coding/coding_test.go
  server/forge/coding/fixtures/handler.go
  server/forge/coding/fixtures/hooks.go
  server/forge/coding/hook.go
  server/forge/coding/hook_test.go
  server/forge/coding/internal/coding.go
  server/forge/coding/internal/error.go
  server/forge/coding/internal/file.go
  server/forge/coding/internal/project.go
  server/forge/coding/internal/user.go
  server/forge/coding/internal/webhook.go
  server/forge/coding/util.go
  server/forge/coding/util_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, dummy-web, sqlite, postgres, mysql, codecov

move to left again
  web/src/components/admin/settings/AdminUsersTab.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

unify with users
  web/src/components/admin/settings/AdminAgentsTab.vue
  web/src/components/repo/settings/CronTab.vue
  web/src/components/repo/settings/RegistriesTab.vue
  web/src/components/secrets/SecretEdit.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Update SecretEdit.vue
  web/src/components/secrets/SecretEdit.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

fix linter
  agent/rpc/client_grpc.go
  cli/pipeline/create.go
  cmd/agent/health.go
  cmd/server/setup.go
  pipeline/backend/docker/convert_test.go
  pipeline/backend/local/local.go
  pipeline/backend/ssh/ssh.go
  pipeline/drone_compatibility.go
  pipeline/frontend/yaml/compiler/cacher.go
  pipeline/frontend/yaml/linter/linter.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucketserver/bitbucketserver.go
  server/forge/coding/coding.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gogs/gogs.go
  server/grpc/auth_server.go
  server/grpc/rpc.go
  server/logging/log.go
  server/pipeline/items.go
  server/pipeline/pipelineStatus_test.go
  server/pipeline/queue.go
  server/pipeline/restart.go
  server/pipeline/start.go
  server/pipeline/stepStatus_test.go
  server/plugins/environments/parse.go
  server/plugins/registry/db.go
  server/plugins/secrets/builtin.go
  server/pubsub/pub.go
  server/queue/fifo.go
  server/router/middleware/store.go
  server/store/datastore/cron.go
  server/store/datastore/migration/012_rename_remote_to_forge.go
  server/store/datastore/migration/013_rename_forge_id_to_forge_remote_id.go
  server/store/datastore/migration/migration_test.go
  server/swagger/swagger.go
  woodpecker-go/woodpecker/client.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix linter (#1647)
  agent/rpc/client_grpc.go
  cli/pipeline/create.go
  cmd/agent/health.go
  cmd/server/setup.go
  pipeline/backend/docker/convert_test.go
  pipeline/backend/local/local.go
  pipeline/backend/ssh/ssh.go
  pipeline/drone_compatibility.go
  pipeline/frontend/yaml/compiler/cacher.go
  pipeline/frontend/yaml/linter/linter.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucketserver/bitbucketserver.go
  server/forge/coding/coding.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gogs/gogs.go
  server/grpc/auth_server.go
  server/grpc/rpc.go
  server/logging/log.go
  server/pipeline/items.go
  server/pipeline/pipelineStatus_test.go
  server/pipeline/queue.go
  server/pipeline/restart.go
  server/pipeline/start.go
  server/pipeline/stepStatus_test.go
  server/plugins/environments/parse.go
  server/plugins/registry/db.go
  server/plugins/secrets/builtin.go
  server/pubsub/pub.go
  server/queue/fifo.go
  server/router/middleware/store.go
  server/store/datastore/cron.go
  server/store/datastore/migration/012_rename_remote_to_forge.go
  server/store/datastore/migration/013_rename_forge_id_to_forge_remote_id.go
  server/store/datastore/migration/migration_test.go
  server/swagger/swagger.go
  woodpecker-go/woodpecker/client.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix linting
  server/store/datastore/migration/014_remove_active_from_users.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add users UI for admins (#1634)
  server/api/login.go
  server/api/users.go
  server/model/user.go
  server/router/middleware/session/user.go
  server/store/datastore/migration/014_remove_active_from_users.go
  server/store/datastore/migration/migration.go
  server/store/datastore/users_test.go
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminUsersTab.vue
  web/src/components/atomic/Badge.vue
  web/src/components/secrets/SecretEdit.vue
  web/src/lib/api/index.ts
  web/src/views/admin/AdminSettings.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

UI improvements (#1640)
  web/src/components/layout/popups/DeployPipelinePopup.vue
  web/src/components/layout/scaffold/Header.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/lib/api/index.ts
  web/src/store/pipelines.ts
  web/src/views/repo/RepoBranch.vue
  web/src/views/repo/pipeline/Pipeline.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Translated using Weblate (Russian)
  web/src/assets/locales/de.json
  web/src/assets/locales/fr.json
  web/src/assets/locales/id.json
  web/src/assets/locales/ru.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Only grant privileged to plugins (#1646)
  pipeline/frontend/yaml/compiler/convert.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

go generate
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/store/mocks/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Update path
  web/src/router.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Use setup components
  web/src/views/repo/RepoPullRequest.vue
  web/src/views/repo/RepoPullRequests.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Remove comment
  web/src/views/repo/RepoPullRequests.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add note to migrations
  docs/docs/91-migrations.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

fix status (400 -> 422)
  server/api/cron.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix alignment of buttons on users list
  web/src/components/admin/settings/AdminUsersTab.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

fix import
  web/src/views/repo/RepoPullRequest.vue
  web/src/views/repo/RepoPullRequests.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

fix locale
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminAgentsTab.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Fix lint
  cli/exec/exec.go
  cmd/agent/agent.go
  pipeline/backend/backend.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix lint
  server/forge/bitbucket/bitbucket.go
  server/forge/coding/coding.go
  server/forge/gogs/gogs.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

typo
  server/forge/gogs/gogs.go
  web/components.d.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**)
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
