Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, lint-pipeline, dummy-web, sqlite, postgres, mysql, codecov

build-web:
  group: prepare
  image: node:18-alpine
  directory: web/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

vendor:
  group: prepare
  image: golang:1.19.5
  commands:
  - go mod vendor

build-server:
  group: build
  image: golang:1.19.5
  commands:
  - make release-server

build-agent:
  group: build
  image: golang:1.19.5
  commands:
  - make release-agent

build-cli:
  group: build
  image: golang:1.19.5
  commands:
  - make release-cli

build-deb-rpm:
  group: bundle
  image: golang:1.19.5
  commands:
  - make bundle

build-tarball:
  group: bundle
  image: golang:1.19.5
  commands:
  - make release-tarball

checksums:
  image: golang:1.19.5
  commands:
  - make release-checksums

release-dryrun:
  image: golang:1.19.5
  commands:
  - ls -la dist/*.*
  - cat dist/checksums.txt

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy-prepare:
  image: alpine
  commands:
  - apk add --no-cache git rsync
  - git clone -b ${CI_REPO_DEFAULT_BRANCH} --single-branch https://github.com/woodpecker-ci/woodpecker-ci.github.io pages_repo

deploy:
  image: appleboy/drone-git-push
  secrets:
  - BOT_PRIVATE_KEY
  settings:
    branch: ${CI_REPO_DEFAULT_BRANCH}
    ssh_key:
      from_secret: BOT_PRIVATE_KEY
    remote: git@github.com:woodpecker-ci/woodpecker-ci.github.io.git
    author_name: woodpecker-bot
    author_email: woodpecker-bot@obermui.de
  ...

forgejo:
  detach: true
  image: codeberg.org/forgejo/forgejo:1.18
  pull: true
  ports:
  - '80'
  environment:
  - FORGEJO__security__INSTALL_LOCK=true
  - FORGEJO__server__HTTP_PORT=80
  - FORGEJO__server__ROOT_URL=http://forgejo/
  - FORGEJO__repository__ENABLE_PUSH_CREATE_USER=true
  commands: '/usr/bin/entrypoint &
  
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

test:
  image: golang:1.19
  group: test
  commands: 'apt-get update --quiet && apt-get install -y -qq jq
  
    /woodpecker/api -X POST --data-binary ''{"username": "myorg"}'' http://forgejo/api/v1/orgs
  
    owners=$(/woodpecker/api http://forgejo/api/v1/orgs/myorg/teams | jq ''.[0].id'')
  
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

better
  docs/docs/20-usage/35-advanced-yaml-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

docs show syntax highliting
  docs/docs/20-usage/35-advanced-yaml-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

example are working pipelines
  docs/docs/20-usage/35-advanced-yaml-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

fix lint
  pipeline/schema/schema.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, lint-pipeline, dummy-web, sqlite, postgres, mysql, codecov

Fix locale
  web/src/assets/locales/en.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

gofumpt
  server/web/config.go
  server/web/web.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix missing {}
  web/src/assets/locales/en.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Fully support `.yaml` (#1713)
  cli/exec/exec.go
  cli/lint/lint.go
  server/forge/configFetcher_test.go
  shared/constant/constant.go
  web/src/assets/locales/en.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Use codeberg.org/6543/go-yaml2json (#1719)
  go.mod
  go.sum
  shared/yml/yml.go
  vendor/codeberg.org/6543/go-yaml2json/.gitignore
  vendor/codeberg.org/6543/go-yaml2json/.woodpecker.yml
  vendor/codeberg.org/6543/go-yaml2json/LICENSE
  vendor/codeberg.org/6543/go-yaml2json/README.md
  vendor/codeberg.org/6543/go-yaml2json/yml.go
  vendor/github.com/stretchr/objx/.travis.yml
  vendor/github.com/stretchr/objx/accessors.go
  vendor/github.com/stretchr/objx/map.go
  vendor/github.com/stretchr/objx/type_specific_codegen.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/mock/mock.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/modules.txt
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Implement YAML Map Merge, Overrides, and Sequence Merge Support (#1720)
  docs/docs/20-usage/35-advanced-yaml-syntax.md
  go.mod
  go.sum
  pipeline/frontend/yaml/config.go
  pipeline/frontend/yaml/linter/linter_test.go
  pipeline/frontend/yaml/matrix/matrix.go
  pipeline/schema/.woodpecker/test-merge-map-and-sequence.yml
  pipeline/schema/schema.go
  pipeline/schema/schema_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, lint-pipeline, dummy-web, sqlite, postgres, mysql, codecov

fix lint
  server/web/web.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Translated using Weblate (German)
  web/src/assets/locales/de.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Parse only once
  server/web/web.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

gofumpt
  server/web/web.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add event option for pipeline creation via API
  cli/pipeline/create.go
  server/api/pipeline.go
  server/model/const.go
  server/model/pipeline.go
  server/model/secret.go
  woodpecker-go/woodpecker/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

refactor
  server/api/pipeline.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add option to specify pipeline config path
  server/api/pipeline.go
  server/model/pipeline.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

impl it for cli
  cli/pipeline/create.go
  woodpecker-go/woodpecker/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

explicite pass configPath to configFetcher
  server/api/pipeline.go
  server/forge/configFetcher.go
  server/pipeline/create.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix lint & skip if empty
  server/web/web.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Support path prefix (#1714)
  cmd/server/flags.go
  cmd/server/server.go
  docs/docs/30-administration/00-setup.md
  docs/docs/30-administration/10-server-config.md
  server/config.go
  server/web/config.go
  server/web/web.go
  web/src/compositions/useApiClient.ts
  web/src/compositions/useConfig.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, dummy-web, sqlite, postgres, mysql, codecov

docs: changelog 0.15.8
  CHANGELOG.md
Due: none

Changelog 0.15.8 (#1723)
  CHANGELOG.md
Due: none

adjust tests
  server/forge/configFetcher_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Update server/forge/configFetcher_test.go
  server/forge/configFetcher_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Apply suggestions from code review
  server/config.go
  server/store/datastore/helper.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix imports
  server/store/datastore/helper.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix UI pagination bug
  web/src/compositions/usePaginate.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Add UI to use new manual pipeline create options
  web/src/assets/locales/en.json
  web/src/components/layout/popups/ManualPipelinePopup.vue
  web/src/lib/api/index.ts
  web/src/lib/api/types/pipeline.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

Drop Gogs private mode
  cmd/server/flags.go
  cmd/server/setup.go
  docs/docs/30-administration/11-forges/70-gogs.md
  docs/docs/91-migrations.md
  server/api/repo.go
  server/forge/gitlab/convert.go
  server/forge/gogs/gogs.go
  server/forge/gogs/gogs_test.go
  server/forge/gogs/helper.go
  server/forge/gogs/helper_test.go
  server/forge/gogs/parse.go
  server/forge/types/errors.go
  server/model/const.go
  server/model/repo.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Drop Gogs private mode (#1726)
  cmd/server/flags.go
  cmd/server/setup.go
  docs/docs/30-administration/11-forges/70-gogs.md
  docs/docs/91-migrations.md
  server/api/repo.go
  server/forge/gitlab/convert.go
  server/forge/gogs/gogs.go
  server/forge/gogs/gogs_test.go
  server/forge/gogs/helper.go
  server/forge/gogs/helper_test.go
  server/forge/gogs/parse.go
  server/forge/types/errors.go
  server/model/const.go
  server/model/repo.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, dummy-web, sqlite, postgres, mysql, codecov

UI refactors
  web/src/lib/api/index.ts
  web/src/lib/api/types/pipeline.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

server refactors
  server/api/pipeline.go
  server/forge/configFetcher.go
  server/forge/configFetcher_test.go
  server/model/const.go
  server/model/secret.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix
  server/forge/configFetcher_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Some small code refactorings (#1727)
  server/api/pipeline.go
  server/forge/configFetcher.go
  server/model/const.go
  server/model/secret.go
  web/src/lib/api/index.ts
  web/src/lib/api/types/pipeline.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Translated using Weblate (Russian)
  web/src/assets/locales/ru.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun

feat: agent should retry connecting to server
  cmd/agent/main.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**)
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
