Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

build-web:
  group: prepare
  image: node:18-alpine
  directory: web/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

vendor:
  group: prepare
  image: golang:1.19.5
  commands:
  - go mod vendor

build-server:
  group: build
  image: golang:1.19.5
  commands:
  - make release-server

build-agent:
  group: build
  image: golang:1.19.5
  commands:
  - make release-agent

build-cli:
  group: build
  image: golang:1.19.5
  commands:
  - make release-cli

build-deb-rpm:
  group: bundle
  image: golang:1.19.5
  commands:
  - make bundle

build-tarball:
  group: bundle
  image: golang:1.19.5
  commands:
  - make release-tarball

checksums:
  image: golang:1.19.5
  commands:
  - make release-checksums

release-dryrun:
  image: golang:1.19.5
  commands:
  - ls -la dist/*.*
  - cat dist/checksums.txt

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy-prepare:
  image: alpine
  commands:
  - apk add --no-cache git rsync
  - git clone -b ${CI_REPO_DEFAULT_BRANCH} --single-branch https://github.com/woodpecker-ci/woodpecker-ci.github.io pages_repo

deploy:
  image: appleboy/drone-git-push
  secrets:
  - BOT_PRIVATE_KEY
  settings:
    branch: ${CI_REPO_DEFAULT_BRANCH}
    ssh_key:
      from_secret: BOT_PRIVATE_KEY
    remote: git@github.com:woodpecker-ci/woodpecker-ci.github.io.git
    author_name: woodpecker-bot
    author_email: woodpecker-bot@obermui.de
  ...

forgejo:
  detach: true
  image: codeberg.org/forgejo/forgejo:1.18
  pull: true
  ports:
  - '80'
  environment:
  - FORGEJO__security__INSTALL_LOCK=true
  - FORGEJO__server__HTTP_PORT=80
  - FORGEJO__server__ROOT_URL=http://forgejo/
  - FORGEJO__repository__ENABLE_PUSH_CREATE_USER=true
  commands: '/usr/bin/entrypoint &
  
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

test:
  image: golang:1.19
  group: test
  commands: 'apt-get update --quiet && apt-get install -y -qq jq
  
    /woodpecker/api -X POST --data-binary ''{"username": "myorg"}'' http://forgejo/api/v1/orgs
  
    owners=$(/woodpecker/api http://forgejo/api/v1/orgs/myorg/teams | jq ''.[0].id'')
  
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

Fix missing table
  server/store/datastore/migration/018_parent_steps_to_workflows.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Rename pipeline frontend types (#1829)
  docs/docs/20-usage/25-workflows.md
  pipeline/frontend/yaml/compiler/cacher.go
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/container.go
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/backend_options.go
  pipeline/frontend/yaml/types/base/base_types_test.go
  pipeline/frontend/yaml/types/base/bool.go
  pipeline/frontend/yaml/types/base/bool_test.go
  pipeline/frontend/yaml/types/base/int.go
  pipeline/frontend/yaml/types/base/map.go
  pipeline/frontend/yaml/types/base/slice.go
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/container_test.go
  pipeline/frontend/yaml/types/secret.go
  pipeline/frontend/yaml/types/secret_test.go
  pipeline/frontend/yaml/types/types_yaml.go
  pipeline/frontend/yaml/types/workflow.go
  pipeline/frontend/yaml/types/workflow_network.go
  pipeline/frontend/yaml/types/workflow_network_test.go
  pipeline/frontend/yaml/types/workflow_volume.go
  pipeline/frontend/yaml/types/workflow_volume_test.go
  pipeline/stepBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Fix api client and ui
  cli/pipeline/ps.go
  server/model/step.go
  server/store/datastore/step.go
  server/store/datastore/workflow.go
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/components/repo/pipeline/PipelineStepDuration.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/compositions/useEvents.ts
  web/src/lib/api/index.ts
  web/src/lib/api/types/pipeline.ts
  web/src/store/pipelines.ts
  web/src/utils/helpers.ts
  web/src/views/repo/pipeline/Pipeline.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
  woodpecker-go/woodpecker/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Fix tests
  server/model/step.go
  server/pipeline/start.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Update server/api/pipeline.go
  server/api/pipeline.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Review suggestions
  server/grpc/rpc.go
  server/model/pipeline.go
  server/model/workflow.go
  server/store/datastore/step.go
  server/store/mocks/store.go
  server/store/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Better naming
  server/api/pipeline.go
  server/grpc/rpc.go
  server/pipeline/cancel.go
  server/pipeline/decline.go
  server/store/datastore/step.go
  server/store/datastore/workflow.go
  server/store/mocks/store.go
  server/store/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

fix merge
  cli/pipeline/logs.go
  web/src/components/repo/pipeline/PipelineLog.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

update routes
  server/api/badge.go
  server/api/cron.go
  server/api/pipeline.go
  server/api/registry.go
  server/api/repo.go
  server/api/repo_secret.go
  server/api/stream.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

pipeline config: switch to new "steps:" keyword from "pipeline:"
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/types/workflow.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

update docs & add migration notice
  docs/docs/10-intro.md
  docs/docs/20-usage/10-intro.md
  docs/docs/20-usage/15-terminology.md
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/25-workflows.md
  docs/docs/20-usage/30-matrix-workflows.md
  docs/docs/20-usage/35-advanced-yaml-syntax.md
  docs/docs/20-usage/40-secrets.md
  docs/docs/20-usage/45-cron.md
  docs/docs/20-usage/50-environment.md
  docs/docs/20-usage/51-plugins/10-plugins.md
  docs/docs/20-usage/51-plugins/20-sample-plugin.md
  docs/docs/20-usage/60-services.md
  docs/docs/20-usage/70-volumes.md
  docs/docs/30-administration/100-external-configuration-api.md
  docs/docs/30-administration/22-backends/20-local.md
  docs/docs/30-administration/22-backends/40-kubernetes.md
  docs/docs/91-migrations.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

adjust tests and schema
  pipeline/frontend/metadata_test.go
  pipeline/frontend/yaml/linter/linter_test.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/samples/sample_1/pipeline.yml
  pipeline/samples/sample_10_windows/pipeline.yml
  pipeline/samples/sample_2/pipeline.yml
  pipeline/samples/sample_3/pipeline.yml
  pipeline/samples/sample_4/pipeline.yml
  pipeline/samples/sample_5/pipeline.yml
  pipeline/samples/sample_6/pipeline.yml
  pipeline/samples/sample_7_redis/pipeline.yml
  pipeline/samples/sample_8_network_mode/pipeline.yml
  pipeline/samples/sample_8_postgres/pipeline.yml
  pipeline/samples/sample_9_cache/pipeline.yml
  pipeline/schema/.woodpecker/test-branches-array.yml
  pipeline/schema/.woodpecker/test-branches-exclude-include.yml
  pipeline/schema/.woodpecker/test-branches.yml
  pipeline/schema/.woodpecker/test-broken.yml
  pipeline/schema/.woodpecker/test-clone-skip.yml
  pipeline/schema/.woodpecker/test-clone.yml
  pipeline/schema/.woodpecker/test-labels.yml
  pipeline/schema/.woodpecker/test-matrix.yml
  pipeline/schema/.woodpecker/test-merge-map-and-sequence.yml
  pipeline/schema/.woodpecker/test-multi.yml
  pipeline/schema/.woodpecker/test-pipeline-when.yml
  pipeline/schema/.woodpecker/test-platform.yml
  pipeline/schema/.woodpecker/test-plugin.yml
  pipeline/schema/.woodpecker/test-run-on.yml
  pipeline/schema/.woodpecker/test-service.yml
  pipeline/schema/.woodpecker/test-step.yml
  pipeline/schema/.woodpecker/test-when.yml
  pipeline/schema/.woodpecker/test-workspace.yml
  pipeline/schema/schema.json
  pipeline/stepBuilder_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

WIP: add version to workflow configs
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/types/workflow.go
  pipeline/frontend/yaml/version.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

update
  pipeline/schema/schema.json
Due: vendor, test, lint, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

use makefile to install tools
  docker/Dockerfile.make
Due: none

make in_docker work again (#1830)
  Makefile
  docker/Dockerfile.make
Due: none

revert unintendet rename
  pipeline/frontend/metadata_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

fix schema
  pipeline/schema/schema.json
Due: vendor, test, lint, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

start migration of own pipeline
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/docs.yml
  .woodpecker/test.yml
  .woodpecker/web.yml
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

add tests to ensure old pipelines are still parsed
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/parse_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

meh
  pipeline/frontend/yaml/parse_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

wip wip
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/base/base_types_test.go
  pipeline/frontend/yaml/types/base/bool.go
  pipeline/frontend/yaml/types/base/bool_test.go
  pipeline/frontend/yaml/types/base/slice.go
  pipeline/frontend/yaml/types/base/slice_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

format
  pipeline/frontend/yaml/parse_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Drop old columns
  cmd/server/docs/docs.go
  pipeline/stepBuilder.go
  server/model/pipeline.go
  server/model/step.go
  server/model/step_test.go
  server/pipeline/create.go
  server/store/datastore/migration/018_drop_old_cols.go
  server/store/datastore/migration/migration.go
  server/store/datastore/step_test.go
  web/src/lib/api/types/pipeline.ts
  woodpecker-go/woodpecker/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Drop old columns (#1838)
  cmd/server/docs/docs.go
  pipeline/stepBuilder.go
  server/model/pipeline.go
  server/model/step.go
  server/model/step_test.go
  server/pipeline/create.go
  server/store/datastore/migration/018_drop_old_cols.go
  server/store/datastore/migration/migration.go
  server/store/datastore/step_test.go
  web/src/lib/api/types/pipeline.ts
  woodpecker-go/woodpecker/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Get workflow id from clone steps
  pipeline/backend/local/local.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

rm dublicated import
  cli/exec/exec.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Get workflow id from clone steps (#1839)
  pipeline/backend/local/local.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

split
  pipeline/stepBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

fix forgotten tag docs
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

fix schema too
  pipeline/schema/schema.json
Due: vendor, test, lint, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

fix schema too - tests
  pipeline/schema/.woodpecker/test-when.yml
Due: vendor, test, lint, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

adjust
  server/store/datastore/migration/019_alter_logs_table.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

init table first
  server/store/datastore/migration/019_alter_logs_table.go
  server/store/datastore/migration/migration.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

less verbose
  server/store/datastore/migration/019_alter_logs_table.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

remove hack
  server/store/datastore/migration/migration.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

show "still running" info if a migration task takes more than 20 seconds
  server/store/datastore/migration/migration.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

tune pervormance
  server/store/datastore/migration/019_alter_logs_table.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**)
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
