Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, deploy-preview, deploy, set-version, lint, release, test-schema, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck, securitycheck

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml
  deploy-preview: any of: docs/**, .woodpecker/docs.yml
  deploy: any of: docs/**, .woodpecker/docs.yml
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**
  formatcheck: any of: .woodpecker/web.yml, web/**
  typecheck: any of: .woodpecker/web.yml, web/**
  securitycheck: any of: .woodpecker/web.yml, web/**

Use package's structs and fix missing clone
  server/model/repo.go
  server/remote/bitbucketserver/convert_test.go
  server/remote/bitbucketserver/internal/types.go
  server/remote/bitbucketserver/parse.go
  server/remote/coding/hook.go
  server/remote/coding/hook_test.go
  server/remote/gitea/fixtures/hooks.go
  server/remote/gitea/helper.go
  server/remote/gitea/helper_test.go
  server/remote/gitea/parse.go
  server/remote/gitea/types.go
  server/remote/gogs/gogs.go
  server/remote/gogs/helper.go
  server/remote/gogs/helper_test.go
  server/remote/gogs/parse.go
  server/remote/gogs/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

More replacements
  server/remote/gitea/types.go
  server/remote/gogs/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix test
  server/remote/coding/hook_test.go
  server/remote/gitea/helper_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix readme grammar
  README.md
Due: none

On Repo update, keep old "Clone" if update would empty it (#1170)
  server/model/repo.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Update Makefile
  Makefile
Due: none

Fix readme grammar and increase golangci-lint timeout (#1173)
  Makefile
  README.md
Due: none

Use package's structs and fix missing clone (#1172)
  server/model/repo.go
  server/remote/bitbucketserver/convert_test.go
  server/remote/bitbucketserver/internal/types.go
  server/remote/bitbucketserver/parse.go
  server/remote/coding/hook.go
  server/remote/coding/hook_test.go
  server/remote/gitea/fixtures/hooks.go
  server/remote/gitea/helper.go
  server/remote/gitea/helper_test.go
  server/remote/gitea/parse.go
  server/remote/gitea/types.go
  server/remote/gogs/gogs.go
  server/remote/gogs/helper.go
  server/remote/gogs/helper_test.go
  server/remote/gogs/parse.go
  server/remote/gogs/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

[Bitbucket] Use workspaces instead of deprecated/removed teams path
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucket/convert.go
  server/remote/bitbucket/convert_test.go
  server/remote/bitbucket/internal/client.go
  server/remote/bitbucket/internal/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

update raw HookPush to current sample
  server/remote/bitbucket/fixtures/hooks.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

adopt new fixtures and add TODO
  server/remote/bitbucket/bitbucket_test.go
  server/remote/bitbucket/fixtures/handler.go
  server/remote/bitbucket/fixtures/hooks.go
  server/remote/bitbucket/internal/types.go
  server/remote/bitbucket/parse_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

manual_build_ui: add manual to IconNames
  web/src/components/atomic/Icon.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_build: move ManualBuildReq to types.go
  server/api/build.go
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/types.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

manual_build_ui: rename manual build struct
  web/src/lib/api/index.ts
  web/src/views/repo/RepoBuild.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_build: add session.MustPush to route
  server/router/api.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

manual_builds_ui: hide button if missing push perm
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_build: move import
  server/api/build.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Translated using Weblate (French)
  web/src/assets/locales/fr.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

Translated using Weblate (German)
  web/src/assets/locales/de.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

Translated using Weblate (Chinese (Simplified))
  web/src/assets/locales/zh_Hans.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

Update web/src/assets/locales/en.json
  web/src/assets/locales/en.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_build: use buildOptions instead of separate branch / variables
  cli/build/build_create.go
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/interface.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

some tiny ui adjustments
  web/pnpm-lock.yaml
  web/src/assets/locales/en.json
  web/src/components/form/TextField.vue
  web/src/compositions/useInjectProvide.ts
  web/src/views/repo/RepoBuild.vue
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

Update web/src/views/repo/RepoBuild.vue
  web/src/views/repo/RepoBuild.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

Update web/src/router.ts
  web/src/router.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_build: remove intrusive lockfile
  web/pnpm-lock.yaml
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_builds_ui: remove default var
  web/src/views/repo/RepoBuild.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_build_ui: rename path for button
  web/components.d.ts
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_build: renamed variables to AdditionalVariables
  server/api/build.go
  server/model/build.go
  server/pipeline/items.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

manual_builds_ui: move to popup
  web/components.d.ts
  web/src/components/layout/Popup.vue
  web/src/router.ts
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

manual_build: lint
  cli/build/build_create.go
  web/src/components/layout/Popup.vue
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck, securitycheck

fix popup positioning
  web/src/components/layout/Popup.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

rename components
  web/components.d.ts
  web/package.json
  web/src/components/layout/popups/ManualPipelinePopup.vue
  web/src/views/repo/RepoWrapper.vue
  web/yarn.lock
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

adjust description
  web/src/assets/locales/en.json
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

add manual to secrets
  web/src/assets/locales/en.json
  web/src/components/secrets/SecretEdit.vue
  web/src/components/secrets/SecretList.vue
  web/src/lib/api/types/webhook.ts
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

some fixes, renames
  web/src/assets/locales/en.json
  web/src/components/atomic/Icon.vue
  web/src/components/layout/popups/ManualPipelinePopup.vue
  web/src/components/repo/build/BuildItem.vue
  web/src/components/repo/build/BuildProcList.vue
  web/src/lib/api/types/build.ts
  web/src/views/repo/RepoWrapper.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck, securitycheck

Fix example of YAML override and extension
  docs/docs/20-usage/35-advanced-yaml-syntax.md
Due: build, deploy-preview, deploy

Add dedicated DroneCI env compatibility layer
  pipeline/frontend/drone_compatibility.go
  pipeline/frontend/metadata.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov
