Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, deploy-preview, deploy, set-version, lint, release, test-schema, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

build-web:
  group: prepare
  image: node:16-alpine
  commands:
  - cd web/
  - yarn install --frozen-lockfile
  - yarn build

vendor:
  group: prepare
  image: golang:1.18
  commands:
  - go mod vendor

build-server:
  group: build
  image: golang:1.18
  commands:
  - make release-server

build-agent:
  group: build
  image: golang:1.18
  commands:
  - make release-agent

build-cli:
  group: build
  image: golang:1.18
  commands:
  - make release-cli

build-deb-rpm:
  group: bundle
  image: golang:1.18
  commands:
  - make bundle

build-tarball:
  group: bundle
  image: golang:1.18
  commands:
  - make release-tarball

checksums:
  image: golang:1.18
  commands:
  - make release-checksums

release-dryrun:
  image: golang:1.18
  commands:
  - ls -la dist/*.*
  - cat dist/checksums.txt

build:
  image: node:16-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

lint-pipeline:
  image: golang:1.18
  commands:
  - go run github.com/woodpecker-ci/woodpecker/cmd/cli lint

dummy-web:
  image: golang:1.18
  group: prepare
  commands:
  - mkdir -p web/dist/
  - echo "test" > web/dist/index.html

test:
  image: golang:1.18
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

sqlite:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=sqlite3
  commands:
  - make test-server-datastore-coverage

mysql:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=mysql
  - WOODPECKER_DATABASE_DATASOURCE=root@tcp(service-mysql:3306)/test?parseTime=true
  commands:
  - make test-server-datastore

use UTC for now
  server/cron/cron.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

use yaml alias and adjust build targets for docker images (#1143)
  .woodpecker/docker.yml
  docker/Dockerfile.server.multiarch
Due: lint-pipeline

Add redirection tests
  server/store/datastore/redirection.go
  server/store/datastore/redirection_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Update server/remote/coding/coding.go
  server/remote/coding/coding.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Refer to todo issue
  server/remote/coding/coding.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Remove migration
  server/store/datastore/migration/008_repo_add_remote_id.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Apply suggestions from code review
  server/cron/cron.go
  server/model/cron.go
  server/store/datastore/cron.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Prefer fmt.Sprint
  server/remote/bitbucketserver/convert.go
  server/remote/bitbucketserver/parse.go
  server/remote/gitea/helper.go
  server/remote/github/convert.go
  server/remote/gitlab/convert.go
  server/remote/gogs/helper.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Apply suggestions from code review
  server/store/datastore/cron.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

fix
  server/store/datastore/cron.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Prefer fmt.Sprint
  server/remote/gitea/helper.go
  server/remote/github/convert.go
  server/remote/gitlab/convert.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

tiny renamings
  server/api/cron.go
  woodpecker-go/woodpecker/client.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Update server/model/build.go
  server/model/build.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix migration
  server/store/datastore/migration/migration.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

removeunused code
  docs/docusaurus.config.js
Due: build, deploy-preview, deploy

fix editor config
  docs/versioned_docs/version-0.15/92-development/06-guides.md
Due: build, deploy-preview, deploy

fix; rename; add unit tests
  server/cron/cron.go
  server/cron/cron_test.go
  server/router/api.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

fix
  server/model/cron.go
  server/store/datastore/cron_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

update paths
  docs/docs/10-intro.md
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/25-multi-pipeline.md
  docs/docs/20-usage/51-plugins/10-plugins.md
  docs/docs/20-usage/70-volumes.md
  docs/docs/20-usage/71-project-settings.md
  docs/docs/30-administration/00-setup.md
  docs/docs/30-administration/10-server-config.md
  docs/docs/30-administration/11-forges/10-overview.md
  docs/docs/30-administration/15-agent-config.md
  docs/docs/30-administration/22-backends/10-docker.md
  docs/docs/30-administration/22-backends/20-local.md
  docs/docs/30-administration/70-proxy.md
  docs/docs/91-migrations.md
  docs/docs/92-development/01-getting-started.md
  docs/docs/92-development/03-ui.md
  docs/docs/92-development/04-docs.md
Due: build, deploy-preview, deploy

Fix test var
  server/store/datastore/redirection_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

allow to change cron name
  web/src/components/repo/settings/CronTab.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, test, deps, formatcheck, typecheck

pass remote on init as argument like store
  cmd/server/server.go
  server/cron/cron.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

mock store
  server/store/mocks/store.go
  server/store/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

TestCreateBuild
  server/cron/cron_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

update versioned docs paths
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/45-cron.md
  docs/versioned_docs/version-0.15/10-intro.md
  docs/versioned_docs/version-0.15/20-usage/20-pipeline-syntax.md
  docs/versioned_docs/version-0.15/20-usage/25-multi-pipeline.md
  docs/versioned_docs/version-0.15/20-usage/51-plugins/10-plugins.md
  docs/versioned_docs/version-0.15/20-usage/70-volumes.md
  docs/versioned_docs/version-0.15/20-usage/71-project-settings.md
  docs/versioned_docs/version-0.15/30-administration/00-setup.md
  docs/versioned_docs/version-0.15/30-administration/11-vcs/10-overview.md
  docs/versioned_docs/version-0.15/30-administration/15-agent-config.md
  docs/versioned_docs/version-0.15/91-migrations.md
  docs/versioned_docs/version-0.15/92-development/01-getting-started.md
  docs/versioned_docs/version-0.15/92-development/03-ui.md
  docs/versioned_docs/version-0.15/92-development/04-docs.md
Due: build, deploy-preview, deploy

fix link
  docs/versioned_docs/version-0.15/92-development/01-getting-started.md
Due: build, deploy-preview, deploy

Add OpenSSF BP Badge
  README.md
Due: none

Create mock for store and add unit tests for cron (#1146)
  cmd/server/server.go
  server/cron/cron.go
  server/cron/cron_test.go
  server/store/mocks/store.go
  server/store/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Add OpenSSF BP Badge (#1147)
  README.md
Due: none

go generate ./...
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/remote/mocks/remote.go
  server/store/mocks/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Apply suggestions from code review
  server/api/hook.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

rm unrelated
  pipeline/frontend/yaml/compiler/convert.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

update jsonschema
  pipeline/schema/.woodpecker/test-pipeline-when.yml
  pipeline/schema/schema.json
Due: vendor, lint, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

diff match constrain between step and pipeline
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/config_test.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/constraint/constraint_test.go
  server/pipeline/filter.go
  server/shared/procBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

ajust test
  pipeline/frontend/yaml/config_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Delete old fallbacks and compatible stuff (#791)
  cmd/server/setup.go
  pipeline/frontend/metadata.go
  pipeline/pipeline.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml
  deploy-preview: any of: docs/**, .woodpecker/docs.yml
  deploy: any of: docs/**, .woodpecker/docs.yml
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: web/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: web/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: web/**
  formatcheck: any of: web/**
  typecheck: any of: web/**
