Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy, set-version, lint, release, test-schema, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml
  securitycheck: (any of: docs/**, .woodpecker/docs.yml) or (any of: .woodpecker/web.yml, web/**)
  deploy-preview: any of: docs/**, .woodpecker/docs.yml
  deploy: any of: docs/**, .woodpecker/docs.yml
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**
  formatcheck: any of: .woodpecker/web.yml, web/**
  typecheck: any of: .woodpecker/web.yml, web/**

fixes
  cmd/agent/agent.go
  server/grpc/rpc.go
  server/grpc/server.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Upload `test-lib` coverage results to codecov (#1227)
  .woodpecker/test.yml
Due: vendor, lint, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

Fix gitpod link
  README.md
Due: none

Fix gitpod link (#1228)
  README.md
Due: none

Apply suggestions from code review
  pipeline/frontend/yaml/compiler/settings/params.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

fix-lint
  pipeline/frontend/yaml/compiler/settings/params.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Add support sub-settings and secrets in sub-settings (#1221)
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/frontend/yaml/compiler/params.go
  pipeline/frontend/yaml/compiler/settings/params.go
  pipeline/frontend/yaml/compiler/settings/params_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

gitea: fetch all branches
  server/remote/gitea/gitea.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

chore: lint & use break
  server/remote/gitea/gitea.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

fix dns name
  pipeline/backend/kubernetes/utils.go
  pipeline/error.go
  pipeline/frontend/yaml/container.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

update navbar spacing and ordering
  web/src/components/layout/header/ActiveBuilds.vue
  web/src/components/layout/header/Navbar.vue
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, securitycheck, lint, test, deps, formatcheck, typecheck

add wp prefix
  pipeline/backend/kubernetes/utils.go
  server/shared/procBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fix invalid service names for Kubernetes (#1234)
  pipeline/error.go
  pipeline/frontend/yaml/container.go
  server/shared/procBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Update remote.go
  server/remote/remote.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Add when evaluate filter (#1213)
  cli/exec/exec.go
  docs/docs/20-usage/20-pipeline-syntax.md
  go.mod
  go.sum
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/config_test.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/constraint/constraint_test.go
  pipeline/schema/.woodpecker/test-when.yml
  pipeline/schema/schema.json
  server/pipeline/filter.go
  server/shared/procBuilder.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy, lint, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

Update agent/runner.go
  agent/runner.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

fix test
  pipeline/frontend/yaml/config_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

bump default clone image
  shared/constant/constant.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

Fetch all branches from gitea (#1231)
  server/remote/gitea/gitea.go
  server/remote/remote.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

invent common.Paginate and use it
  server/remote/common/utils.go
  server/remote/gitea/gitea.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

use more
  server/remote/gitea/gitea.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

save one api call by probe pagesize
  server/remote/common/utils.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

slim code
  server/remote/common/utils.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

add unit test
  server/remote/common/utils_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

add root whens
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/docs.yml
  .woodpecker/helm.yml
  .woodpecker/test.yml
  .woodpecker/web.yml
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy, set-version, lint, release, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

misspell
  server/remote/common/utils.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, lint, dummy-web, test, sqlite, postgres, mysql, codecov

fix schema
  pipeline/schema/schema.json
Due: vendor, lint, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

Fix gitpod prebuild
  .gitpod.yml
Due: none

Move woodpecker-server sync-done before server start
  .gitpod.yml
Due: none

Fix gitpod prebuild (#1237)
  .gitpod.yml
Due: none

Fix app and docs start directory
  .gitpod.yml
Due: none

Fix app and docs start directory (#1239)
  .gitpod.yml
Due: none

Replace yarn with pnpm
  docs/package.json
  docs/plugins/woodpecker-plugins/package.json
  docs/plugins/woodpecker-plugins/pnpm-lock.yaml
  docs/plugins/woodpecker-plugins/yarn.lock
  docs/pnpm-lock.yaml
  docs/yarn.lock
  web/pnpm-lock.yaml
  web/yarn.lock
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy, lint, test, deps, formatcheck, typecheck

replace yarn commands with pnpm
  .gitpod.yml
  .vscode/launch.json
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/docs.yml
  .woodpecker/web.yml
  Makefile
  docs/README.md
  web/.prettierignore
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy, lint, lint-pipeline, test, deps, formatcheck, typecheck

Respect preferred color scheme in docs
  docs/docusaurus.config.js
Due: build, securitycheck, deploy-preview, deploy

update docs
  docs/docs/92-development/01-getting-started.md
  docs/docs/92-development/03-ui.md
  docs/docs/92-development/04-docs.md
  docs/versioned_docs/version-0.15/92-development/01-getting-started.md
Due: build, securitycheck, deploy-preview, deploy

corepack enable in all steps
  .woodpecker/web.yml
Due: securitycheck, lint, lint-pipeline, test, deps, formatcheck, typecheck

Respect preferred color scheme in docs (#1241)
  docs/docusaurus.config.js
Due: build, securitycheck, deploy-preview, deploy
