Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, lint-pipeline, dummy-web, sqlite, postgres, mysql, codecov

build-web:
  group: prepare
  image: node:18-alpine
  directory: web/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

vendor:
  group: prepare
  image: golang:1.19.5
  commands:
  - go mod vendor

build-server:
  group: build
  image: golang:1.19.5
  commands:
  - make release-server

build-agent:
  group: build
  image: golang:1.19.5
  commands:
  - make release-agent

build-cli:
  group: build
  image: golang:1.19.5
  commands:
  - make release-cli

build-deb-rpm:
  group: bundle
  image: golang:1.19.5
  commands:
  - make bundle

build-tarball:
  group: bundle
  image: golang:1.19.5
  commands:
  - make release-tarball

checksums:
  image: golang:1.19.5
  commands:
  - make release-checksums

release-dryrun:
  image: golang:1.19.5
  commands:
  - ls -la dist/*.*
  - cat dist/checksums.txt

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy-prepare:
  image: alpine
  commands:
  - apk add --no-cache git rsync
  - git clone -b ${CI_REPO_DEFAULT_BRANCH} --single-branch https://github.com/woodpecker-ci/woodpecker-ci.github.io pages_repo

deploy:
  image: appleboy/drone-git-push
  secrets:
  - BOT_PRIVATE_KEY
  settings:
    branch: ${CI_REPO_DEFAULT_BRANCH}
    ssh_key:
      from_secret: BOT_PRIVATE_KEY
    remote: git@github.com:woodpecker-ci/woodpecker-ci.github.io.git
    author_name: woodpecker-bot
    author_email: woodpecker-bot@obermui.de
  ...

forgejo:
  detach: true
  image: codeberg.org/forgejo/forgejo:1.18
  pull: true
  ports:
  - '80'
  environment:
  - FORGEJO__security__INSTALL_LOCK=true
  - FORGEJO__server__HTTP_PORT=80
  - FORGEJO__server__ROOT_URL=http://forgejo/
  - FORGEJO__repository__ENABLE_PUSH_CREATE_USER=true
  commands: '/usr/bin/entrypoint &
  
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

test:
  image: golang:1.19
  group: test
  commands: 'apt-get update --quiet && apt-get install -y -qq jq
  
    /woodpecker/api -X POST --data-binary ''{"username": "myorg"}'' http://forgejo/api/v1/orgs
  
    owners=$(/woodpecker/api http://forgejo/api/v1/orgs/myorg/teams | jq ''.[0].id'')
  
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

Remove debugging print statement
  pipeline/frontend/yaml/container.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix formatting
  pipeline/backend/types/backend.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Give variable a more distinct name
  pipeline/backend/kubernetes/pod.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Move kubernetes backend options to dedicated mapping
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/types/backend.go
  pipeline/backend/types/backend_kubernetes.go
  pipeline/backend/types/step.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/frontend/yaml/container.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Move documentation links to .md path style
  docs/docs/30-administration/15-agent-config.md
  docs/docs/30-administration/80-kubernetes.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

git ignore 90-rest-api.md, because auto-generated
  .gitignore
  docs/docs/20-usage/90-rest-api.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

remove 90-rest-api.md, as suggested in PR review
  docs/docs/20-usage/90-rest-api.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Update cmd/server/swagger.go
  cmd/server/swagger.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Update cmd/server/woodpecker_docs_gen.go
  cmd/server/woodpecker_docs_gen.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

don't export this constant
  cmd/server/woodpecker_docs_gen.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

don't export this function
  server/router/router.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

use single backticks, as recommended in PR review
  docs/docs/92-development/08-swagger.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

use tripple backticks as suggested in PR review
  docs/docs/92-development/08-swagger.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

execute `make format`
  cmd/server/main.go
  cmd/server/woodpecker_docs_gen.go
  server/router/router.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Update server/api/badge.go
  server/api/badge.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

better documentation for /user/token endpoint, from PR review
  cmd/server/docs/docs.go
  server/api/user.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Update server/api/hook.go
  server/api/hook.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

improve documentation wording, as suggested
  docs/docs/30-administration/10-server-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

did `make format` rework handleCustomFilesAndAssets() to work with relative paths
  server/web/web.go
  server/web/web_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

link swag issue
  docs/docs/92-development/08-swagger.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

fix case sensitive comment
  cmd/server/swagger.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

drop test for renaming, seems to be a bug in swag tool
  server/queue/queue.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

enrich TODO, to help solving it
  server/api/hook.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix static assets with subpath
  server/web/web.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add own workflow model
  docs/plugins/woodpecker-plugins/src/icon.ts
  pipeline/stepBuilder.go
  pipeline/stepBuilder_test.go
  server/api/pipeline.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucketserver/bitbucketserver.go
  server/forge/common/status.go
  server/forge/common/status_test.go
  server/forge/forge.go
  server/forge/gitea/gitea.go
  server/forge/gitea/gitea_test.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/forge/mocks/forge.go
  server/grpc/rpc.go
  server/model/pipeline.go
  server/model/step.go
  server/model/step_test.go
  server/model/workflow.go
  server/pipeline/cancel.go
  server/pipeline/create.go
  server/pipeline/decline.go
  server/pipeline/helper.go
  server/pipeline/start.go
  server/pipeline/topic.go
  server/pipeline/workflowStatus.go
  server/queue/fifo.go
  server/store/datastore/file_test.go
  server/store/datastore/migration/016_parent_steps_to_workflows.go
  server/store/datastore/migration/migration.go
  server/store/datastore/step.go
  server/store/datastore/step_test.go
  server/store/datastore/workflow.go
  server/store/mocks/store.go
  server/store/store.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, dummy-web, sqlite, postgres, mysql, codecov

fix tests
  server/store/datastore/file_test.go
  server/store/datastore/step.go
  server/store/datastore/step_test.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix lint
  server/model/step.go
  server/model/workflow.go
  server/store/datastore/migration/016_parent_steps_to_workflows.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Fix lint
  server/grpc/rpc.go
  server/pipeline/cancel.go
  server/pipeline/workflowStatus.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Remove file
  docs/plugins/woodpecker-plugins/src/icon.ts
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Fix static assets with subpath (#1783)
  server/web/web.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

use `Sync`
  server/store/datastore/engine_test.go
  server/store/datastore/migration/000_legacy_to_xorm.go
  server/store/datastore/migration/007_secrets_add_user.go
  server/store/datastore/migration/008_recreate_agents_table.go
  server/store/datastore/migration/012_rename_remote_to_forge.go
  server/store/datastore/migration/migration.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

some small improvements
  server/store/datastore/migration/016_parent_steps_to_workflows.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Add Forge Metadata
  pipeline/frontend/metadata.go
  pipeline/stepBuilder.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucketserver/bitbucketserver.go
  server/forge/forge.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/forge/mocks/forge.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

update docs
  docs/docs/20-usage/50-environment.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

WIP: fix env var resolve on global when filter
  server/pipeline/create.go
  server/pipeline/filter.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

use existing repo and copy data
  server/api/user.go
Due: build-web, vendor, build-server, build-agent, build-cli, build-deb-rpm, build-tarball, checksums, release-dryrun, test, lint, dummy-web, sqlite, postgres, mysql, codecov

Path conditions:
  build-web: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  vendor: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  build-server: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-agent: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-cli: (any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**) or (any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**)
  build-deb-rpm: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build-tarball: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  checksums: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  release-dryrun: any of: .woodpecker/binaries.yml, nfpm/*.yml, **/*.go, go.*, web/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
