Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, integration, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

publish-next-server:
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server
    platforms: linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le,linux/riscv64
    tag:
    - next
  ...

publish-next-server-alpine:
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
    tag:
    - next-alpine
  ...

publish-next-agent:
  depends_on:
  - publish-next-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent
  ...

publish-next-agent-alpine:
  depends_on:
  - publish-next-server-alpine
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent
  ...

publish-next-cli:
  depends_on:
  - publish-next-agent
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli
  ...

publish-next-cli-alpine:
  depends_on:
  - publish-next-agent-alpine
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
  ...

cross-compile-server:
  depends_on:
  - vendor
  - build-web
  image: docker.io/techknowlogick/xgo:go-1.21.5
  pull: true
  commands:
  - apt update
  - apt install -y tree
  - make cross-compile-server
  environment:
    PLATFORMS: linux|arm/v7;linux|arm64/v8;linux|amd64;linux|ppc64le;linux|riscv64
  ...

publish-release-branch-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-release-branch-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-release-branch-agent:
  depends_on:
  - vendor
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

vendor:
  image: docker.io/golang:1.21.5
  commands:
  - go mod vendor

flake.lock: Update (#6656)
  flake.lock
Due: none

🎉 Release 3.15.0
  CHANGELOG.md
Due: none

Apply suggestion from @6543
  .woodpecker/docker.yaml
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, lint-pipeline

Apply suggestion from @6543
  .woodpecker/binaries.yaml
Due: lint-pipeline

fix test
  pipeline/frontend/builder/builder_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

add depends on error case
  e2e/scenarios/fixtures/16_multi_workflow_missing_required_depends_on/check-a.yaml
  e2e/scenarios/fixtures/16_multi_workflow_missing_required_depends_on/deploy.yaml
  e2e/scenarios/fixtures/16_multi_workflow_missing_required_depends_on/scenario.json
  e2e/scenarios/fixtures/17_step_missing_required_depends_on.json
  e2e/scenarios/fixtures/17_step_missing_required_depends_on.yaml
Due: none

xor does not support "freebsd/amd64"
  .woodpecker/binaries.yaml
  .woodpecker/docker.yaml
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, lint-pipeline

unify filter func
  pipeline/frontend/builder/builder.go
  pipeline/frontend/builder/builder_test.go
  pipeline/frontend/builder/utils.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

explizite test
  pipeline/frontend/yaml/types/base/depends_on.go
  pipeline/frontend/yaml/types/base/depends_on_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

resolve todo :tada: - update TestReSerialize for depends_on
  pipeline/frontend/yaml/parse_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

mv pipeline/frontend/yaml/{types/base,constraint}/
  pipeline/frontend/builder/builder_test.go
  pipeline/frontend/builder/types.go
  pipeline/frontend/builder/utils.go
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/frontend/yaml/compiler/dag.go
  pipeline/frontend/yaml/compiler/dag_test.go
  pipeline/frontend/yaml/constraint/depends_on.go
  pipeline/frontend/yaml/constraint/depends_on_test.go
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/workflow.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

nit
  pipeline/frontend/yaml/compiler/dag.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

prettier
  e2e/scenarios/fixtures/16_multi_workflow_missing_required_depends_on/scenario.json
Due: none

fmt
  cmd/agent/core/agent.go
  e2e/setup/forge.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

adjust codebase
  server/api/agent.go
  server/store/mocks/mock_Store.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

lint
  pipeline/frontend/yaml/constraint/depends_on_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Apply suggestions from code review
  pipeline/frontend/yaml/constraint/depends_on.go
  pipeline/frontend/yaml/constraint/depends_on_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

docs
  docs/docs/30-administration/00-general.md
  docs/docs/30-administration/05-installation/05-supported-platforms.md
  docs/docs/30-administration/05-installation/30-packages.md
  docs/docs/30-administration/10-configuration/11-backends/30-local.md
Due: deploy-preview

Support optional flag in depends_on for workflows and steps (#6461)
  docs/docs/20-usage/20-workflow-syntax.md
  docs/docs/20-usage/25-workflows.md
  e2e/scenarios/fixtures/14_multi_workflow_optional_depends_on/check-a.yaml
  e2e/scenarios/fixtures/14_multi_workflow_optional_depends_on/check-b.yaml
  e2e/scenarios/fixtures/14_multi_workflow_optional_depends_on/deploy.yaml
  e2e/scenarios/fixtures/14_multi_workflow_optional_depends_on/scenario.json
  e2e/scenarios/fixtures/15_step_optional_depends_on/build.yaml
  e2e/scenarios/fixtures/15_step_optional_depends_on/scenario.json
  e2e/scenarios/fixtures/16_multi_workflow_missing_required_depends_on/check-a.yaml
  e2e/scenarios/fixtures/16_multi_workflow_missing_required_depends_on/deploy.yaml
  e2e/scenarios/fixtures/16_multi_workflow_missing_required_depends_on/scenario.json
  e2e/scenarios/fixtures/17_step_missing_required_depends_on.json
  e2e/scenarios/fixtures/17_step_missing_required_depends_on.yaml
  pipeline/frontend/builder/builder.go
  pipeline/frontend/builder/builder_test.go
  pipeline/frontend/builder/types.go
  pipeline/frontend/builder/utils.go
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/frontend/yaml/compiler/dag.go
  pipeline/frontend/yaml/compiler/dag_test.go
  pipeline/frontend/yaml/constraint/depends_on.go
  pipeline/frontend/yaml/constraint/depends_on_test.go
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/linter/schema/schema.json
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/workflow.go
  server/pipeline/queue.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

update doc
  docs/docs/30-administration/05-installation/05-supported-platforms.md
Due: deploy-preview

Release freebsd/openbsd as binary not container (#6610)
  .woodpecker/binaries.yaml
  .woodpecker/docker.yaml
  Makefile
  docs/docs/30-administration/00-general.md
  docs/docs/30-administration/05-installation/05-supported-platforms.md
  docs/docs/30-administration/05-installation/30-packages.md
  docs/docs/30-administration/10-configuration/11-backends/30-local.md
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, deploy-preview, lint-pipeline

update docs
  docs/versioned_docs/version-3.15/20-usage/20-workflow-syntax.md
  docs/versioned_docs/version-3.15/20-usage/25-workflows.md
  docs/versioned_docs/version-3.15/30-administration/00-general.md
  docs/versioned_docs/version-3.15/30-administration/05-installation/05-supported-platforms.md
  docs/versioned_docs/version-3.15/30-administration/05-installation/30-packages.md
  docs/versioned_docs/version-3.15/30-administration/10-configuration/11-backends/30-local.md
Due: deploy-preview

build: fix freebsd server build
  .woodpecker/docker.yaml
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, lint-pipeline

build: fix freebsd server build (#6663)
  .woodpecker/docker.yaml
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, lint-pipeline

🎉 Release 3.15.0 (#6525)
  CHANGELOG.md
Due: none

Cleanup e2e test setup (#6480)
  agent/rpc/dial.go
  cmd/agent/core/agent.go
  cmd/server/grpc_server.go
  e2e/scenarios/fixtures.go
  e2e/setup/agent.go
  e2e/setup/forge.go
  e2e/setup/server.go
  e2e/setup/wait.go
  server/rpc/serve.go
  server/rpc/server.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

🎉 Release 3.16.0
  CHANGELOG.md
Due: none

Show correct default paths in UI
  cmd/server/setup.go
  server/config.go
  server/web/config.go
  web/src/assets/locales/en.json
  web/src/compositions/useConfig.ts
  web/src/views/repo/settings/General.vue
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, forgejo, forgejo-wait, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

xyaml
  cli/exec/exec.go
  go.mod
  go.sum
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/linter/schema/schema.go
  pipeline/frontend/yaml/matrix/matrix.go
  pipeline/frontend/yaml/parse.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Show correct default paths in UI (#6665)
  cmd/server/setup.go
  server/config.go
  server/web/config.go
  web/src/assets/locales/en.json
  web/src/compositions/useConfig.ts
  web/src/views/repo/settings/General.vue
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, forgejo, forgejo-wait, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

🎉 Release 3.15.1
  CHANGELOG.md
Due: none

Path conditions:
  publish-next-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  integration: any of: .woodpecker/integration.yaml, **/*.go, go.*
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  format-check: any of: .woodpecker/web.yaml, web/**, server/api/**
  typecheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
