Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, integration, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

publish-next-server:
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server
    platforms: linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le,linux/riscv64
    tag:
    - next
  ...

publish-next-server-alpine:
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
    tag:
    - next-alpine
  ...

publish-next-agent:
  depends_on:
  - publish-next-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent
  ...

publish-next-agent-alpine:
  depends_on:
  - publish-next-server-alpine
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent
  ...

publish-next-cli:
  depends_on:
  - publish-next-agent
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli
  ...

publish-next-cli-alpine:
  depends_on:
  - publish-next-agent-alpine
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
  ...

cross-compile-server:
  depends_on:
  - vendor
  - build-web
  image: docker.io/techknowlogick/xgo:go-1.21.5
  pull: true
  commands:
  - apt update
  - apt install -y tree
  - make cross-compile-server
  environment:
    PLATFORMS: linux|arm/v7;linux|arm64/v8;linux|amd64;linux|ppc64le;linux|riscv64
  ...

publish-release-branch-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-release-branch-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-release-branch-agent:
  depends_on:
  - vendor
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

vendor:
  image: docker.io/golang:1.21.5
  commands:
  - go mod vendor

🎉 Release 3.19.0
  CHANGELOG.md
Due: none

Add version endpoint to API as per spec (#7232)
  cmd/server/health.go
  server/router/api.go
  server/router/router.go
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/client_test.go
  woodpecker-go/woodpecker/interface.go
  woodpecker-go/woodpecker/mocks/mock_Client.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

address
  server/rpc/serve_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix pnpm format
  docs/package.json
  docs/pnpm-lock.yaml
Due: deploy-preview

add versions
  docs/src/pages/versions.md
Due: deploy-preview

Fix log responsivness if log entries are received continuously fast
  agent/rpc/client_grpc.go
  agent/rpc/client_grpc_test.go
  server/rpc/rpc.go
  server/rpc/rpc_integration_test.go
  server/rpc/sanitize.go
  server/rpc/sanitize_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Move config extension payload into its own file
  server/services/config/extension.go
  server/services/config/http.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Do not use old config on unexpected status of config extension
  server/services/config/http.go
  server/services/config/http_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Cover WebAssembly config extension in e2e tests
  e2e/scenarios/config_extension_test.go
  e2e/setup/server.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix config errors being covered up by a later service
  server/services/config/combined.go
  server/services/config/combined_errors_test.go
  server/services/config/combined_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Add sandbox to run WebAssembly modules inside the server
  .cspell.json
  go.mod
  go.sum
  server/services/utils/wasm/runner.go
  server/services/utils/wasm/runner_test.go
  server/services/utils/wasm/testdata/guest/main.go
  server/services/utils/wasm/wasmtest/build.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Add WebAssembly module as global config extension
  .cspell.json
  cmd/server/flags.go
  cmd/server/setup.go
  docs/docs/20-usage/72-extensions/40-configuration-extension.md
  docs/docs/30-administration/10-configuration/10-server.md
  e2e/setup/server.go
  server/services/config/testdata/guest/main.go
  server/services/config/wasm.go
  server/services/config/wasm_test.go
  server/services/manager.go
  server/services/setup.go
  server/services/setup_test.go
  server/services/utils/wasm/wasmtest/build.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix server panic on null entry in config extension response
  server/services/config/extension.go
  server/services/config/http.go
  server/services/config/http_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Limit the response size of extensions
  server/services/utils/http.go
  server/services/utils/http_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Raise timeout of server and e2e tests
  Makefile
Due: none

Fix name of WOODPECKER_CONFIG_EXTENSION_EXCLUSIVE in docs
  docs/docs/30-administration/10-configuration/10-server.md
Due: deploy-preview

Keep one repo from taking all WebAssembly slots
  docs/docs/20-usage/72-extensions/40-configuration-extension.md
  server/services/config/wasm.go
  server/services/utils/wasm/keyed_lock.go
  server/services/utils/wasm/runner.go
  server/services/utils/wasm/runner_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix server panic on null entry in config extension response
  server/services/config/http.go
  server/services/config/http_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Release agents waiting on long polls during server shutdown (#7189)
  server/rpc/rpc.go
  server/rpc/serve.go
  server/rpc/serve_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix step logs lost when pipeline ends with skipped workflows (#7240)
  agent/rpc/client_grpc.go
  agent/rpc/client_grpc_test.go
  server/rpc/rpc.go
  server/rpc/rpc_integration_test.go
  server/rpc/sanitize.go
  server/rpc/sanitize_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update docs/src/pages/versions.md
  docs/src/pages/versions.md
Due: deploy-preview

Move combined error tests into combined_test.go
  server/services/config/combined_errors_test.go
  server/services/config/combined_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

CLI exec sanitize secrets too (#6877)
  agent/log/line_writer.go
  agent/log/line_writer_test.go
  agent/logger.go
  cli/exec/exec.go
  cli/exec/exec_test.go
  cli/exec/line.go
  cli/exec/line_test.go
  pipeline/shared/replace_secrets.go
  pipeline/shared/secrets_writer.go
  pipeline/shared/secrets_writer_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

🎉 Release 3.19.0 (#7128)
  CHANGELOG.md
Due: none

ci release social anouncement in parallel
  .woodpecker/social.yaml
Due: lint-pipeline

add usefull images and a starlark config extension
  docs/src/pages/awesome.md
Due: deploy-preview

link to docs
  docs/src/pages/awesome.md
Due: deploy-preview

Make the Product Model pass the repository's markdown and YAML linters
  .businesslens/README.md
  .businesslens/business-rules/extension-fallback.md
  .businesslens/business-rules/registry-precedence.md
  .businesslens/product.md
  .businesslens/taxonomies.yaml
Due: none

Display workflow agent information in WebUI
  docs/docs/20-usage/25-workflows.md
  web/src/assets/locales/en.json
  web/src/components/repo/pipeline/PipelineLog.test.ts
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/components/repo/pipeline/PipelineWorkflowAgent.test.ts
  web/src/components/repo/pipeline/PipelineWorkflowAgent.vue
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

🎉 Release 3.19.1
  CHANGELOG.md
Due: none

fix(gitlab): gofmt test file to satisfy gci lint
  server/forge/gitlab/gitlab_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Path conditions:
  publish-next-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  integration: any of: .woodpecker/integration.yaml, **/*.go, go.*
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  format-check: any of: .woodpecker/web.yaml, web/**, server/api/**
  typecheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
