Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

Path conditions:
  cross-compile-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  format-check: any of: .woodpecker/web.yaml, web/**, server/api/**
  typecheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**

Translated using Weblate (Russian)
  web/src/assets/locales/ru.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Translated using Weblate (Chinese (Simplified Han script))
  web/src/assets/locales/zh-Hans.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

🎉 Release 3.14.0
  CHANGELOG.md
Due: none

update
  docs/docs/92-development/woodpecker-architecture.dot
  docs/docs/92-development/woodpecker-architecture.svg
Due: deploy-preview

fix deprecation
  server/forge/gitea/gitea.go
  server/forge/gitea/helper.go
  server/forge/gitea/helper_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix OAuth token refresh in webhook handling for Bitbucket and GitHub
  server/forge/bitbucket/bitbucket.go
  server/forge/github/github.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix OAuth token refresh in webhook handling for Bitbucket and GitHub (#6059)
  server/forge/bitbucket/bitbucket.go
  server/forge/github/github.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update docs/docs/92-development/05-architecture.md
  docs/docs/92-development/05-architecture.md
Due: deploy-preview

Update Module Interaction Diagram (#6019)
  docs/docs/92-development/05-architecture.md
  docs/docs/92-development/woodpecker-architecture.dot
  docs/docs/92-development/woodpecker-architecture.png
  docs/docs/92-development/woodpecker-architecture.svg
  flake.nix
Due: deploy-preview

log Warn to Debug
  server/api/login.go
  server/api/repo.go
  server/cache/membership.go
  server/services/config/forge.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

Translated using Weblate (German)
  web/src/assets/locales/de.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Translated using Weblate (Portuguese)
  web/src/assets/locales/pt.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Document required forge methods (#6049)
  server/api/login.go
  server/api/repo.go
  server/cache/membership.go
  server/forge/forge.go
  server/services/config/forge.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

Revert "Dynamic log following (#6036)"
  web/src/assets/locales/en.json
  web/src/components/repo/pipeline/PipelineLog.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Revert dynamic autofollow
  web/src/components/repo/pipeline/PipelineLog.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Refresh token before use for all forges
  server/forge/forgejo/forgejo.go
  server/forge/gitea/gitea.go
  server/forge/gitlab/gitlab.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Revert dynamic autofollow (#6061)
  web/src/assets/locales/en.json
  web/src/components/repo/pipeline/PipelineLog.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Translated using Weblate (Bavarian)
  web/src/assets/locales/bar.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

docs: add SELinux configuration for Woodpecker
  docs/docs/30-administration/05-installation/10-docker-compose.md
Due: deploy-preview

docs: add system-wide OAuth application info for Forgejo and Gitea
  docs/docs/30-administration/10-configuration/12-forges/30-gitea.md
  docs/docs/30-administration/10-configuration/12-forges/35-forgejo.md
Due: deploy-preview

Add retry logic for CreatePipeline with backoff
  server/store/datastore/pipeline.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

docs: explizite mention how we do config deprications
  docs/docs/92-development/40-deprecations.md
Due: deploy-preview

Add retry logic for CreatePipeline with backoff (#6067)
  server/store/datastore/pipeline.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Revert "Add retry logic for CreatePipeline with backoff (#6067)"
  server/store/datastore/pipeline.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Aquire write lock for pipeline creation into the database
  server/store/datastore/pipeline.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix pipeline cancellation status handling and step state synchronization (#6011)
  agent/logger.go
  agent/rpc/client_grpc.go
  agent/runner.go
  agent/tracer.go
  pipeline/backend/docker/docker.go
  pipeline/backend/local/local.go
  pipeline/backend/types/state.go
  pipeline/pipeline.go
  pipeline/shutdown.go
  rpc/mocks/mock_Peer.go
  rpc/peer.go
  rpc/proto/version.go
  rpc/proto/woodpecker.pb.go
  rpc/proto/woodpecker.proto
  rpc/proto/woodpecker_grpc.pb.go
  rpc/types.go
  server/pipeline/cancel.go
  server/pipeline/step_status.go
  server/pipeline/step_status_test.go
  server/pipeline/workflow_status.go
  server/queue/fifo.go
  server/queue/persistent.go
  server/queue/queue.go
  server/rpc/authorizer.go
  server/rpc/rpc.go
  server/rpc/server.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

queue: enhance error logs in agents
  server/queue/fifo.go
  server/queue/queue.go
  server/rpc/rpc.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

use printf
  server/queue/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix lint and more code comments for docu
  server/queue/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Apply suggestion from @6543
  server/queue/fifo.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov
