Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

Add pipeline access token and make sure it's deleted if not needed anymore
  server/model/pipeline.go
  server/pipeline/create.go
  server/pipeline/pipelineStatus.go
  server/pipeline/restart.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

pass pipeline access token to backend + braindump usage
  pipeline/backend/docker/docker.go
  pipeline/backend/local/local.go
  pipeline/backend/types/config.go
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/option.go
  pipeline/stepBuilder.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

note callback from agent should still go throu grpc (single point)
  pipeline/rpc/peer.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Only update pipelineStatus in one place (#2952)
  pipeline/backend/types/config.go
  server/pipeline/create.go
  server/pipeline/pipelineStatus.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update README badges
  README.md
Due: none

update woodpecker-go
  woodpecker-go/woodpecker/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

update checks
  server/model/secret.go
  server/plugins/secrets/builtin.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update README badges (#2956)
  README.md
Due: none

fix test
  server/store/datastore/secret_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix test
  server/plugins/secrets/builtin_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Show secrets from org and global level (#2873)
  cmd/server/docs/docs.go
  server/model/secret.go
  server/plugins/secrets/builtin.go
  server/plugins/secrets/builtin_test.go
  server/store/datastore/secret_test.go
  web/src/assets/locales/en.json
  web/src/components/atomic/Button.vue
  web/src/components/repo/settings/SecretsTab.vue
  web/src/components/secrets/SecretEdit.vue
  web/src/components/secrets/SecretList.vue
  web/src/compositions/usePaginate.ts
  web/src/lib/api/types/secret.ts
  woodpecker-go/woodpecker/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

🎉 Release 2.1.0
  CHANGELOG.md
Due: none

Fix error container overflow
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/views/repo/pipeline/Pipeline.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

fix missing container
  web/src/views/repo/pipeline/Pipeline.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

make error view responsive
  web/src/views/repo/pipeline/Pipeline.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

add missing pre-wrap
  web/src/views/repo/pipeline/Pipeline.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

Post-review fixes
  pipeline/backend/kubernetes/service.go
  pipeline/backend/kubernetes/service_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix error container overflow (#2957)
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/views/repo/pipeline/Pipeline.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

fix syntax after update
  pipeline/backend/kubernetes/volume.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix broken gated repos
  server/pipeline/create.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix broken gated repos (#2959)
  server/pipeline/create.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Format code
  pipeline/backend/kubernetes/service.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Only export changed files if maxChangedFiles is not exceeded
  docs/docs/20-usage/50-environment.md
  pipeline/frontend/metadata/environment.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

update test
  pipeline/frontend/metadata_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

report empty slice
  pipeline/frontend/metadata/environment.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix misspell
  README.md
Due: none

Update woodpecker slogan to repo too
  README.md
Due: none

use https://github.com/woodpecker-ci/design/blob/main/logo/non-square.svg
  docs/static/img/logo.svg
Due: deploy-preview

Export changed files via builtin environment variables (#2935)
  docs/docs/20-usage/50-environment.md
  docs/versioned_docs/version-2.0/20-usage/50-environment.md
  pipeline/frontend/metadata/environment.go
  pipeline/frontend/metadata_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update pronoun in documentation
  docs/docs/20-usage/71-project-settings.md
Due: deploy-preview

Update pronoun in documentation (#2964)
  docs/docs/20-usage/71-project-settings.md
Due: deploy-preview

Activate Repo: Don't drop errors and also always log them on the server. Show users only meaningfull error messages.
  server/api/repo.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

update golang.org/x/crypto v0.16.0 => v0.17.0
  go.mod
  go.sum
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Gitea driver: ignore GetOrg error if we get a valid user.
  server/forge/gitea/gitea.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov
