Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

cross-compile-server:
  depends_on:
  - vendor
  - build-web
  image: docker.io/techknowlogick/xgo:go-1.22.x
  pull: true
  commands:
  - apt update
  - apt install -y tree
  - make cross-compile-server
  environment:
    PLATFORMS: linux|arm/v7;linux|arm64/v8;linux|amd64;linux|ppc64le;linux|riscv64
    TAGS: sqlite sqlite_unlock_notify netgo

publish-next-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-next-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-next-agent:
  depends_on:
  - vendor
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

publish-next-agent-alpine:
  depends_on:
  - vendor
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.alpine.multiarch
  ...

publish-next-cli:
  depends_on:
  - vendor
  - publish-next-agent
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli.multiarch
  ...

publish-next-cli-alpine:
  depends_on:
  - vendor
  - publish-next-agent
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli.alpine.multiarch
  ...

publish-release-branch-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-release-branch-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-release-branch-agent:
  depends_on:
  - vendor
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

wait for dependencies
  cli/exec/exec.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

enhance
  cli/exec/exec.go
  cli/exec/metadata.go
  pipeline/frontend/yaml/stepbuilder/stepBuilder.go
  pipeline/frontend/yaml/stepbuilder/stepBuilder_test.go
  server/pipeline/metadata/metadata.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

d
  pipeline/frontend/yaml/stepbuilder/stepBuilder.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

d
  cli/exec/exec.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

any
  cli/exec/metadata_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

windows ... :/
  cli/exec/exec.go
  pipeline/backend/local/local.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update 25-workflows.md removes dot prefix from pipeline filename
  docs/docs/20-usage/25-workflows.md
Due: deploy-preview

[docs] Removes dot prefix from pipeline configuration filenames (#4105)
  docs/docs/20-usage/25-workflows.md
Due: deploy-preview

🎉 Release 3.0.0
  CHANGELOG.md
Due: none

Apply suggestions from code review
  docs/docs/20-usage/40-secrets.md
  docs/docs/20-usage/51-plugins/20-creating-plugins.md
Due: deploy-preview

Start: implement server side filters for agents
  server/grpc/auth_server.go
  server/grpc/filter.go
  server/grpc/rpc.go
  server/grpc/rpc_test.go
  server/model/agent.go
  server/pipeline/queue.go
  server/queue/fifo.go
  server/queue/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix
  cmd/server/docs/docs.go
  server/api/agent.go
  server/grpc/rpc.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Add List func for Argents of {Org,Repo} to store
  server/store/datastore/agent.go
  server/store/datastore/agent_test.go
  server/store/store.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

revert OwnerID change and define seperate cols to save the info
  server/api/agent.go
  server/grpc/auth_server.go
  server/grpc/rpc_test.go
  server/model/agent.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Increase verbosity of logs when failing to create pipeline
  server/pipeline/create.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

generate
  cmd/server/docs/docs.go
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/model/agent.go
  server/store/mocks/store.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

add api for org and repo agents
  cmd/server/docs/docs.go
  server/api/agent.go
  server/model/agent.go
  server/router/api.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Update server/grpc/auth_server.go
  server/grpc/auth_server.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

rename to make purpose clear
  server/grpc/rpc.go
  server/model/agent.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

refactor
  server/grpc/rpc.go
  server/model/agent.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

cleanup
  server/grpc/filter.go
  server/grpc/rpc.go
  server/queue/fifo.go
  server/queue/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

database migration
  server/api/agent.go
  server/grpc/auth_server.go
  server/model/agent.go
  server/store/datastore/migration/035_add_org_and_repo_agents.go
  server/store/datastore/migration/migration.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

next
  server/api/agent.go
  server/model/agent.go
  server/model/task.go
  server/model/task_test.go
  server/pipeline/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

document the intentions of -1 and test it
  server/model/agent.go
  server/model/agent_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

tests and fix
  server/model/agent.go
  server/model/agent_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

gen docs
  cmd/server/docs/docs.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix-wrong-route
  server/router/api.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Dont leak Task Data to API
  server/api/agent.go
  server/model/task.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

dont set owner lable and hide the enforced labels in webui
  server/model/task.go
  server/model/task_test.go
  web/src/components/admin/settings/AdminQueueTab.vue
  web/src/lib/api/types/agent.ts
  web/src/lib/api/types/queue.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

fix bug and also now cover it by test
  server/model/agent.go
  server/model/agent_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix filter of system agents
  server/grpc/rpc.go
  server/model/agent.go
  server/model/agent_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

web add now api endpoints
  web/src/lib/api/index.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

make it consistent
  cmd/server/docs/docs.go
  server/api/agent.go
  server/router/api.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

fmt
  web/src/components/admin/settings/AdminQueueTab.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

add badge to see repo and org agents labled as such
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminAgentsTab.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

fix messedup from refactor
  server/store/datastore/agent.go
  server/store/datastore/agent_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix test
  server/store/datastore/agent_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

rm that
  web/src/lib/api/types/queue.ts
  woodpecker-go/woodpecker/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

update swagger
  cmd/server/docs/docs.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Allow to restart declined pipelines
  server/pipeline/restart.go
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Path conditions:
  cross-compile-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  formatcheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  typecheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
