Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Path conditions:
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

update docs
  cmd/agent/core/flags.go
  docs/docs/30-administration/75-addons/00-overview.md
  docs/docs/30-administration/75-addons/20-creating-addons.md
  docs/docs/92-development/10-custom-agent-backends.md
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix docs + copyright
  cmd/agent/core/run.go
  docs/docs/30-administration/15-agent-config.md
  shared/addon/types/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix mdlint
  docs/docs/92-development/10-custom-agent-backends.md
Due: deploy-preview

prettier
  docs/docs/30-administration/75-addons/20-creating-addons.md
Due: deploy-preview

Update run.go
  cmd/agent/core/run.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Move pipeline error types to own package
  cli/lint/lint.go
  pipeline/errors/error.go
  pipeline/errors/error_test.go
  pipeline/errors/types/errors.go
  pipeline/frontend/yaml/linter/error.go
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/matrix/matrix.go
  server/model/pipeline.go
  server/pipeline/stepbuilder/stepBuilder.go
  server/store/datastore/migration/027_convert_to_new_pipeline_errors_format.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix flag types
  cmd/server/flags.go
  cmd/server/setup.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

reload site on theme change
  web/src/compositions/useTheme.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

sort
  web/src/compositions/useTheme.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

Update web/src/compositions/useTheme.ts
  web/src/compositions/useTheme.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

lint
  web/src/compositions/useTheme.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

Aktualisieren von parse.go
  server/forge/github/parse.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update theme on system color mode change (#3296)
  web/src/compositions/useTheme.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

Fix gitea OAuth access scope
  .gitpod.yml
Due: none

Create .env if it doesn't exist
  .gitpod.yml
Due: none

Workaround: Filter Gitea token
  .gitpod.yml
Due: none

Add `release` event trigger (#3226)
  cli/secret/secret_add.go
  cmd/server/docs/docs.go
  docs/docs/20-usage/15-terminiology/index.md
  docs/docs/20-usage/20-workflow-syntax.md
  docs/docs/20-usage/50-environment.md
  docs/docs/30-administration/11-forges/10-overview.md
  pipeline/frontend/metadata/const.go
  pipeline/frontend/metadata/environment.go
  pipeline/frontend/metadata/types.go
  server/api/pipeline.go
  server/forge/gitea/fixtures/hooks.go
  server/forge/gitea/gitea.go
  server/forge/gitea/helper.go
  server/forge/gitea/parse.go
  server/forge/gitea/parse_test.go
  server/forge/gitea/types.go
  server/forge/github/fixtures/hooks.go
  server/forge/github/github.go
  server/forge/github/parse.go
  server/forge/github/parse_test.go
  server/forge/gitlab/convert.go
  server/forge/gitlab/gitlab.go
  server/forge/gitlab/gitlab_test.go
  server/forge/gitlab/testdata/hooks.go
  server/model/const.go
  server/model/pipeline.go
  server/model/secret.go
  server/pipeline/create.go
  server/pipeline/stepbuilder/metadata.go
  web/src/assets/locales/en.json
  web/src/components/repo/pipeline/PipelineItem.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/components/secrets/SecretEdit.vue
  web/src/lib/api/types/webhook.ts
  woodpecker-go/woodpecker/const.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Fix Gitpod: Gitea auth token creation (#3299)
  .gitpod.yml
Due: none

🎉 Release 2.3.0
  CHANGELOG.md
Due: none

Update pipeline list UI
  web/src/components/repo/pipeline/PipelineItem.vue
  web/src/compositions/usePipeline.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

fix: handle wait step container statuses errors
  pipeline/backend/kubernetes/kubernetes.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

adjust release event docs
  docs/docs/20-usage/15-terminiology/index.md
  docs/docs/20-usage/20-workflow-syntax.md
Due: deploy-preview

prettier
  docs/docs/20-usage/15-terminiology/index.md
Due: deploy-preview

fix golang lint error
  server/api/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Add release types (#3303)
  docs/docs/20-usage/15-terminiology/index.md
  docs/docs/20-usage/20-workflow-syntax.md
  server/api/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

🎉 Release 2.3.0 (#3249)
  CHANGELOG.md
Due: none

remove accidentally added file
  server/api/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Remove accidentally added file (#3304)
  server/api/queue.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

🎉 Release 2.3.1
  CHANGELOG.md
Due: none

Consider gitlab inherited permissions
  server/forge/gitlab/convert.go
  server/forge/gitlab/gitlab.go
  server/forge/gitlab/helper.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Pagination for repos
  server/api/login.go
  server/api/user.go
  server/forge/bitbucket/bitbucket.go
  server/forge/forge.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  web/src/views/RepoAdd.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Add loading spinner repo list
  web/src/views/RepoAdd.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

Translated using Weblate (Polish)
  web/src/assets/locales/pl.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck
