Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

cross-compile-server:
  image: techknowlogick/xgo:go-1.21.3@sha256:899daf416e5e60e4f003c12b4bf02c5a7ead841141a74acb72769b094c3a0eb2
  pull: true
  commands:
  - apt update
  - apt install -y tree
  - make cross-compile-server
  environment:
    PLATFORMS: linux|arm/v7;linux|arm64/v8;linux|amd64;linux|ppc64le;linux|riscv64
  ...

publish-next-server:
  image: woodpeckerci/plugin-docker-buildx:2.1.0@sha256:51880756e043540fb6bb24e9517d1badb841e1d7aced9e2e1ba39d41c8f0f1d3
  group: docker
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-next-server-alpine:
  image: woodpeckerci/plugin-docker-buildx:2.1.0@sha256:51880756e043540fb6bb24e9517d1badb841e1d7aced9e2e1ba39d41c8f0f1d3
  group: docker
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-release-branch-server:
  image: woodpeckerci/plugin-docker-buildx:2.1.0@sha256:51880756e043540fb6bb24e9517d1badb841e1d7aced9e2e1ba39d41c8f0f1d3
  group: docker
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-release-branch-server-alpine:
  image: woodpeckerci/plugin-docker-buildx:2.1.0@sha256:51880756e043540fb6bb24e9517d1badb841e1d7aced9e2e1ba39d41c8f0f1d3
  group: docker
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-next-agent:
  group: docker
  image: woodpeckerci/plugin-docker-buildx:2.1.0@sha256:51880756e043540fb6bb24e9517d1badb841e1d7aced9e2e1ba39d41c8f0f1d3
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

publish-next-agent-alpine:
  group: docker
  image: woodpeckerci/plugin-docker-buildx:2.1.0@sha256:51880756e043540fb6bb24e9517d1badb841e1d7aced9e2e1ba39d41c8f0f1d3
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.alpine.multiarch
  ...

publish-release-branch-agent:
  group: docker
  image: woodpeckerci/plugin-docker-buildx:2.1.0@sha256:51880756e043540fb6bb24e9517d1badb841e1d7aced9e2e1ba39d41c8f0f1d3
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

publish-release-branch-agent-alpine:
  group: docker
  image: woodpeckerci/plugin-docker-buildx:2.1.0@sha256:51880756e043540fb6bb24e9517d1badb841e1d7aced9e2e1ba39d41c8f0f1d3
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.alpine.multiarch
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

Move to shared
  server/plugins/permissions/admin.go
  server/plugins/permissions/orgs.go
  server/plugins/permissions/repo_owners.go
  server/plugins/permissions/util.go
  shared/utils/slices.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

rename to allowlist
  cmd/server/server.go
  server/api/repo.go
  server/api/user.go
  server/config.go
  server/plugins/permissions/repo_owners.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix comments
  server/api/login.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix env vars
  docs/docs/20-usage/50-environment.md
  pipeline/frontend/metadata.go
  pipeline/frontend/metadata/environment.go
  pipeline/frontend/metadata/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

start rename
  cli/exec/flags.go
  cli/exec/metadata.go
  cmd/server/docs/docs.go
  pipeline/frontend/metadata.go
  pipeline/frontend/metadata/environment.go
  pipeline/frontend/metadata/types.go
  pipeline/frontend/metadata_test.go
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/frontend/yaml/compiler/option.go
  pipeline/frontend/yaml/compiler/option_test.go
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/stepBuilder.go
  server/api/pipeline.go
  server/ccmenu/cc.go
  server/cron/cron.go
  server/forge/bitbucket/convert.go
  server/forge/bitbucket/convert_test.go
  server/forge/gitea/gitea_test.go
  server/forge/gitea/helper.go
  server/forge/gitea/helper_test.go
  server/forge/github/convert.go
  server/forge/github/convert_test.go
  server/forge/github/github.go
  server/forge/github/github_test.go
  server/forge/github/parse.go
  server/forge/gitlab/convert.go
  server/forge/mocks/forge.go
  server/model/pipeline.go
  server/model/repo.go
  server/store/datastore/migration/027_link_to_url.go
  server/store/mocks/store.go
  web/src/lib/api/types/pipeline.ts
  web/src/lib/api/types/repo.ts
  woodpecker-go/woodpecker/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Update pipeline/frontend/metadata/environment.go
  pipeline/frontend/metadata/environment.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix tests & rename func
  pipeline/frontend/metadata/environment.go
  pipeline/frontend/metadata_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

format and rm useless json tags
  pipeline/frontend/metadata.go
  pipeline/frontend/metadata/types.go
  server/cron/cron.go
  server/forge/bitbucket/convert.go
  server/forge/gitea/helper.go
  server/forge/github/convert.go
  server/forge/github/github_test.go
  server/forge/github/parse.go
  server/forge/gitlab/convert.go
  server/model/pipeline.go
  server/model/repo.go
  woodpecker-go/woodpecker/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fixed go.mod
  go.mod
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

more renaming
  cli/repo/repo_info.go
  docs/docs/91-migrations.md
  pipeline/frontend/metadata_test.go
  pipeline/stepBuilder.go
  pipeline/stepBuilder_test.go
  server/api/pipeline.go
  server/api/repo.go
  server/forge/bitbucket/bitbucket.go
  server/forge/common/status.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/pipeline/items.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

rename some to `ForgeURL`
  cli/exec/metadata.go
  cli/repo/repo_info.go
  pipeline/frontend/metadata.go
  pipeline/frontend/metadata/environment.go
  pipeline/frontend/metadata/types.go
  pipeline/frontend/metadata_test.go
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/frontend/yaml/compiler/option_test.go
  pipeline/stepBuilder.go
  server/api/pipeline.go
  server/cron/cron.go
  server/forge/bitbucket/convert.go
  server/forge/bitbucket/convert_test.go
  server/forge/gitea/gitea_test.go
  server/forge/gitea/helper.go
  server/forge/gitea/helper_test.go
  server/forge/github/convert.go
  server/forge/github/convert_test.go
  server/forge/github/github.go
  server/forge/github/github_test.go
  server/forge/github/parse.go
  server/forge/gitlab/convert.go
  server/model/pipeline.go
  server/model/repo.go
  server/store/datastore/migration/027_link_to_url.go
  server/store/datastore/migration/migration.go
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/lib/api/types/pipeline.ts
  web/src/lib/api/types/repo.ts
  web/src/views/repo/RepoWrapper.vue
  web/src/views/repo/pipeline/Pipeline.vue
  woodpecker-go/woodpecker/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

gen docs
  cmd/server/docs/docs.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fix repo owner filter (#2808)
  cmd/server/server.go
  server/api/login.go
  server/api/repo.go
  server/api/user.go
  server/config.go
  server/model/settings.go
  server/plugins/permissions/admin.go
  server/plugins/permissions/orgs.go
  server/plugins/permissions/repo_owners.go
  server/router/middleware/config.go
  shared/utils/slices.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Replace `interface{}` with `any` (#2807)
  agent/rpc/auth_interceptor.go
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/errors/error.go
  pipeline/frontend/yaml/compiler/cacher.go
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/settings/params.go
  pipeline/frontend/yaml/compiler/settings/params_test.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/types/base/int.go
  pipeline/frontend/yaml/types/base/map.go
  pipeline/frontend/yaml/types/base/slice.go
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/container_test.go
  pipeline/frontend/yaml/types/network.go
  pipeline/frontend/yaml/types/volume.go
  pipeline/rpc/proto/woodpecker.pb.go
  server/forge/bitbucket/internal/client.go
  server/forge/common/status.go
  server/forge/gitea/fixtures/handler.go
  server/forge/github/github.go
  server/forge/mocks/forge.go
  server/grpc/authorizer.go
  server/grpc/jwt_manager.go
  server/plugins/utils/http.go
  server/router/middleware/logger.go
  server/store/context.go
  server/store/datastore/engine_test.go
  server/store/datastore/migration/026_convert_to_new_pipeline_errors_format.go
  server/store/datastore/migration/migration.go
  server/store/datastore/xorm.go
  server/store/mocks/store.go
  server/web/config.go
  shared/token/token.go
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

🎉 Release 2.0.0
  CHANGELOG.md
Due: none

Fix paths for version check
  .woodpecker/docs.yml
Due: deploy-preview, lint-pipeline

deprecate commit_url
  docs/docs/20-usage/50-environment.md
  docs/docs/91-migrations.md
  pipeline/frontend/metadata/environment.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fix paths for version check (#2816)
  .woodpecker/docs.yml
Due: deploy-preview, lint-pipeline

fix docs
  docs/docs/20-usage/50-environment.md
Due: deploy-preview

Fix env vars and add UI url (#2811)
  docs/docs/20-usage/50-environment.md
  docs/docs/91-migrations.md
  pipeline/frontend/metadata.go
  pipeline/frontend/metadata/environment.go
  pipeline/frontend/metadata/types.go
  pipeline/frontend/metadata_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix merge
  pipeline/frontend/metadata/environment.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix mgiration tests
  server/model/repo.go
  server/store/datastore/migration/021_add_orgs.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fix jq syntax
  .woodpecker/docs.yml
Due: deploy-preview, lint-pipeline

Translated using Weblate (Latvian)
  web/src/assets/locales/lv.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

mark v1.0.x as unmaintained
  docs/docusaurus.config.ts
Due: deploy-preview

Fix jq syntax (#2817)
  .woodpecker/docs.yml
Due: deploy-preview, lint-pipeline

mark v1.0.x as unmaintained (#2818)
  docs/docusaurus.config.ts
Due: deploy-preview

revert jsons
  pipeline/frontend/metadata/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Revert to singular CLI args
  cli/secret/secret_add.go
  cli/secret/secret_set.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix migration
  docs/docs/91-migrations.md
Due: deploy-preview

Revert to singular CLI args (#2820)
  cli/secret/secret_add.go
  cli/secret/secret_set.go
  docs/docs/91-migrations.md
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Add documentation on Kubernetes securityContext
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: deploy-preview

Changes PullRequest Index to ForgeRemoteID type
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucket/bitbucket_test.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/model/pull_request.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

signal to clients the route was removed with #2639
  server/router/api.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

add flag to disable cron
  cmd/server/flags.go
  cmd/server/server.go
  go.sum
  server/config.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Path conditions:
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**
