Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

Translated using Weblate (Indonesian)
  web/src/assets/locales/id.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

Add changelog 1.0.4 (#2738)
  CHANGELOG.md
Due: none

Fix the wrong link to the cron job document (#2740)
  web/src/components/repo/settings/CronTab.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

Fix panic on logger
  server/logging/log.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Frontport changelog 1.0.4 (#2738) (#2744)
  CHANGELOG.md
Due: none

Fix pre-commit
  CHANGELOG.md
Due: none

Fix panic on logger (#2745)
  CHANGELOG.md
  server/logging/log.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

🎉 Release 2.0.0
  CHANGELOG.md
Due: none

Update redoc and fix search plugin
  docs/docs/30-administration/22-backends/20-local.md
  docs/package.json
  docs/pnpm-lock.yaml
  docs/versioned_docs/version-1.0/30-administration/22-backends/20-local.md
Due: deploy-preview, deploy

Consistent syntax names
  docs/docs/20-usage/20-workflow-syntax.md
  docs/docs/20-usage/60-services.md
  docs/docs/20-usage/90-advanced-usage.md
  docs/docs/30-administration/100-external-configuration-api.md
  docs/docs/30-administration/11-forges/20-github.md
  docs/docs/30-administration/22-backends/10-docker.md
  docs/docs/30-administration/22-backends/40-kubernetes.md
  docs/docs/30-administration/40-encryption.md
  docs/docs/30-administration/70-proxy.md
  docs/docs/92-development/08-swagger.md
  docs/docusaurus.config.js
Due: deploy-preview, deploy

use ts
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
Due: deploy-preview, deploy

use correct types
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
Due: deploy-preview, deploy

Update docusaurus to v3 (#2732)
  docs/docs/20-usage/20-workflow-syntax.md
  docs/docs/20-usage/60-services.md
  docs/docs/20-usage/90-advanced-usage.md
  docs/docs/30-administration/100-external-configuration-api.md
  docs/docs/30-administration/11-forges/20-github.md
  docs/docs/30-administration/22-backends/10-docker.md
  docs/docs/30-administration/22-backends/20-local.md
  docs/docs/30-administration/22-backends/40-kubernetes.md
  docs/docs/30-administration/40-encryption.md
  docs/docs/30-administration/70-proxy.md
  docs/docs/92-development/08-swagger.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/plugins/woodpecker-plugins/package.json
  docs/pnpm-lock.yaml
  docs/tsconfig.json
  docs/versioned_docs/version-1.0/30-administration/22-backends/20-local.md
Due: deploy-preview, deploy

test
  server/api/login.go
  server/router/router.go
  web/src/components/user/UserAPITab.vue
  web/src/views/User.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Fail on missing secret
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/convert.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

prettier
  docs/docusaurus.config.ts
Due: deploy-preview, deploy

test hadolint
  .pre-commit-config.yaml
  docker/Dockerfile.cli.alpine.multiarch
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine

.
  .pre-commit-config.yaml
Due: none

add error
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/frontend/yaml/compiler/convert.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fail on missing secrets (#2749)
  docs/docusaurus.config.ts
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/frontend/yaml/compiler/convert.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

remove old gomod
  shared/addon/test-addon/go.mod.bak
  shared/addon/test-addon/go.sum.bak
Due: none

Add docs about Gitea on same host
  docs/docs/30-administration/11-forges/30-gitea.md
Due: deploy-preview, deploy

syntax
  docs/docs/30-administration/11-forges/30-gitea.md
Due: deploy-preview, deploy

Update docker-compose.example.yml
  docker-compose.example.yml
Due: none

Apply suggestions from code review
  docker-compose.example.yml
  docs/docs/30-administration/11-forges/30-gitea.md
Due: deploy-preview, deploy

UI enhancements
  web/src/views/repo/pipeline/PipelineConfig.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

fix lint/tc
  web/src/views/repo/pipeline/PipelineConfig.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

undo change
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

UI enhancements/fixes (#2754)
  web/src/views/repo/pipeline/PipelineConfig.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, deps, formatcheck, typecheck

Mark kubernetes backend as fully supported
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: deploy-preview, deploy

Add workflow version (#2476)
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/docs.yml
  .woodpecker/release-helper.yml
  .woodpecker/securityscan.yml
  .woodpecker/test.yml
  .woodpecker/web.yml
  contrib/woodpecker-test-repo/.woodpecker/demo.yml
  contrib/woodpecker-test-repo/.woodpecker/test.yml
  pipeline/frontend/yaml/linter/linter_test.go
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-branches-array.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-branches-exclude-include.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-branches.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-broken.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-clone-skip.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-clone.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-labels.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-matrix.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-merge-map-and-sequence.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-multi.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-pipeline-when.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-platform.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-plugin.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-run-on.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-service.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-step.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-when.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-workspace.yml
  pipeline/frontend/yaml/linter/schema/schema.json
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/workflow.go
  pipeline/frontend/yaml/version.go
  pipeline/stepBuilder_test.go
  shared/constant/constant.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Store workflows/steps for blocked pipeline
  server/pipeline/approve.go
  server/pipeline/create.go
  server/pipeline/decline.go
  server/pipeline/items.go
  server/pipeline/restart.go
  server/pipeline/start.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Mark kubernetes backend as fully supported (#2756)
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: deploy-preview, deploy

first try
  server/pipeline/restart.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fixes
  server/store/datastore/migration/026_convert_to_new_pipeline_errors_format.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov
