Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install_dependencies, formatcheck, typecheck

Path conditions:
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install_dependencies: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

Allow PR secrets to be used on close (#3084)
  server/model/secret.go
  server/model/secret_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

make sure cross-compile-server does not run with other compile steps (#3089)
  .woodpecker/docker.yml
Due: lint-pipeline

🎉 Release 2.2.0
  CHANGELOG.md
Due: none

Move `cmd/common` to `shared` (#3092)
  .golangci.yml
  cli/common/flags.go
  cli/common/zerologger.go
  cmd/agent/agent.go
  cmd/agent/main.go
  cmd/server/flags.go
  cmd/server/server.go
  shared/logger/logger.go
  shared/logger/terminal.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

some more enhancements
  docs/docs/30-administration/100-external-configuration-api.md
  docs/docs/30-administration/70-proxy.md
Due: deploy-preview

fix slice unmarshaling
  pipeline/frontend/yaml/compiler/dag.go
  pipeline/frontend/yaml/compiler/dag_test.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/base/base_types_test.go
  pipeline/frontend/yaml/types/base/slice.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

undo
  docs/blog/2023-12-27-release-v2.1.0/index.md
Due: deploy-preview

Fix slice unmarshaling (#3097)
  pipeline/frontend/yaml/compiler/dag.go
  pipeline/frontend/yaml/compiler/dag_test.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/base/base_types_test.go
  pipeline/frontend/yaml/types/base/slice.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Add continous deployment cookbook
  docs/cookbook/2023-1-1-continous-deployment/index.md
Due: deploy-preview

fix typo
  docs/cookbook/2023-1-1-continous-deployment/index.md
Due: deploy-preview

fix year
  docs/cookbook/2024-1-1-continous-deployment/index.md
Due: deploy-preview

fix missing truncate
  docs/cookbook/2024-1-1-continous-deployment/index.md
Due: deploy-preview

Fix `depends_on` as string in schema
  pipeline/frontend/yaml/linter/schema/schema.json
Due: none

Remove env argument of addons
  docs/docs/30-administration/75-addons/20-creating-addons.md
  shared/addon/addon.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

update example
  docs/docs/30-administration/75-addons/20-creating-addons.md
Due: deploy-preview

Fix step `depends_on` as string in schema (#3099)
  pipeline/frontend/yaml/linter/schema/schema.json
Due: none

revert
  .pre-commit-config.yaml
Due: none

add image alt texts
  README.md
Due: none

add alt
  README.md
Due: none

Add Reviewdog ESLint plugin
  docs/plugins/woodpecker-plugins/plugins.json
Due: deploy-preview

Add Reviewdog ESLint plugin (#3102)
  docs/plugins/woodpecker-plugins/plugins.json
Due: deploy-preview

Use WOODPECKER_AGENT_SECRET instead of deprecated alternative
  .gitpod.yml
  docs/docs/92-development/01-getting-started.md
  docs/versioned_docs/version-0.15/92-development/01-getting-started.md
  docs/versioned_docs/version-1.0/92-development/01-getting-started.md
  docs/versioned_docs/version-2.0/92-development/01-getting-started.md
  docs/versioned_docs/version-2.1/92-development/01-getting-started.md
Due: deploy-preview

Pin Gitea version
  docker-compose.gitpod.yml
Due: none

Pin Gitea version (#3104)
  docker-compose.gitpod.yml
Due: none

Use WOODPECKER_AGENT_SECRET instead of deprecated alternative (#3103)
  .gitpod.yml
  docs/docs/92-development/01-getting-started.md
  docs/versioned_docs/version-0.15/92-development/01-getting-started.md
  docs/versioned_docs/version-1.0/92-development/01-getting-started.md
  docs/versioned_docs/version-2.0/92-development/01-getting-started.md
  docs/versioned_docs/version-2.1/92-development/01-getting-started.md
Due: deploy-preview

PR notes
  docs/versioned_docs/version-1.0/30-administration/22-backends/40-kubernetes.md
  docs/versioned_docs/version-2.1/30-administration/22-backends/40-kubernetes.md
  docs/versioned_docs/version-2.1/91-migrations.md
  pipeline/backend/kubernetes/flags.go
  pipeline/backend/kubernetes/kubernetes.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Remove env argument of addons (#3100)
  docs/docs/30-administration/75-addons/20-creating-addons.md
  shared/addon/addon.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Unfold workflow when opening via URL
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/views/repo/pipeline/Pipeline.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install_dependencies, formatcheck, typecheck

PR notes
  docs/versioned_docs/version-2.1/91-migrations.md
  pipeline/backend/kubernetes/flags.go
  pipeline/backend/kubernetes/kubernetes.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Unfold workflow when opening via URL (#3106)
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/views/repo/pipeline/Pipeline.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install_dependencies, formatcheck, typecheck

Fix config base64 parsing to utf-8
  web/package.json
  web/pnpm-lock.yaml
  web/src/views/repo/pipeline/PipelineConfig.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install_dependencies, formatcheck, typecheck

Fix `version.json` updates (#3057)
  .woodpecker/docs.yml
Due: deploy-preview, lint-pipeline
