Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

cross-compile-server:
  depends_on:
  - vendor
  - build-web
  image: docker.io/techknowlogick/xgo:go-1.22.x
  pull: true
  commands:
  - apt update
  - apt install -y tree
  - make cross-compile-server
  environment:
    PLATFORMS: linux|arm/v7;linux|arm64/v8;linux|amd64;linux|ppc64le;linux|riscv64
    TAGS: sqlite sqlite_unlock_notify netgo

publish-next-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-next-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-next-agent:
  depends_on:
  - vendor
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

publish-next-agent-alpine:
  depends_on:
  - vendor
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.alpine.multiarch
  ...

publish-next-cli:
  depends_on:
  - vendor
  - publish-next-agent
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli.multiarch
  ...

publish-next-cli-alpine:
  depends_on:
  - vendor
  - publish-next-agent
  image: docker.io/woodpeckerci/plugin-docker-buildx:4.2.0
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli.alpine.multiarch
  ...

publish-release-branch-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-release-branch-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-release-branch-agent:
  depends_on:
  - vendor
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

fix
  cli/pipeline/pipeline.go
  cli/pipeline/pipeline_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix docusaurus md link deprecation
  docs/docusaurus.config.ts
Due: deploy-preview

another link…
  docs/docs/92-development/02-core-ideas.md
Due: deploy-preview

fix format
  docs/docusaurus.config.ts
Due: deploy-preview

🎉 Release 3.13.1
  CHANGELOG.md
Due: none

Translated using Weblate (German)
  web/src/assets/locales/de.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Revert modification of DE translations
  web/src/assets/locales/de.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Initialize name, status directly
  server/api/badge.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

Remove deactivated secrets type from container defintion
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/types/container.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix docusaurus md link deprecation (#5979)
  docs/docusaurus.config.ts
Due: deploy-preview

🎉 Release 3.14.0
  CHANGELOG.md
Due: none

Generate badges to support arbitrary widths
  go.mod
  go.sum
  server/api/badge.go
  server/badges/DejaVuSans.ttf
  server/badges/badges.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

Update test of badge generation
  server/badges/badges_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

rm test
  pipeline/frontend/yaml/linter/linter_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Remove deactivated secrets type from container defintion (#5983)
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/linter/linter_test.go
  pipeline/frontend/yaml/types/container.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

workflow config: prefer map syntax for services
  docs/docs/20-usage/60-services.md
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/services_list.go
  pipeline/frontend/yaml/types/steps_list.go
  pipeline/frontend/yaml/types/workflow.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

linter: cover more services config options
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-service.yaml
Due: none

docs: fix environment syntax
  docs/docs/20-usage/60-services.md
Due: deploy-preview

prettier
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-service.yaml
Due: none

more tests for re-serialize
  pipeline/frontend/yaml/parse_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

linter: cover more
  pipeline/frontend/yaml/linter/linter_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix pre-commit
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-service.yaml
Due: none

Apply suggestions from code review
  pipeline/frontend/yaml/linter/linter_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

docs: fix environment syntax in services
  docs/docs/20-usage/60-services.md
Due: deploy-preview

test: extend test for services schema
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-service.yaml
Due: none

test: make TestLintErrors more resilient
  pipeline/frontend/yaml/linter/linter_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

refactor: move types.ContainerList into own file
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/steps_list.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Add ReSerialize test from #5988
  pipeline/frontend/yaml/parse_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

addopt it
  pipeline/frontend/yaml/parse_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update docs/docs/20-usage/72-extensions/40-configuration-extension.md
  docs/docs/20-usage/72-extensions/40-configuration-extension.md
Due: deploy-preview

add repo test
  cli/repo/repo_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Rename steps_list.go to container_list.go
  pipeline/frontend/yaml/types/container_list.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Improve service syntax related docs and tests nits (#5991)
  docs/docs/20-usage/60-services.md
  pipeline/frontend/yaml/linter/linter_test.go
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-service.yaml
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/container_list.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Path conditions:
  cross-compile-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  format-check: any of: .woodpecker/web.yaml, web/**, server/api/**
  typecheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
