Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, integration, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

publish-next-server:
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server
    platforms: linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le,linux/riscv64
    tag:
    - next
  ...

publish-next-server-alpine:
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
    tag:
    - next-alpine
  ...

publish-next-agent:
  depends_on:
  - publish-next-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent
  ...

publish-next-agent-alpine:
  depends_on:
  - publish-next-server-alpine
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent
  ...

publish-next-cli:
  depends_on:
  - publish-next-agent
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli
  ...

publish-next-cli-alpine:
  depends_on:
  - publish-next-agent-alpine
  image: docker.io/woodpeckerci/plugin-docker-buildx:6.0.4
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
  ...

cross-compile-server:
  depends_on:
  - vendor
  - build-web
  image: docker.io/techknowlogick/xgo:go-1.21.5
  pull: true
  commands:
  - apt update
  - apt install -y tree
  - make cross-compile-server
  environment:
    PLATFORMS: linux|arm/v7;linux|arm64/v8;linux|amd64;linux|ppc64le;linux|riscv64
  ...

publish-release-branch-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-release-branch-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-release-branch-agent:
  depends_on:
  - vendor
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

vendor:
  image: docker.io/golang:1.21.5
  commands:
  - go mod vendor

🎉 Release 3.17.0
  CHANGELOG.md
Due: none

Add mock for server scheduler (#6848)
  .mockery.yaml
  server/scheduler/mocks/mock_Scheduler.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

WebUI: Fixes three bugs around component unmount and reset in compositions (#6843)
  web/src/compositions/useFavicon.test.ts
  web/src/compositions/useFavicon.ts
  web/src/compositions/useInterval.test.ts
  web/src/compositions/useInterval.ts
  web/src/compositions/usePaginate.test.ts
  web/src/compositions/usePaginate.ts
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Make grpc secret autogenerated (#6845)
  agent/rpc/auth_interceptor.go
  agent/rpc/auth_interceptor_test.go
  agent/rpc/client_grpc.go
  agent/rpc/client_grpc_test.go
  cmd/server/flags.go
  cmd/server/grpc_server.go
  cmd/server/setup.go
  cmd/server/setup_test.go
  docs/docs/30-administration/10-configuration/10-server.md
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

WebUI: unregister scaffold Tab on unmount and stable Tab order (#6842)
  web/src/components/layout/scaffold/Tab.test.ts
  web/src/components/layout/scaffold/Tab.vue
  web/src/compositions/useTabs.ts
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

add fuzz target to ci run
  .woodpecker/test.yaml
Due: lint-pipeline

resolv conf
  web/src/components/layout/scaffold/Tab.test.ts
  web/src/components/layout/scaffold/Tab.vue
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

rm
  web/src/lib/pipeline.test.ts
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

refactor: rework k8s utils to handle resource names and labels
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/pod_test.go
  pipeline/backend/kubernetes/service.go
  pipeline/backend/kubernetes/service_test.go
  pipeline/backend/kubernetes/utils.go
  pipeline/backend/kubernetes/utils_test.go
  pipeline/backend/kubernetes/volume.go
  pipeline/backend/kubernetes/volume_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

add toLabelValue method
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/secrets.go
  pipeline/backend/kubernetes/utils.go
  pipeline/backend/kubernetes/utils_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

use sha256 for hashes
  pipeline/backend/kubernetes/utils.go
  pipeline/backend/kubernetes/utils_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

refactor: rework k8s utils to handle resource names and labels (#6855)
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/pod_test.go
  pipeline/backend/kubernetes/secrets.go
  pipeline/backend/kubernetes/service.go
  pipeline/backend/kubernetes/service_test.go
  pipeline/backend/kubernetes/utils.go
  pipeline/backend/kubernetes/utils_test.go
  pipeline/backend/kubernetes/volume.go
  pipeline/backend/kubernetes/volume_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

forbid deprecated golang.org/x/crypto/openpgp
  .golangci.yaml
Due: none

Ignore GO-2026-5932 (unused openpgp package) in trivy scans (#6850)
  .golangci.yaml
  .trivyignore
Due: none

refactor to more clean code
  web/src/lib/pipeline.ts
  web/src/views/repo/pipeline/Pipeline.vue
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

Fix persisting pipeline configuration
  server/pipeline/create.go
  server/pipeline/create_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

kin 139
  go.mod
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

tidy
  go.sum
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

UI: show runtime workflow errors (#6577)
  web/src/assets/locales/en.json
  web/src/components/layout/scaffold/Tab.test.ts
  web/src/components/layout/scaffold/Tab.vue
  web/src/lib/pipeline.ts
  web/src/views/repo/pipeline/Pipeline.vue
  web/src/views/repo/pipeline/PipelineErrors.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

fix(server): revive the CreatePipeline retry (dead since v3.14)
  server/store/datastore/pipeline.go
  server/store/datastore/pipeline_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

chore: shorten comments per review
  server/store/datastore/pipeline.go
  server/store/datastore/pipeline_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

refactor: consolidate duplicate detection into wrapInsert
  server/store/datastore/helper.go
  server/store/datastore/helper_test.go
  server/store/datastore/pipeline.go
  server/store/datastore/pipeline_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

test(server): cover the CreatePipeline duplicate branches
  server/store/datastore/pipeline_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix CreatePipeline retry (#6859)
  server/store/datastore/helper.go
  server/store/datastore/helper_test.go
  server/store/datastore/pipeline.go
  server/store/datastore/pipeline_test.go
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, integration, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Translated using Weblate (Russian)
  web/src/assets/locales/ru.json
Due: publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, cross-compile-server, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, prettier, install-dependencies, format-check, typecheck, formatcheck

update node
  .pre-commit-config.yaml
Due: none

Path conditions:
  publish-next-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  integration: any of: .woodpecker/integration.yaml, **/*.go, go.*
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**)
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  format-check: any of: .woodpecker/web.yaml, web/**, server/api/**
  typecheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
