Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, format-check, typecheck, formatcheck

Path conditions:
  cross-compile-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-agent-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-cli-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  format-check: any of: .woodpecker/web.yaml, web/**, server/api/**
  typecheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**

user settings
  web/src/views/repo/RepoPipelines.vue
  web/src/views/user/UserAgents.vue
  web/src/views/user/UserCLIAndAPI.vue
  web/src/views/user/UserGeneral.vue
  web/src/views/user/UserRegistries.vue
  web/src/views/user/UserSecrets.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

fix checks
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/compositions/useTabs.ts
  web/src/views/repo/RepoBranches.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

remove more type assertions
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

fix formatting
  web/src/compositions/useWPTitle.ts
  web/src/views/Repos.vue
  web/src/views/repo/RepoPipelines.vue
  web/src/views/user/UserAgents.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

admin settings
  web/src/assets/locales/en.json
  web/src/views/admin/AdminAgents.vue
  web/src/views/admin/AdminInfo.vue
  web/src/views/admin/AdminOrgs.vue
  web/src/views/admin/AdminQueue.vue
  web/src/views/admin/AdminRegistries.vue
  web/src/views/admin/AdminRepos.vue
  web/src/views/admin/AdminSecrets.vue
  web/src/views/admin/AdminSettingsWrapper.vue
  web/src/views/admin/AdminUsers.vue
  web/src/views/repo/RepoBranches.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

org pages
  web/src/assets/locales/en.json
  web/src/views/admin/AdminAgents.vue
  web/src/views/org/OrgRepos.vue
  web/src/views/org/settings/OrgAgents.vue
  web/src/views/org/settings/OrgRegistries.vue
  web/src/views/org/settings/OrgSecrets.vue
  web/src/views/repo/RepoBranches.vue
  web/src/views/repo/RepoPipelines.vue
  web/src/views/repo/RepoPullRequests.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

more pages
  web/src/views/Login.vue
  web/src/views/RepoAdd.vue
  web/src/views/Repos.vue
  web/src/views/org/settings/OrgAgents.vue
  web/src/views/repo/RepoBranch.vue
  web/src/views/repo/RepoManualPipeline.vue
  web/src/views/repo/RepoPullRequest.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

repo settings
  web/src/assets/locales/en.json
  web/src/views/org/settings/OrgAgents.vue
  web/src/views/org/settings/OrgRegistries.vue
  web/src/views/org/settings/OrgSecrets.vue
  web/src/views/repo/settings/Actions.vue
  web/src/views/repo/settings/Badge.vue
  web/src/views/repo/settings/Crons.vue
  web/src/views/repo/settings/General.vue
  web/src/views/repo/settings/Registries.vue
  web/src/views/repo/settings/Secrets.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

Translated using Weblate (French)
  web/src/assets/locales/fr.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

Use slugified plugin urls in docs
  docs/blog/2024-01-01-continuous-deployment/index.md
  docs/docs/20-usage/51-plugins/20-creating-plugins.md
  docs/docs/20-usage/75-project-settings.md
  docs/docs/20-usage/90-advanced-usage.md
  docs/plugins/woodpecker-plugins/src/index.ts
  docs/versioned_docs/version-2.8/20-usage/51-plugins/20-creating-plugins.md
  docs/versioned_docs/version-2.8/20-usage/90-advanced-usage.md
  docs/versioned_docs/version-3.3/20-usage/51-plugins/20-creating-plugins.md
  docs/versioned_docs/version-3.3/20-usage/75-project-settings.md
  docs/versioned_docs/version-3.3/20-usage/90-advanced-usage.md
  docs/versioned_docs/version-3.4/20-usage/51-plugins/20-creating-plugins.md
  docs/versioned_docs/version-3.4/20-usage/75-project-settings.md
  docs/versioned_docs/version-3.4/20-usage/90-advanced-usage.md
  docs/versioned_docs/version-3.5/20-usage/51-plugins/20-creating-plugins.md
  docs/versioned_docs/version-3.5/20-usage/75-project-settings.md
  docs/versioned_docs/version-3.5/20-usage/90-advanced-usage.md
  pipeline/frontend/yaml/linter/schema/schema.json
Due: deploy-preview

Use centrally typed inject provide in Vue (#5113)
  web/src/components/layout/popups/DeployPipelinePopup.vue
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/compositions/useInjectProvide.ts
  web/src/compositions/useTabs.ts
  web/src/views/org/OrgRepos.vue
  web/src/views/org/OrgWrapper.vue
  web/src/views/org/settings/OrgAgents.vue
  web/src/views/org/settings/OrgRegistries.vue
  web/src/views/org/settings/OrgSecrets.vue
  web/src/views/org/settings/OrgSettingsWrapper.vue
  web/src/views/repo/RepoBranch.vue
  web/src/views/repo/RepoBranches.vue
  web/src/views/repo/RepoManualPipeline.vue
  web/src/views/repo/RepoPipelines.vue
  web/src/views/repo/RepoPullRequest.vue
  web/src/views/repo/RepoPullRequests.vue
  web/src/views/repo/RepoWrapper.vue
  web/src/views/repo/pipeline/Pipeline.vue
  web/src/views/repo/pipeline/PipelineChangedFiles.vue
  web/src/views/repo/pipeline/PipelineConfig.vue
  web/src/views/repo/pipeline/PipelineDebug.vue
  web/src/views/repo/pipeline/PipelineErrors.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
  web/src/views/repo/settings/Actions.vue
  web/src/views/repo/settings/Badge.vue
  web/src/views/repo/settings/Crons.vue
  web/src/views/repo/settings/General.vue
  web/src/views/repo/settings/Registries.vue
  web/src/views/repo/settings/RepoSettings.vue
  web/src/views/repo/settings/Secrets.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

🎉 Release 3.6.0
  CHANGELOG.md
Due: none

Use slugified plugin urls in docs (#5116)
  docs/blog/2024-01-01-continuous-deployment/index.md
  docs/docs/20-usage/51-plugins/20-creating-plugins.md
  docs/docs/20-usage/75-project-settings.md
  docs/docs/20-usage/90-advanced-usage.md
  docs/plugins/woodpecker-plugins/src/index.ts
  docs/versioned_docs/version-2.8/20-usage/51-plugins/20-creating-plugins.md
  docs/versioned_docs/version-2.8/20-usage/90-advanced-usage.md
  docs/versioned_docs/version-3.3/20-usage/51-plugins/20-creating-plugins.md
  docs/versioned_docs/version-3.3/20-usage/75-project-settings.md
  docs/versioned_docs/version-3.3/20-usage/90-advanced-usage.md
  docs/versioned_docs/version-3.4/20-usage/51-plugins/20-creating-plugins.md
  docs/versioned_docs/version-3.4/20-usage/75-project-settings.md
  docs/versioned_docs/version-3.4/20-usage/90-advanced-usage.md
  docs/versioned_docs/version-3.5/20-usage/51-plugins/20-creating-plugins.md
  docs/versioned_docs/version-3.5/20-usage/75-project-settings.md
  docs/versioned_docs/version-3.5/20-usage/90-advanced-usage.md
  pipeline/frontend/yaml/linter/schema/schema.json
Due: deploy-preview

pipeline pages
  web/src/views/repo/pipeline/Pipeline.vue
  web/src/views/repo/pipeline/PipelineChangedFiles.vue
  web/src/views/repo/pipeline/PipelineConfig.vue
  web/src/views/repo/pipeline/PipelineDebug.vue
  web/src/views/repo/pipeline/PipelineErrors.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

formatting
  web/src/views/repo/pipeline/PipelineErrors.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

fix nits
  web/src/views/org/settings/OrgAgents.vue
  web/src/views/repo/pipeline/PipelineChangedFiles.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

use small dot as delimiter
  web/src/compositions/useWPTitle.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

chore: .
  docs/plugins/woodpecker-plugins/plugins.json
Due: deploy-preview

Fix link
  docs/docs/20-usage/20-workflow-syntax.md
Due: deploy-preview

Move `plugin-s3` to Codeberg (#5118)
  docs/plugins/woodpecker-plugins/plugins.json
Due: deploy-preview

Fix link (#5119)
  docs/docs/20-usage/20-workflow-syntax.md
Due: deploy-preview

Fix link to agent configuration in `v3.5` docs
  docs/versioned_docs/version-3.5/20-usage/20-workflow-syntax.md
Due: deploy-preview

Set dynamic page titles (#5104)
  web/src/assets/locales/en.json
  web/src/compositions/useWPTitle.ts
  web/src/views/Login.vue
  web/src/views/RepoAdd.vue
  web/src/views/Repos.vue
  web/src/views/admin/AdminAgents.vue
  web/src/views/admin/AdminInfo.vue
  web/src/views/admin/AdminOrgs.vue
  web/src/views/admin/AdminQueue.vue
  web/src/views/admin/AdminRegistries.vue
  web/src/views/admin/AdminRepos.vue
  web/src/views/admin/AdminSecrets.vue
  web/src/views/admin/AdminSettingsWrapper.vue
  web/src/views/admin/AdminUsers.vue
  web/src/views/org/OrgRepos.vue
  web/src/views/org/settings/OrgAgents.vue
  web/src/views/org/settings/OrgRegistries.vue
  web/src/views/org/settings/OrgSecrets.vue
  web/src/views/repo/RepoBranch.vue
  web/src/views/repo/RepoBranches.vue
  web/src/views/repo/RepoManualPipeline.vue
  web/src/views/repo/RepoPipelines.vue
  web/src/views/repo/RepoPullRequest.vue
  web/src/views/repo/RepoPullRequests.vue
  web/src/views/repo/pipeline/Pipeline.vue
  web/src/views/repo/pipeline/PipelineChangedFiles.vue
  web/src/views/repo/pipeline/PipelineConfig.vue
  web/src/views/repo/pipeline/PipelineDebug.vue
  web/src/views/repo/pipeline/PipelineErrors.vue
  web/src/views/repo/settings/Actions.vue
  web/src/views/repo/settings/Badge.vue
  web/src/views/repo/settings/Crons.vue
  web/src/views/repo/settings/General.vue
  web/src/views/repo/settings/Registries.vue
  web/src/views/repo/settings/Secrets.vue
  web/src/views/user/UserAgents.vue
  web/src/views/user/UserCLIAndAPI.vue
  web/src/views/user/UserGeneral.vue
  web/src/views/user/UserRegistries.vue
  web/src/views/user/UserSecrets.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

Translated using Weblate (Latvian)
  web/src/assets/locales/lv.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

Fix link to agent configuration in `v3.5` docs (#5122)
  docs/versioned_docs/version-3.5/20-usage/20-workflow-syntax.md
Due: deploy-preview

tidy
  go.mod
  go.sum
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix linter
  cli/exec/metadata_test.go
  cli/pipeline/list_test.go
  cli/pipeline/pipeline_test.go
  cli/pipeline/purge_test.go
  cli/repo/repo_show_test.go
  cli/repo/repo_test.go
  cli/update/updater_test.go
  pipeline/backend/dummy/dummy_test.go
  server/cron/cron_test.go
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucketdatacenter/bitbucketdatacenter_test.go
  server/forge/bitbucketdatacenter/internal/client_test.go
  server/forge/forgejo/forgejo_test.go
  server/forge/gitea/gitea_test.go
  server/forge/github/github_test.go
  server/forge/gitlab/convert.go
  server/forge/gitlab/gitlab_test.go
  server/grpc/rpc_test.go
  server/logging/log_test.go
  server/pubsub/pub_test.go
  server/queue/fifo_test.go
  server/services/config/combined_test.go
  server/services/config/forge_test.go
  server/store/datastore/migration/migration_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

View full pipeline duration in tooltip
  web/src/assets/locales/en.json
  web/src/components/repo/pipeline/PipelineItem.vue
  web/src/compositions/usePipeline.ts
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

format
  web/src/components/repo/pipeline/PipelineItem.vue
  web/src/compositions/usePipeline.ts
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck

fix tc
  web/src/compositions/useElapsedTime.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, format-check, typecheck, formatcheck
