Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install_dependencies, formatcheck, typecheck

cross-compile-server:
  image: docker.io/techknowlogick/xgo:go-1.21.4
  pull: true
  commands:
  - apt update
  - apt install -y tree
  - make cross-compile-server
  environment:
    PLATFORMS: linux|arm/v7;linux|arm64/v8;linux|amd64;linux|ppc64le;linux|riscv64
    TAGS: bindata sqlite sqlite_unlock_notify netgo
    XGO_VERSION: go-1.21.2

publish-next-server:
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.0
  group: docker
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
    platforms: linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le,linux/riscv64
    tag:
  ...

publish-next-server-alpine:
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.0
  group: docker
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
  ...

publish-release-branch-server:
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.0
  group: docker
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
    platforms: linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le,linux/riscv64
  ...

publish-release-branch-server-alpine:
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.0
  group: docker
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
  ...

publish-next-agent:
  group: docker
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.0
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

publish-next-agent-alpine:
  group: docker
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.0
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.alpine.multiarch
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
    tag:
  ...

publish-release-branch-agent:
  group: docker
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.0
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

publish-release-branch-agent-alpine:
  group: docker
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.0
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.alpine.multiarch
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
  ...

vendor:
  image: docker.io/golang:1.21.5
  commands:
  - go mod vendor

also rm web prettier
  web/.prettierrc.js
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install_dependencies, formatcheck, typecheck

Update Owners 2024 (#3075)
  CONTRIBUTING.md
Due: none

🎉 Release 2.2.0
  CHANGELOG.md
Due: none

Remove old files (#3077)
  .changelog.yml
  .prettierignore
  .prettierrc.json
  docs/.prettierrc.js
  pipeline/samples/sample_1/.env
  pipeline/samples/sample_1/README.md
  pipeline/samples/sample_1/pipeline.json
  pipeline/samples/sample_1/pipeline.yml
  pipeline/samples/sample_10_windows/.env
  pipeline/samples/sample_10_windows/README.md
  pipeline/samples/sample_10_windows/pipeline.json
  pipeline/samples/sample_10_windows/pipeline.yml
  pipeline/samples/sample_2/.env
  pipeline/samples/sample_2/pipeline.json
  pipeline/samples/sample_2/pipeline.yml
  pipeline/samples/sample_3/.env
  pipeline/samples/sample_3/pipeline.json
  pipeline/samples/sample_3/pipeline.yml
  pipeline/samples/sample_4/.env
  pipeline/samples/sample_4/pipeline.json
  pipeline/samples/sample_4/pipeline.yml
  pipeline/samples/sample_5/.env
  pipeline/samples/sample_5/pipeline.json
  pipeline/samples/sample_5/pipeline.yml
  pipeline/samples/sample_6/.env
  pipeline/samples/sample_6/pipeline.json
  pipeline/samples/sample_6/pipeline.yml
  pipeline/samples/sample_7_redis/pipeline.json
  pipeline/samples/sample_7_redis/pipeline.yml
  pipeline/samples/sample_8_network_mode/README.md
  pipeline/samples/sample_8_network_mode/pipeline.json
  pipeline/samples/sample_8_network_mode/pipeline.yml
  pipeline/samples/sample_8_postgres/pipeline.yml
  pipeline/samples/sample_9_cache/.env
  pipeline/samples/sample_9_cache/pipeline.json
  pipeline/samples/sample_9_cache/pipeline.yml
  web/.prettierrc.js
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, install_dependencies, formatcheck, typecheck

make event in pipeline schema also a constraint_list
  pipeline/frontend/yaml/linter/schema/schema.json
Due: none

cleanup
  pipeline/frontend/yaml/compiler/dag.go
  pipeline/frontend/yaml/compiler/dag_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fmt
  pipeline/frontend/yaml/compiler/dag_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

new test
  .woodpecker/docker.yml
Due: lint-pipeline

fix missing code
  docs/docs/30-administration/10-server-config.md
  docs/docs/30-administration/15-agent-config.md
Due: deploy-preview

fix links
  docs/docs/10-intro.md
  docs/docs/20-usage/15-terminiology/index.md
  docs/docs/20-usage/25-workflows.md
Due: deploy-preview

add just more dag tests (#3083)
  pipeline/frontend/yaml/compiler/dag_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

also test binaries
  .woodpecker/binaries.yml
Due: lint-pipeline

quiet precommit
  .woodpecker/binaries.yml
Due: lint-pipeline

Allow PR secrets to be used on close
  server/model/secret.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Update docs/docs/20-usage/51-plugins/20-creating-plugins.md
  docs/docs/20-usage/51-plugins/20-creating-plugins.md
Due: deploy-preview

Extend create plugin docs (#3062)
  docs/docs/20-usage/40-secrets.md
  docs/docs/20-usage/51-plugins/10-plugins.md
  docs/docs/20-usage/51-plugins/20-creating-plugins.md
  docs/docs/20-usage/51-plugins/20-sample-plugin.md
Due: deploy-preview

Update server/model/secret.go
  server/model/secret.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

more code and code comments
  server/model/secret.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

more tests
  server/model/secret_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Apply suggestions from code review
  web/src/compositions/useVersion.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install_dependencies, formatcheck, typecheck

address
  web/src/compositions/useVersion.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install_dependencies, formatcheck, typecheck

fmt
  web/src/compositions/useVersion.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install_dependencies, formatcheck, typecheck

use semver for version comparsion (#3042)
  web/package.json
  web/pnpm-lock.yaml
  web/src/compositions/useVersion.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install_dependencies, formatcheck, typecheck

fix alterTableSecretsAddUserCol to handle NULL cases of secret_repo_id
  server/store/datastore/migration/008_secrets_add_user.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

add testcase
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-when.yml
Due: none

add event_constraint_list
  pipeline/frontend/yaml/linter/schema/schema.json
Due: none

more test cases
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-pipeline-when.yml
Due: none

Mark local backend as stable
  docs/docs/30-administration/22-backends/20-local.md
Due: deploy-preview

make sure cross-compile-server does not run with other compile steps
  .woodpecker/docker.yml
Due: lint-pipeline

make event in pipeline schema also a constraint_list (#3082)
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-pipeline-when.yml
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-when.yml
  pipeline/frontend/yaml/linter/schema/schema.json
Due: none

Move `cmd/common` to `shared`
  cli/common/flags.go
  cli/common/zerologger.go
  cmd/agent/agent.go
  cmd/agent/main.go
  cmd/server/flags.go
  cmd/server/server.go
  shared/logger/logger.go
  shared/logger/terminal.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

revert change
  server/api/metrics/prometheus.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install_dependencies, formatcheck, typecheck

fix lint
  .golangci.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

improve header wording
  docs/docs/30-administration/10-server-config.md
Due: deploy-preview

no service support
  docs/docs/30-administration/22-backends/20-local.md
Due: deploy-preview

Mark local backend as stable (#3088)
  docs/docs/30-administration/22-backends/20-local.md
Due: deploy-preview

Path conditions:
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install_dependencies: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**
