Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

cross-compile-server:
  depends_on:
  - vendor
  - build-web
  image: docker.io/techknowlogick/xgo:go-1.21.5
  pull: true
  commands:
  - apt update
  - apt install -y tree
  - make cross-compile-server
  environment:
    PLATFORMS: linux|arm/v7;linux|arm64/v8;linux|amd64;linux|ppc64le;linux|riscv64
  ...

publish-next-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-next-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-release-branch-server:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.multiarch
  ...

publish-release-branch-server-alpine:
  depends_on:
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-server,quay.io/woodpeckerci/woodpecker-server
    dockerfile: docker/Dockerfile.server.alpine.multiarch
  ...

publish-next-agent:
  depends_on:
  - vendor
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

publish-next-agent-alpine:
  depends_on:
  - vendor
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.alpine.multiarch
  ...

publish-release-branch-agent:
  depends_on:
  - vendor
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.multiarch
  ...

publish-release-branch-agent-alpine:
  depends_on:
  - vendor
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-agent,quay.io/woodpeckerci/woodpecker-agent
    dockerfile: docker/Dockerfile.agent.alpine.multiarch
    platforms: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le
  ...

publish-next-cli:
  depends_on:
  - vendor
  - cross-compile-server
  image: docker.io/woodpeckerci/plugin-docker-buildx:2.2.1
  settings:
    repo: woodpeckerci/woodpecker-cli,quay.io/woodpeckerci/woodpecker-cli
    dockerfile: docker/Dockerfile.cli.multiarch
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

Fix missing linebreak (#3203)
  docs/docs/20-usage/60-services.md
Due: deploy-preview

Secured kubernetes backend configuration
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/kubernetes/kubernetes_test.go
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/service.go
  pipeline/backend/kubernetes/service_test.go
  pipeline/backend/kubernetes/volume.go
  pipeline/backend/kubernetes/volume_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Use `assert` for test (#3201)
  cli/internal/util_test.go
  cmd/agent/config_test.go
  cmd/agent/health_test.go
  pipeline/backend/docker/convert_test.go
  pipeline/error_test.go
  pipeline/errors/error_test.go
  pipeline/frontend/yaml/compiler/option_test.go
  pipeline/frontend/yaml/constraint/constraint_test.go
  pipeline/frontend/yaml/linter/linter_test.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/utils/image_test.go
  pipeline/rpc/log_entry_test.go
  server/api/helper_test.go
  server/forge/common/utils_test.go
  server/forge/gitlab/gitlab_test.go
  server/grpc/rpc_test.go
  server/model/user_test.go
  server/pipeline/pipelineStatus_test.go
  server/pipeline/step_status_test.go
  server/plugins/utils/http_test.go
  server/queue/fifo_test.go
  server/store/datastore/agent_test.go
  server/store/datastore/config_test.go
  server/store/datastore/feed_test.go
  server/store/datastore/permission_test.go
  server/store/datastore/redirection_test.go
  server/store/datastore/registry_test.go
  server/store/datastore/repo_test.go
  server/store/datastore/secret_test.go
  server/store/datastore/server_config_test.go
  server/store/datastore/step_test.go
  server/store/datastore/task_test.go
  server/store/datastore/workflow_test.go
  woodpecker-go/woodpecker/client_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

🎉 Release 2.2.0
  CHANGELOG.md
Due: none

add prettier back to web workflow
  .woodpecker/web.yaml
Due: lint-pipeline

fix indent
  .woodpecker/web.yaml
Due: lint-pipeline

inore web completely
  .prettierignore
Due: none

Do not run prettier with pre-commit (#3196)
  .pre-commit-config.yaml
  .prettierignore
  .woodpecker/test.yaml
  web/.prettierignore
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, lint-pipeline, install-dependencies, formatcheck, typecheck

Add schema test for depends_on
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-dag.yaml
  pipeline/frontend/yaml/linter/schema/schema_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Add to agent exponential backoff for fetching new tasks
  agent/rpc/client_grpc.go
  agent/runner.go
  cmd/agent/agent.go
  shared/utils/context.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Secured kubernetes backend configuration (#3204)
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/kubernetes/kubernetes_test.go
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/service.go
  pipeline/backend/kubernetes/service_test.go
  pipeline/backend/kubernetes/volume.go
  pipeline/backend/kubernetes/volume_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

use as intendet
  agent/runner.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

use context instead of abool
  agent/runner.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

add missing diff
  agent/runner.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

just add some debug msg
  agent/runner.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix fmt
  web/src/views/repo/RepoBranch.vue
  web/src/views/repo/RepoPullRequest.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

fix link
  docs/blog/2023-11-09-release-v2.0.0/index.md
Due: deploy-preview

Add schema test for depends_on (#3205)
  pipeline/frontend/yaml/linter/schema/.woodpecker/test-dag.yaml
  pipeline/frontend/yaml/linter/schema/schema_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

commit missed refactoring
  agent/rpc/client_grpc.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

docs: update dependencies
  docs/package.json
  docs/pnpm-lock.yaml
Due: deploy-preview

docs: update dependencies (#3207)
  docs/package.json
  docs/pnpm-lock.yaml
Due: deploy-preview

fix expression syntax docs url
  docs/docs/20-usage/20-workflow-syntax.md
Due: deploy-preview

Docs: Fix expression syntax docs url (#3208)
  docs/docs/20-usage/20-workflow-syntax.md
Due: deploy-preview

Retrieve all user repo perms with a single API call
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucket/internal/client.go
  server/forge/bitbucket/internal/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Load more pipeline log lines (500 => 5000)
  web/src/components/repo/pipeline/PipelineLog.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

bitbucket fixture user permissions returns all testing repos in payload
  server/forge/bitbucket/fixtures/handler.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

more fixes
  .cspell.json
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/types/secret.go
  pipeline/frontend/yaml/types/workflow.go
  web/src/assets/locales/cs.json
  web/src/assets/locales/de.json
  web/src/assets/locales/en.json
  web/src/assets/locales/es.json
  web/src/assets/locales/fr.json
  web/src/assets/locales/id.json
  web/src/assets/locales/lv.json
  web/src/assets/locales/nl.json
  web/src/assets/locales/pl.json
  web/src/assets/locales/ru.json
  web/src/assets/locales/uk.json
  web/src/assets/locales/zh-Hans.json
  web/src/components/repo/settings/RegistriesTab.vue
  web/src/compositions/useDate.ts
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Remove some interfaces
  cmd/server/server.go
  server/forge/configFetcher.go
  server/router/middleware/store.go
  server/store/context.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Revert "Make config linking non-unique (#3128)"
  server/model/config.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Delete pipeline configs if configs are unieque to pipeleine and related workflows too
  server/store/datastore/pipeline.go
  server/store/datastore/pipeline_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

move Config persistance into storage module and fix it
  server/forge/mocks/forge.go
  server/model/config.go
  server/pipeline/config.go
  server/store/datastore/config.go
  server/store/datastore/config_test.go
  server/store/mocks/store.go
  server/store/store.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

add edgecase testcase
  server/store/datastore/config_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

fix tests
  server/store/datastore/config_test.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Path conditions:
  cross-compile-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**
