Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, set-version, lint, release, test-schema, test, deps, formatcheck, typecheck

Path conditions:
  build: any of: docs/**
  deploy: any of: docs/**
  set-version: any of: charts/**
  lint: (any of: charts/**) or (any of: vendor/**, go.mod, go.sum, **/*.go, .golangci.yml) or (any of: web/**)
  release: any of: charts/**
  test-schema: any of: server/pipeline-schema/**
  test: (any of: vendor/**, go.mod, go.sum, **/*.go) or (any of: web/**)
  deps: any of: web/**
  formatcheck: any of: web/**
  typecheck: any of: web/**

add migration hint
  docs/docs/91-migrations.md
Due: build, deploy

cleanup docs a bit
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/22-conditional-execution.md
Due: build, deploy

Only publish to latest on tags (#505)
  .woodpecker/main.yml
  docs/docs/80-downloads.md
Due: build, deploy

Update 80-downloads.md
  docs/docs/80-downloads.md
Due: build, deploy

remove unused flags
  cmd/agent/agent.go
  cmd/agent/flags.go
  cmd/server/flags.go
  cmd/server/server.go
  cmd/server/setup.go
  docs/docs/91-migrations.md
  server/remote/gitea/gitea.go
  server/remote/gitea/gitea_test.go
  server/remote/gitea/helper.go
  server/remote/gitea/helper_test.go
  server/remote/github/convert.go
  server/remote/github/convert_test.go
  server/remote/github/github.go
  server/remote/github/github_test.go
  server/remote/gitlab/convert.go
  server/remote/gitlab/gitlab.go
Due: build, deploy, lint, test

Update 80-downloads.md (#691)
  docs/docs/80-downloads.md
Due: build, deploy

fix ui issues and improve mobile view
  web/src/components/atomic/Button.vue
  web/src/components/atomic/Icon.vue
  web/src/components/atomic/IconButton.vue
  web/src/components/form/Checkbox.vue
  web/src/components/form/RadioField.vue
  web/src/components/repo/build/BuildItem.vue
  web/src/components/repo/build/BuildLog.vue
  web/src/components/repo/build/BuildProcList.vue
  web/src/components/tabs/Tabs.vue
  web/src/compositions/useBuild.ts
  web/src/views/Login.vue
  web/src/views/Repos.vue
  web/src/views/repo/RepoWrapper.vue
  web/src/views/repo/build/Build.vue
  web/src/views/repo/build/BuildConfig.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: lint, test, deps, formatcheck, typecheck

show proc errors
  web/src/components/repo/build/BuildLog.vue
  web/src/lib/api/types/build.ts
Due: lint, test, deps, formatcheck, typecheck

auto open logs on md screens
  web/src/views/repo/build/Build.vue
Due: lint, test, deps, formatcheck, typecheck

load changed files for PRs
  server/api/hook.go
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucket/bitbucket_test.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/coding/coding.go
  server/remote/coding/coding_test.go
  server/remote/gitea/gitea.go
  server/remote/github/convert.go
  server/remote/github/github.go
  server/remote/gitlab/gitlab.go
  server/remote/gitlab/gitlab_test.go
  server/remote/gogs/gogs.go
  server/remote/mocks/remote.go
  server/remote/remote.go
Due: lint, test

github tag build should not have changed files
  server/remote/github/convert.go
Due: lint, test

Fix some ui issues and mobile view (#695)
  web/src/components/atomic/Button.vue
  web/src/components/atomic/Icon.vue
  web/src/components/atomic/IconButton.vue
  web/src/components/form/Checkbox.vue
  web/src/components/form/RadioField.vue
  web/src/components/repo/build/BuildItem.vue
  web/src/components/repo/build/BuildLog.vue
  web/src/components/repo/build/BuildProcList.vue
  web/src/components/tabs/Tabs.vue
  web/src/compositions/useBuild.ts
  web/src/lib/api/types/build.ts
  web/src/views/Login.vue
  web/src/views/Repos.vue
  web/src/views/repo/RepoWrapper.vue
  web/src/views/repo/build/Build.vue
  web/src/views/repo/build/BuildConfig.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: lint, test, deps, formatcheck, typecheck

github tag build should not have changed files (#698)
  server/remote/github/convert.go
Due: lint, test

pipeline compiler: use const for strings
  pipeline/frontend/yaml/compiler/compiler.go
Due: lint, test

re-enable environment constraint tests
  pipeline/frontend/yaml/constraint.go
  pipeline/frontend/yaml/constraint_test.go
Due: lint, test

use doublestar (glob pattern) for all constrains
  pipeline/frontend/yaml/constraint.go
Due: lint, test

more tests
  pipeline/frontend/yaml/constraint_test.go
Due: lint, test

move constraint code into own package
  pipeline/frontend/yaml/config.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/constraint/constraint_test.go
  pipeline/frontend/yaml/container.go
  pipeline/frontend/yaml/container_test.go
Due: lint, test

dont relay on remote impl - filter path match based on event tag at constraints
  pipeline/frontend/yaml/constraint/constraint.go
Due: lint, test

Fix multiline secrets replacer
  pipeline/shared/replace_secrets.go
  pipeline/shared/replace_secrets_test.go
Due: lint, test

Added another test, just to be sure
  pipeline/shared/replace_secrets_test.go
Due: lint, test

fix lint issue
  pipeline/frontend/yaml/config.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/constraint/constraint_test.go
  pipeline/frontend/yaml/container_test.go
Due: lint, test

update docs
  docs/docs/20-usage/22-conditional-execution.md
Due: build, deploy

Fix multiline secrets replacer (#700)
  pipeline/shared/replace_secrets.go
  pipeline/shared/replace_secrets_test.go
Due: lint, test

tiny ui fixes
  web/src/components/repo/build/BuildItem.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: lint, test, deps, formatcheck, typecheck

fix dublicated changed file bug for gitea
  server/remote/gitea/helper.go
  shared/utils/strings.go
Due: lint, test

fix gitlab
  server/remote/gitlab/convert.go
  server/remote/gitlab/gitlab.go
  server/remote/gitlab/gitlab_test.go
Due: lint, test

rm unrelated
  server/api/hook.go
Due: lint, test

Start using github lib for webhook parsing
  server/remote/github/convert.go
  server/remote/github/convert_test.go
  server/remote/github/github.go
  server/remote/github/parse.go
  server/remote/github/parse_test.go
  server/remote/github/types.go
Due: lint, test

fix tests, harden converts, finish initial refactor
  server/remote/github/convert.go
  server/remote/github/convert_test.go
  server/remote/github/github.go
  server/remote/github/parse.go
  server/remote/github/parse_test.go
Due: lint, test

update fixtures
  server/remote/github/fixtures/hooks.go
  server/remote/github/fixtures/mock_server.go
  server/remote/github/parse_test.go
  server/remote/gitlab/gitlab_test.go
Due: lint, test

Apply suggestions from code review
  docs/docs/20-usage/22-conditional-execution.md
  pipeline/frontend/yaml/constraint/constraint.go
Due: build, deploy, lint, test

more specific
  pipeline/frontend/yaml/constraint/constraint.go
Due: lint, test

tiny ui fixes (#702)
  web/src/components/repo/build/BuildItem.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: lint, test, deps, formatcheck, typecheck

Update pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/constraint/constraint.go
Due: lint, test

Improve compile pipeline (#699)
  docs/docs/20-usage/22-conditional-execution.md
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/config.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/constraint/constraint_test.go
  pipeline/frontend/yaml/container.go
  pipeline/frontend/yaml/container_test.go
Due: build, deploy, lint, test

Automatically determine platform of agent (#690)
  cmd/agent/agent.go
  cmd/agent/flags.go
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/22-conditional-execution.md
  docs/docs/30-administration/11-agent-config.md
  docs/docs/91-migrations.md
Due: build, deploy, lint, test

fix gitlab repo loading and pull-request id getting
  server/remote/github/github.go
  server/remote/gitlab/convert.go
  server/remote/gitlab/gitlab.go
Due: lint, test

move docker stuff into own pipeline
  .woodpecker/docker.yml
  .woodpecker/main.yml
Due: none
