Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-cli, build, securitycheck, deploy-preview, deploy, set-version, lint, release, test-schema, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

Path conditions:
  build-cli: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**

Fix pipeline feed not updated by new events (#1424)
  server/model/feed.go
  server/store/datastore/feed.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Dismiss popups with escape (#1426)
  web/src/components/layout/Popup.vue
Due: none

Refresh token when running cron
  server/cron/cron.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Change healtcheck port into address format As discussed in the comments in PR #1197. Also add documenation accordingly.
  cmd/agent/agent.go
  cmd/agent/flags.go
  cmd/agent/health.go
  docs/docs/30-administration/15-agent-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Prevent possible crash in address check
  cmd/agent/health.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Update the UI
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/yarn.lock
Due: none

Do not use global var
  server/cron/cron.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Change healtcheck port into address format, redo #1197 (#1423)
  cmd/agent/agent.go
  cmd/agent/flags.go
  cmd/agent/health.go
  docs/docs/30-administration/15-agent-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Make lint happy
  server/cron/cron.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

point navbar to selected docs version
  docs/docusaurus.config.js
  docs/package.json
  docs/plugins/woodpecker-plugins/package.json
  docs/pnpm-lock.yaml
Due: build-cli, build, securitycheck, deploy-preview, deploy

update lock file
  docs/plugins/woodpecker-plugins/pnpm-lock.yaml
Due: build-cli, build, securitycheck, deploy-preview, deploy

Point docs navbar items to selected version (#1434)
  docs/docusaurus.config.js
  docs/package.json
  docs/plugins/woodpecker-plugins/package.json
  docs/plugins/woodpecker-plugins/pnpm-lock.yaml
  docs/pnpm-lock.yaml
Due: build-cli, build, securitycheck, deploy-preview, deploy

Refresh token before executing a cron pipeline (#1432)
  server/cron/cron.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Get rid of yarn lock
  web/yarn.lock
Due: none

Move drone_compatibility to module pipeline, set drone envirinment vars before executing steps
  agent/runner.go
  pipeline/drone_compatibility.go
  pipeline/frontend/metadata.go
  pipeline/pipeline.go
  pipeline/tracer.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Copy env vars to drone env wars only if they exist
  pipeline/drone_compatibility.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Revert debugging message to previous message
  pipeline/pipeline.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Translated using Weblate (Indonesian)
  web/src/assets/locales/id.json
Due: none

finish
  pipeline/pipeline.go
  pipeline/tracer.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Update pipeline/tracer.go
  pipeline/tracer.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

xgo:go-1.19.3
  .woodpecker/docker.yml
Due: lint-pipeline

xgo:go-1.18.8
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/docs.yml
  .woodpecker/test.yml
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

make CGO optional
  Makefile
Due: none

fix
  Makefile
Due: none

Makefile tweaks (#1410)
  Makefile
  docker/Dockerfile.make
Due: none

try 1.18.7
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/docs.yml
  .woodpecker/test.yml
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

Fix wrong drone env vars (#1419)
  agent/runner.go
  pipeline/drone_compatibility.go
  pipeline/frontend/drone_compatibility.go
  pipeline/frontend/metadata.go
  pipeline/pipeline.go
  pipeline/tracer.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

infent Info and some notes
  agent/runner.go
  pipeline/rpc/peer.go
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker.proto
  pipeline/rpc/proto/woodpecker_grpc.pb.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

refactor
  agent/logger.go
  agent/runner.go
  agent/tracer.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

more logging
  agent/runner.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

format nit
  agent/runner.go
  agent/tracer.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

nit
  agent/logger.go
  agent/runner.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

do a proper destroy also on error, kill or cancle
  agent/runner.go
  cli/exec/exec.go
  pipeline/pipeline.go
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

on step cancle, dont overwrite step log
  pipeline/pipeline.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

more advanced
  agent/runner.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

refactor: fix name
  server/grpc/rpc.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

fix lint
  agent/logger.go
  agent/runner.go
  agent/tracer.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

router: create apiBase
  server/router/api.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

CI: pin xgo and go to v1.18.7 (#1439)
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/docs.yml
  .woodpecker/test.yml
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

rm public events from user feed
  server/api/stream.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov
