Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, set-version, lint, release, test-schema, test, deps, formatcheck, typecheck

build:
  image: node:14-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.2.1
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  - cr package charts/woodpecker-agent
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

test:
  image: golang:1.16
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

deps:
  image: node:16-alpine
  commands:
  - cd web/
  - yarn install --frozen-lockfile

formatcheck:
  group: test
  image: node:16-alpine
  commands:
  - cd web/
  - yarn formatcheck

typecheck:
  group: test
  image: node:16-alpine
  commands:
  - cd web/
  - yarn typecheck

Add test case
  server/model/proc_test.go
Due: lint, test

proc.Tree() func do not depend on sorted procs list (#647)
  server/model/proc.go
  server/model/proc_test.go
Due: lint, test

Do not exclude repo owner from gated rule (#641)
  server/api/hook.go
Due: lint, test

show yml config of build in UI
  server/api/build.go
  server/router/api.go
  web/src/components/repo/build/BuildProcs.vue
  web/src/lib/api/index.ts
  web/src/lib/api/types/buildConfig.ts
  web/src/lib/api/types/index.ts
  web/src/router.ts
  web/src/views/repo/build/Build.vue
  web/src/views/repo/build/BuildConfig.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: lint, test, deps, formatcheck, typecheck

show changed files
  web/src/components/tabs/Tab.vue
  web/src/router.ts
  web/src/views/repo/build/BuildChangedFiles.vue
  web/src/views/repo/build/BuildWrapper.vue
Due: lint, test, deps, formatcheck, typecheck

prevent failed sync to abort whole sync process
  server/shared/userSyncer.go
Due: lint, test

show status message after repository sync
  server/api/user.go
  server/model/repo.go
  web/src/lib/api/index.ts
  web/src/lib/api/types/repo.ts
  web/src/store/repos.ts
  web/src/views/RepoAdd.vue
Due: lint, test, deps, formatcheck, typecheck

fix API client expecting different response
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/types.go
Due: lint, test

fix gitlab sub repo listing
  server/remote/gitlab/convert.go
Due: lint, test

pass repo to remote perm func
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucket/bitbucket_test.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/coding/coding.go
  server/remote/coding/coding_test.go
  server/remote/gitea/gitea.go
  server/remote/gitea/gitea_test.go
  server/remote/github/github.go
  server/remote/github/github_test.go
  server/remote/gitlab/gitlab.go
  server/remote/gitlab/gitlab_test.go
  server/remote/gogs/gogs.go
  server/remote/gogs/gogs_test.go
  server/remote/mocks/remote.go
  server/remote/remote.go
  server/router/middleware/session/repo.go
  server/shared/userSyncer.go
Due: lint, test

go:generate mockery
  server/remote/mocks/remote.go
Due: lint, test

pass repo to remote perm func (#653)
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucket/bitbucket_test.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/coding/coding.go
  server/remote/coding/coding_test.go
  server/remote/gitea/gitea.go
  server/remote/gitea/gitea_test.go
  server/remote/github/github.go
  server/remote/github/github_test.go
  server/remote/gitlab/gitlab.go
  server/remote/gitlab/gitlab_test.go
  server/remote/gogs/gogs.go
  server/remote/gogs/gogs_test.go
  server/remote/mocks/remote.go
  server/remote/remote.go
  server/router/middleware/session/repo.go
  server/shared/userSyncer.go
Due: lint, test

skip nested GitLab repositories during sync
  server/remote/gitlab/gitlab.go
Due: lint, test

Update server/remote/gitlab/convert.go
  server/remote/gitlab/convert.go
Due: lint, test

Update server/remote/gitlab/gitlab.go
  server/remote/gitlab/gitlab.go
Due: lint, test

hotfix gitlab sub repo listing (#652)
  server/remote/gitlab/convert.go
Due: lint, test

skip nested GitLab repositories during sync (#656)
  server/remote/gitlab/gitlab.go
Due: lint, test

fix GetRepos endpoint returning null
  server/api/user.go
Due: lint, test

API GetRepos() return empty list if no active repos exist (#658)
  server/api/user.go
Due: lint, test

refactor
  cmd/server/server.go
  pipeline/frontend/yaml/config.go
  server/api/build.go
  server/api/hook.go
  server/config.go
  server/shared/procBuilder.go
Due: lint, test

simplify branchFiltered
  server/api/hook.go
Due: lint, test

fix #581
  server/shared/procBuilder.go
Due: lint, test

pipeline: right group
  .woodpecker/main.yml
Due: none

dont overwrite coverage files
  .woodpecker/test.yml
  Makefile
Due: none

add gocovmerge tool
  Makefile
  contrib/gocovmerge.go
  go.mod
  tools.go
  vendor/golang.org/x/tools/cover/profile.go
  vendor/modules.txt
Due: lint, test

pipeline: generate & upload coverage
  .woodpecker/test.yml
Due: none

ensure it works with woodpecker v0.16.0 too
  .woodpecker/test.yml
Due: none

pretend to be drone
  .woodpecker/test.yml
Due: none

add badge
  README.md
Due: none

test upload of multibe files
  .woodpecker/test.yml
Due: none

Revert "add gocovmerge tool"
  Makefile
  contrib/gocovmerge.go
  go.mod
  tools.go
  vendor/golang.org/x/tools/cover/profile.go
  vendor/modules.txt
Due: lint, test

debug
  .woodpecker/test.yml
Due: none

Update README.md
  README.md
Due: none

ping
  .woodpecker/test.yml
Due: none

add docu about CI_COMMIT_BRANCH
  .woodpecker/test.yml
  docs/docs/20-usage/50-environment.md
Due: build, deploy

rename-step
  .woodpecker/test.yml
Due: none

add check for this specific case
  server/shared/procBuilder.go
Due: lint, test

gofumpt -w -l -extra .
  cli/internal/util.go
  cmd/agent/agent.go
  cmd/server/server.go
  pipeline/backend/backend.go
  pipeline/backend/types/engine.go
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/constraint.go
  pipeline/frontend/yaml/types/types_yaml.go
  server/api/build.go
  server/api/metrics/prometheus.go
  server/model/repo.go
  server/model/user_test.go
  server/queue/fifo.go
  server/remote/bitbucket/internal/client.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/bitbucketserver/convert.go
  server/remote/bitbucketserver/convert_test.go
  server/remote/bitbucketserver/internal/client.go
  server/remote/gitea/gitea.go
  server/remote/gitea/helper_test.go
  server/remote/gitlab/convert.go
  server/remote/gitlab/gitlab.go
  server/remote/gitlab/gitlab_test.go
  server/remote/gitlab/helper.go
  server/remote/gogs/helper_test.go
  server/router/middleware/session/repo_test.go
  server/shared/buildStatus_test.go
  server/shared/procBuilder_test.go
  server/shared/procStatus_test.go
  server/store/datastore/migration/common.go
  server/store/datastore/migration/migration_test.go
  server/web/config.go
  shared/oauth2/oauth2.go
  version/version.go
  woodpecker-go/woodpecker/client.go
Due: lint, test

procBuilder is allowed to return empty build list
  server/shared/procBuilder.go
Due: lint, test

Update server/shared/procBuilder.go
  server/shared/procBuilder.go
Due: lint, test

Path conditions:
  build: any of: docs/**
  deploy: any of: docs/**
  set-version: any of: charts/**
  lint: (any of: charts/**) or (any of: vendor/**, go.mod, go.sum, **/*.go, .golangci.yml) or (any of: web/**)
  release: any of: charts/**
  test-schema: any of: server/pipeline-schema/**
  test: (any of: vendor/**, go.mod, go.sum, **/*.go) or (any of: web/**)
  deps: any of: web/**
  formatcheck: any of: web/**
  typecheck: any of: web/**
