Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, set-version, lint, release, test-schema, test, deps, formatcheck, typecheck

build:
  image: node:14-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.2.1
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  - cr package charts/woodpecker-agent
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

test:
  image: golang:1.16
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

deps:
  image: node:16-alpine
  commands:
  - cd web/
  - yarn install --frozen-lockfile

formatcheck:
  group: test
  image: node:16-alpine
  commands:
  - cd web/
  - yarn formatcheck

typecheck:
  group: test
  image: node:16-alpine
  commands:
  - cd web/
  - yarn typecheck

add interface & mcache impl
  server/cache/cache.go
  server/cache/mcache/setup.go
Due: lint, test

next
  server/cache/cache.go
  server/cache/mcache/setup.go
  server/cache/redis/setup.go
Due: lint, test

Add flag for not fetching permissions (FlatPermissions) (#491) (#625)
  cmd/server/flags.go
  cmd/server/server.go
  server/api/user.go
  server/config.go
  server/shared/userSyncer.go
Due: lint, test

add woodpeckerci/plugin-docker
  shared/constant/privileged_plugins.go
Due: lint, test

Add "woodpeckerci/plugin-docker-buildx" to privileged plugins (#623)
  cli/exec/flags.go
  cmd/server/flags.go
  shared/constant/privileged_plugins.go
Due: lint, test

Revert "privileged: true"
  .woodpecker/main.yml
Due: none

bump dind image to 20.x, to raise underlying gRPC compat from 1.40 to 1.41
  charts/woodpecker-agent/templates/deployment.yaml
Due: set-version, lint, release

bump dind image to 20.x, to raise underlying gRPC compat from 1.40 to 1.41 (#627)
  charts/woodpecker-agent/templates/deployment.yaml
Due: set-version, lint, release

CI_PULL_REQUEST => CI_COMMIT_PULL_REQUEST
  docs/docs/91-migrations.md
  pipeline/frontend/metadata.go
Due: build, deploy, lint, test

add TODO for drop with v0.16.0 development
  pipeline/frontend/metadata.go
  pipeline/frontend/yaml/container.go
Due: lint, test

pipeline env migrate CI_TAG & CI_PULL_REQUEST to new CI_COMMIT_TAG & CI_COMMIT_PULL_REQUEST (#624)
  docs/docs/91-migrations.md
  pipeline/frontend/metadata.go
  pipeline/frontend/yaml/container.go
Due: build, deploy, lint, test

fix sqlite schema normalising
  server/store/datastore/migration/common.go
Due: lint, test

sqlite robuster alg to extract columns form schema
  server/store/datastore/migration/common.go
Due: lint, test

fix
  server/store/datastore/migration/common.go
Due: lint, test

move new alg to own func for unit testing
  server/store/datastore/migration/common.go
Due: lint, test

unit tests
  server/store/datastore/migration/common.go
  server/store/datastore/migration/common_test.go
Due: lint, test

optimize regex
  server/store/datastore/migration/common.go
Due: lint, test

migration tests for sqlite
  server/store/datastore/migration/migration_test.go
  server/store/datastore/migration/testfiles/.gitignore
Due: lint, test

clean
  server/store/datastore/migration/common_test.go
Due: lint, test

fix pipeline config
  .woodpecker/test.yml
Due: none

fix tests to other dbms
  server/store/datastore/engine_test.go
  server/store/datastore/migration/migration_test.go
Due: lint, test

fix postgres & mysql
  .woodpecker/test.yml
Due: none

fix sqlite migration on column drop of uncommon schemas (#629)
  server/store/datastore/migration/common.go
  server/store/datastore/migration/common_test.go
Due: lint, test

add specific dockerignore
  docker/Dockerfile.agent.alpine.multiarch.dockerignore
  docker/Dockerfile.agent.multiarch.dockerignore
Due: none

fix
  docker/Dockerfile.agent.alpine.multiarch.dockerignore
  docker/Dockerfile.agent.multiarch.dockerignore
Due: none

rm .dockerignore
  docker/Dockerfile.agent.alpine.multiarch.dockerignore
  docker/Dockerfile.agent.multiarch.dockerignore
Due: none

delete old Dockerfiles
  docker/Dockerfile.agent
  docker/Dockerfile.agent.alpine
Due: none

Use Woodpecker theme colors on Safari Tab Bar / Header Bar
  web/index.html
  web/src/compositions/useDarkMode.ts
Due: lint, test, deps, formatcheck, typecheck

Use Woodpecker theme colors on Safari Tab Bar / Header Bar (#632)
  web/index.html
  web/src/compositions/useDarkMode.ts
Due: lint, test, deps, formatcheck, typecheck

Add multiarch support agent (#622)
  .woodpecker/main.yml
  Makefile
  docker/Dockerfile.agent
  docker/Dockerfile.agent.alpine
  docker/Dockerfile.agent.alpine.multiarch
  docker/Dockerfile.agent.multiarch
Due: none

split dev docs
  docs/docs/92-development.md
  docs/docs/92-development/01-getting-started.md
  docs/docs/92-development/03-ui.md
  docs/docs/92-development/04-docs.md
  docs/docs/92-development/05-architecture.md
  docs/docs/92-development/06-guides.md
  docs/docs/92-development/_category_.yml
Due: build, deploy

add vs-code settings
  .gitignore
  .vscode/settings.json
Due: none

complete "Add new migration" chapter
  docs/docs/92-development.md
Due: build, deploy

pipeline config run "main/build-deb-rpm" only for tags
  .woodpecker/main.yml
Due: none

Add development docs (#610)
  .gitignore
  .vscode/extensions.json
  .woodpecker/main.yml
  docs/docs/92-development.md
  docs/docs/92-development/vscode-debug.png
  docs/docs/92-development/vscode-run-test.png
  docs/docs/92-development/woodpecker-architecture.png
Due: build, deploy

multiarch build cli docker images
  .woodpecker/main.yml
  docker/Dockerfile.cli
  docker/Dockerfile.cli.alpine
  docker/Dockerfile.cli.alpine.multiarch
  docker/Dockerfile.cli.multiarch
Due: none

Multiarch build server docker images
  .woodpecker/main.yml
  Makefile
  docker/Dockerfile.server
  docker/Dockerfile.server.alpine
  docker/Dockerfile.server.alpine.multiarch
  docker/Dockerfile.server.multiarch
Due: none

Path conditions:
  build: any of: docs/**
  deploy: any of: docs/**
  set-version: any of: charts/**
  lint: (any of: charts/**) or (any of: vendor/**, go.mod, go.sum, **/*.go, .golangci.yml) or (any of: web/**)
  release: any of: charts/**
  test-schema: any of: server/pipeline-schema/**
  test: (any of: vendor/**, go.mod, go.sum, **/*.go) or (any of: web/**)
  deps: any of: web/**
  formatcheck: any of: web/**
  typecheck: any of: web/**
