Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy-preview, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

next try for cmd.exe
  pipeline/backend/local/command.go
  pipeline/backend/local/local.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

cmd
  pipeline/backend/local/command.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

🎉 Release 2.0.0
  CHANGELOG.md
Due: none

Fix error when closing logs
  server/grpc/rpc.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Do not print log level
  cmd/common/logger.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Remove deprecated API paths
  cmd/server/docs/docs.go
  docs/docs/91-migrations.md
  server/api/stream.go
  server/router/api.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Fix error when closing logs (#2637)
  server/grpc/rpc.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fix lint
  cmd/server/setup.go
  server/plugins/encryption/encryption_builder.go
Due: forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Only disable on CLI
  cli/common/zerologger.go
  cmd/agent/agent.go
  cmd/cli/app.go
  cmd/common/logger.go
  cmd/server/server.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fix level
  cmd/common/logger.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix swagger method
  server/api/pipeline.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Fix error when closing logs (#2637) (#2640)
  cmd/server/setup.go
  server/grpc/rpc.go
  server/plugins/encryption/encryption_builder.go
Due: forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Add "Repair all" button
  server/api/repo.go
  server/router/api.go
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminReposTab.vue
  web/src/lib/api/index.ts
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

gen swag
  cmd/server/docs/docs.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix lint/format
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminReposTab.vue
Due: test, lint, deps, formatcheck, typecheck

Do not print log level on CLI (#2638)
  cli/common/zerologger.go
  cmd/agent/agent.go
  cmd/cli/app.go
  cmd/common/logger.go
  cmd/server/server.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Add "Repair all" button (#2642)
  cmd/server/docs/docs.go
  server/api/repo.go
  server/router/api.go
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminReposTab.vue
  web/src/lib/api/index.ts
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix codecov plugin version
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fix codecov plugin version (#2643)
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

update migration
  docs/docs/91-migrations.md
Due: deploy-preview, deploy

undo migration change
  server/store/datastore/migration/025_remove_secrets_plugin_only_col.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Update docs/docs/91-migrations.md
  docs/docs/91-migrations.md
Due: deploy-preview, deploy

Remove deprecated API paths (#2639)
  cmd/server/docs/docs.go
  docs/docs/91-migrations.md
  server/api/pipeline.go
  server/api/stream.go
  server/router/api.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix codecov version and don't ignore failure
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Use repo user to repair
  server/api/repo.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

revert
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix test
  go.mod
  pipeline/backend/common/script_posix.go
  pipeline/backend/common/script_posix_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

rename props
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/stepBuilder.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

update docs
  cmd/server/docs/docs.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Use repo user to repair (#2645)
  server/api/repo.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

bump
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Bump codecov version to fix build (#2644)
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

update swagger
  cmd/server/docs/docs.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Remove plugin-only option from secrets (#2213)
  cli/secret/secret_add.go
  cli/secret/secret_set.go
  cmd/server/docs/docs.go
  docs/docs/20-usage/40-secrets.md
  docs/docs/91-migrations.md
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/compiler_test.go
  pipeline/stepBuilder.go
  server/api/global_secret.go
  server/api/org_secret.go
  server/api/repo_secret.go
  server/model/secret.go
  server/store/datastore/migration/025_remove_secrets_plugin_only_col.go
  server/store/datastore/migration/migration.go
  web/src/components/secrets/SecretEdit.vue
  web/src/components/secrets/SecretList.vue
  web/src/lib/api/types/secret.ts
  woodpecker-go/woodpecker/types.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck
