Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, securitycheck, deploy-preview, deploy, set-version, lint, release, test-schema, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

build:
  image: node:16-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

vendor:
  image: golang:1.18
  group: prepare
  commands:
  - go mod vendor

lint-pipeline:
  image: golang:1.18
  commands:
  - go run github.com/woodpecker-ci/woodpecker/cmd/cli lint

dummy-web:
  image: golang:1.18
  group: prepare
  commands:
  - mkdir -p web/dist/
  - echo "test" > web/dist/index.html

test:
  image: golang:1.18
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

sqlite:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=sqlite3
  commands:
  - make test-server-datastore-coverage

postgres:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=postgres
  - WOODPECKER_DATABASE_DATASOURCE=host=service-postgres user=postgres dbname=postgres sslmode=disable
  commands:
  - make test-server-datastore

mysql:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=mysql
  - WOODPECKER_DATABASE_DATASOURCE=root@tcp(service-mysql:3306)/test?parseTime=true
  commands:
  - make test-server-datastore

codecov:
  pull: true
  image: woodpeckerci/plugin-codecov:next-alpine
  settings:
    files:
    - agent-coverage.out
    - cli-coverage.out
    - server-coverage.out
    - datastore-coverage.out
    token:
      from_secret: codecov_token

Fix embed
  web/web.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Add gitpod port names
  .gitpod.yml
Due: none

Add gitpod port names (#1359)
  .gitpod.yml
Due: none

test-again
  server/remote/gitea/fixtures/handler.go
  server/remote/gitea/gitea_test.go
  server/remote/gitea/parse_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Fix import order
  pipeline/frontend/yaml/container.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Add Node PM plugin
  docs/plugins/woodpecker-plugins/plugins.json
Due: build, securitycheck, deploy-preview, deploy

Add migration and fix fmt
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/forge/mocks/forge.go
  server/model/feed.go
  server/model/pipeline.go
  server/model/repo.go
  server/store/datastore/feed.go
  server/store/datastore/migration/011_rename_remote_to_forge.go
  server/store/datastore/migration/migration.go
  server/store/datastore/repo.go
  server/store/mocks/store.go
  woodpecker-go/woodpecker/types.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Use html landmark elements
  web/src/App.vue
  web/src/assets/locales/en.json
  web/src/components/layout/header/ActivePipelines.vue
  web/src/components/layout/header/Navbar.vue
  web/src/components/layout/scaffold/Header.vue
  web/src/components/pipeline-feed/PipelineFeedSidebar.vue
  web/src/views/Login.vue
Due: none

adjust to new gitea api
  server/remote/gitea/fixtures/handler.go
  server/remote/gitea/parse_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

use mock_store for test
  server/remote/gitea/fixtures/handler.go
  server/remote/gitea/gitea_test.go
  server/store/context.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

format
  server/remote/gitea/gitea_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

sort-too
  agent/runner.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Lazy load locales
  web/src/App.vue
  web/src/compositions/useI18n.ts
  web/src/views/User.vue
  web/vite.config.ts
Due: none

nit
  server/shared/stepStatus.go
  server/shared/stepStatus_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

raw
  docs/plugins/woodpecker-plugins/plugins.json
Due: build, securitycheck, deploy-preview, deploy

Update docs/plugins/woodpecker-plugins/plugins.json
  docs/plugins/woodpecker-plugins/plugins.json
Due: build, securitycheck, deploy-preview, deploy

Update plugins.json
  docs/plugins/woodpecker-plugins/plugins.json
Due: build, securitycheck, deploy-preview, deploy

Add Node PM plugin (#1360)
  docs/plugins/woodpecker-plugins/plugins.json
Due: build, securitycheck, deploy-preview, deploy

Fix var name
  server/remote/gitea/gitea_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

linter ignore
  .golangci.yml
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

ignore more
  .golangci.yml
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Support changed files for Gitea PRs (#1342)
  .golangci.yml
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/30-administration/11-forges/10-overview.md
  go.mod
  go.sum
  server/remote/gitea/fixtures/handler.go
  server/remote/gitea/gitea.go
  server/remote/gitea/gitea_test.go
  server/remote/gitea/parse_test.go
  server/store/context.go
Due: build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Translated using Weblate (Dutch)
  web/src/assets/locales/de.json
  web/src/assets/locales/es.json
  web/src/assets/locales/fr.json
  web/src/assets/locales/id.json
  web/src/assets/locales/nl.json
Due: none

go generate
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/forge/mocks/forge.go
  server/store/mocks/store.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Fixes
  server/forge/gitea/gitea.go
  server/model/repo.go
  server/store/datastore/repo.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Remove useless ''
  server/model/repo.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Trust default clone image if set via env
  cmd/server/server.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Fix import order
  cmd/server/server.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Skip caches names containing /\:.
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/frontend/yaml/types/cache.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Fix validation and block : in dest
  pipeline/frontend/yaml/types/cache.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Fix Mastodon link
  docs/docusaurus.config.js
Due: build, securitycheck, deploy-preview, deploy

Update Mastodon link (#1364)
  docs/docusaurus.config.js
Due: build, securitycheck, deploy-preview, deploy

Update cli/exec/flags.go
  cli/exec/flags.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

add commit spcific tags for `next` image
  .woodpecker/docker.yml
Due: lint-pipeline

also for agent images
  .woodpecker/docker.yml
Due: lint-pipeline

also for cli images
  .woodpecker/docker.yml
Due: lint-pipeline

quotes, smh
  .woodpecker/docker.yml
Due: lint-pipeline

Path conditions:
  build: any of: docs/**, .woodpecker/docs.yml
  securitycheck: any of: docs/**, .woodpecker/docs.yml
  deploy-preview: any of: docs/**, .woodpecker/docs.yml
  deploy: any of: docs/**, .woodpecker/docs.yml
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
