Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy-preview, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

fix config
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Remove `WOODPECKER_DOCS` config
  cmd/server/flags.go
  cmd/server/server.go
  docs/docs/30-administration/10-server-config.md
  docs/docs/91-migrations.md
  server/config.go
  server/web/config.go
  web/src/components/atomic/DocsLink.vue
  web/src/components/layout/header/Navbar.vue
  web/src/compositions/useConfig.ts
Due: deploy-preview, deploy, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix lint
  web/src/components/atomic/DocsLink.vue
  web/src/components/layout/header/Navbar.vue
Due: test, lint, deps, formatcheck, typecheck

Add woodpecker-lint tool
  docs/docs/92-awesome.md
Due: deploy-preview, deploy

Add woodpecker-lint tool (#2648)
  docs/docs/92-awesome.md
Due: deploy-preview, deploy

🎉 Release 2.0.0
  CHANGELOG.md
Due: none

fix alpine versions in Dockerfile
  docker/Dockerfile.agent.alpine.multiarch
  docker/Dockerfile.cli.alpine.multiarch
  docker/Dockerfile.make
  docker/Dockerfile.server.alpine.multiarch
Due: none

add initial config
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  hooks/pre-commit
Due: none

add ci config
  .pre-commit-config.yaml
Due: none

delete local hook
  hooks/pre-commit
Due: none

[CI SKIP]
  .pre-commit-config.yaml
Due: none

Remove `WOODPECKER_DOCS` config (#2647)
  cmd/server/flags.go
  cmd/server/server.go
  docs/docs/30-administration/10-server-config.md
  docs/docs/91-migrations.md
  server/config.go
  server/web/config.go
  web/src/components/atomic/DocsLink.vue
  web/src/components/layout/header/Navbar.vue
  web/src/compositions/useConfig.ts
Due: deploy-preview, deploy, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Some datastore tests
  cmd/server/docs/docs.go
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/api/hook.go
  server/api/repo.go
  server/forge/github/parse.go
  server/forge/mocks/forge.go
  server/model/step.go
  server/store/datastore/server_config_test.go
  server/store/datastore/step.go
  server/store/datastore/step_test.go
  server/store/mocks/store.go
  server/store/store.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

More tests
  pipeline/backend/local/const_test.go
  server/badges/badges_test.go
  server/forge/types/meta_test.go
  server/model/step_test.go
  server/store/datastore/agent_test.go
  server/store/datastore/helper_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix copyright years
  server/forge/types/meta_test.go
  server/store/datastore/helper_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix lint
  web/src/compositions/useTheme.ts
Due: test, lint, deps, formatcheck, typecheck

fix lint
  server/store/datastore/server_config_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

some xormigrate mig
  cmd/server/setup.go
  go.mod
  go.sum
  server/store/datastore/engine.go
  server/store/datastore/migration/000_legacy_to_xormigrate.go
  server/store/datastore/migration/legacy/000_legacy_to_xorm.go
  server/store/datastore/migration/legacy/001_repos_drop_fallback.go
  server/store/datastore/migration/legacy/002_repos_drop_allow_deploys_allow_tags.go
  server/store/datastore/migration/legacy/003_fix_pr_secret_event_name.go
  server/store/datastore/migration/legacy/004_repos_drop_repo_counter.go
  server/store/datastore/migration/legacy/005_drop_senders.go
  server/store/datastore/migration/legacy/006_log_data_type.go
  server/store/datastore/migration/legacy/007_secrets_add_user.go
  server/store/datastore/migration/legacy/008_lowercase_secret_names.go
  server/store/datastore/migration/legacy/008_recreate_agents_table.go
  server/store/datastore/migration/legacy/009_rename_builds_to_pipeline.go
  server/store/datastore/migration/legacy/010_columns_rename_builds_to_pipeline.go
  server/store/datastore/migration/legacy/011_columns_rename_procs_to_steps.go
  server/store/datastore/migration/legacy/012_rename_remote_to_forge.go
  server/store/datastore/migration/legacy/013_rename_forge_id_to_forge_remote_id.go
  server/store/datastore/migration/legacy/014_remove_active_from_users.go
  server/store/datastore/migration/legacy/015_remove_inactive_repos.go
  server/store/datastore/migration/legacy/016_remove_files_table.go
  server/store/datastore/migration/legacy/017_remove_machine_col.go
  server/store/datastore/migration/legacy/018_drop_old_cols.go
  server/store/datastore/migration/legacy/019_alter_logs_table.go
  server/store/datastore/migration/legacy/020_parent_steps_to_workflows.go
  server/store/datastore/migration/legacy/021_add_orgs.go
  server/store/datastore/migration/legacy/022_add_org_id.go
  server/store/datastore/migration/legacy/023_task_data_type.go
  server/store/datastore/migration/legacy/024_config_data_type.go
  server/store/datastore/migration/legacy/025_remove_secrets_plugin_only_col.go
  server/store/datastore/migration/legacy/common.go
  server/store/datastore/migration/legacy/common_test.go
  server/store/datastore/migration/legacy/migration.go
  server/store/datastore/migration/legacy/migration_test.go
  server/store/datastore/migration/migration.go
  server/store/store.go
Due: forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

try to fix
  server/store/datastore/server_config.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

try fixing no.2
  server/store/datastore/server_config.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Translated using Weblate (Indonesian)
  web/src/assets/locales/de.json
  web/src/assets/locales/id.json
  web/src/assets/locales/zh-Hans.json
Due: test, lint, deps, formatcheck, typecheck

use `\` instead of trailing space
  CONTRIBUTING.md
Due: none

use NoError()
  pipeline/backend/kubernetes/service_test.go
  pipeline/backend/kubernetes/volume_test.go
  pipeline/frontend/yaml/types/base/base_types_test.go
  pipeline/frontend/yaml/types/network_test.go
  pipeline/frontend/yaml/types/volume_test.go
  server/plugins/encryption/aes_test.go
  server/store/datastore/agent_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Added ports into models
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/kubernetes/service.go
  pipeline/backend/types/step.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/container_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

try with beans
  server/store/datastore/server_config.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

new xormigrate
  go.mod
  go.sum
  server/store/datastore/migration/000_legacy_to_xormigrate.go
  server/store/datastore/migration/legacy/migration.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Fixed test
  pipeline/backend/kubernetes/service_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

gofumpt -extra -w
  pipeline/backend/kubernetes/pod.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

npx prettier --write
  pipeline/schema/schema.json
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Update server_config.go
  server/store/datastore/server_config.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Add some tests (#2652)
  cmd/server/docs/docs.go
  pipeline/backend/kubernetes/service_test.go
  pipeline/backend/kubernetes/volume_test.go
  pipeline/backend/local/const_test.go
  pipeline/frontend/yaml/types/base/base_types_test.go
  pipeline/frontend/yaml/types/network_test.go
  pipeline/frontend/yaml/types/volume_test.go
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/api/hook.go
  server/api/repo.go
  server/badges/badges_test.go
  server/forge/github/parse.go
  server/forge/mocks/forge.go
  server/forge/types/meta_test.go
  server/model/step.go
  server/model/step_test.go
  server/plugins/encryption/aes_test.go
  server/store/datastore/agent_test.go
  server/store/datastore/helper_test.go
  server/store/datastore/server_config.go
  server/store/datastore/server_config_test.go
  server/store/datastore/step.go
  server/store/datastore/step_test.go
  server/store/mocks/store.go
  server/store/store.go
Due: deploy-preview, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

local backend ignore errors in commands inbetween (#2636)
  go.mod
  pipeline/backend/common/script.go
  pipeline/backend/common/script_posix.go
  pipeline/backend/common/script_posix_test.go
  pipeline/backend/local/command.go
  pipeline/backend/local/local.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Update securityscan.yml
  .woodpecker/securityscan.yml
Due: lint-pipeline

add hadolint.yml
  .hadolint.yml
Due: none

md lint
  .markdownlint.yaml
Due: none

no fix
  .pre-commit-config.yaml
Due: none

Use `pre-commit` (#2650)
  .hadolint.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none
