Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, securitycheck, deploy-preview, deploy, set-version, lint, release, test-schema, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

build:
  image: node:16-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

vendor:
  image: golang:1.18
  group: prepare
  commands:
  - go mod vendor

lint-pipeline:
  image: golang:1.18
  commands:
  - go run github.com/woodpecker-ci/woodpecker/cmd/cli lint

dummy-web:
  image: golang:1.18
  group: prepare
  commands:
  - mkdir -p web/dist/
  - echo "test" > web/dist/index.html

test:
  image: golang:1.18
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

sqlite:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=sqlite3
  commands:
  - make test-server-datastore-coverage

postgres:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=postgres
  - WOODPECKER_DATABASE_DATASOURCE=host=service-postgres user=postgres dbname=postgres sslmode=disable
  commands:
  - make test-server-datastore

mysql:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=mysql
  - WOODPECKER_DATABASE_DATASOURCE=root@tcp(service-mysql:3306)/test?parseTime=true
  commands:
  - make test-server-datastore

codecov:
  pull: true
  image: woodpeckerci/plugin-codecov:next-alpine
  settings:
    files:
    - agent-coverage.out
    - cli-coverage.out
    - server-coverage.out
    - datastore-coverage.out
    token:
      from_secret: codecov_token

update workflow docs
  docs/docs/20-usage/25-workflows.md
Due: build, securitycheck, deploy-preview, deploy

Display system CA error only if there is an error (#870) (#1286)
  cli/internal/util.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Translated using Weblate (Latvian)
  web/src/assets/locales/lv.json
Due: none

test with fork branch
  docs/plugins/woodpecker-plugins/plugins.json
Due: build, securitycheck, deploy-preview, deploy

add basic scaffold component
  web/components.d.ts
  web/src/components/layout/header/Navbar.vue
  web/src/components/layout/scaffold/Scaffold.vue
  web/src/components/layout/scaffold/ScaffoldTabs.vue
  web/src/components/tabs/Tab.vue
  web/src/views/admin/AdminSettings.vue
  web/src/views/repo/RepoSettings.vue
Due: none

Update all dependencies
  docs/package.json
  docs/plugins/woodpecker-plugins/package.json
  docs/plugins/woodpecker-plugins/pnpm-lock.yaml
  docs/pnpm-lock.yaml
  go.mod
  go.sum
  web/package.json
  web/pnpm-lock.yaml
Due: build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Translated using Weblate (German)
  web/src/assets/locales/de.json
Due: none

Update all dependencies (#1291)
  docs/package.json
  docs/plugins/woodpecker-plugins/package.json
  docs/plugins/woodpecker-plugins/pnpm-lock.yaml
  docs/pnpm-lock.yaml
  go.mod
  go.sum
  web/package.json
  web/pnpm-lock.yaml
Due: build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Navbar Icons Improvements (#1246)
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/atomic/IconButton.vue
  web/src/components/layout/header/ActivePipelines.vue
  web/src/components/layout/header/Navbar.vue
  web/src/components/layout/header/NavbarIcon.vue
Due: none

Translated using Weblate (French)
  web/src/assets/locales/fr.json
Due: none

Translated using Weblate (Italian)
  web/src/assets/locales/it.json
Due: none

Translated using Weblate (Chinese (Simplified))
  web/src/assets/locales/zh_Hans.json
Due: none

Update 00-setup.md
  docs/versioned_docs/version-0.15/30-administration/00-setup.md
Due: build, securitycheck, deploy-preview, deploy

Update SSL information for gRPC
  docs/versioned_docs/version-0.15/30-administration/00-setup.md
Due: build, securitycheck, deploy-preview, deploy

Revert "Update SSL information for gRPC"
  docs/versioned_docs/version-0.15/30-administration/00-setup.md
Due: build, securitycheck, deploy-preview, deploy

Revert "Update 00-setup.md"
  docs/versioned_docs/version-0.15/30-administration/00-setup.md
Due: build, securitycheck, deploy-preview, deploy

Clarify gRPC settings
  docs/docs/30-administration/00-setup.md
Due: build, securitycheck, deploy-preview, deploy

fix link
  docs/docs/30-administration/00-setup.md
Due: build, securitycheck, deploy-preview, deploy

explain caddyfile more
  docs/docs/30-administration/70-proxy.md
Due: build, securitycheck, deploy-preview, deploy

Infer docusaurus dev server URL from browser
  docs/docusaurus.config.js
Due: build, securitycheck, deploy-preview, deploy

Infer docusaurus dev server URL from browser (#1294)
  docs/docusaurus.config.js
Due: build, securitycheck, deploy-preview, deploy

Update docs/plugins/woodpecker-plugins/plugins.json
  docs/plugins/woodpecker-plugins/plugins.json
Due: build, securitycheck, deploy-preview, deploy

Add "Git Push" plugin to index (#1289)
  docs/plugins/woodpecker-plugins/plugins.json
Due: build, securitycheck, deploy-preview, deploy

Update Administration Setup Docs (#1293)
  docs/docs/30-administration/00-setup.md
  docs/docs/30-administration/70-proxy.md
Due: build, securitycheck, deploy-preview, deploy

Rename JSON fields
  agent/state.go
  server/model/event.go
  server/model/proc.go
  server/plugins/config/http.go
  server/shared/configFetcher_test.go
  web/src/components/layout/header/Navbar.vue
  web/src/compositions/useEvents.ts
  web/src/lib/api/index.ts
  web/src/lib/api/types/pipeline.ts
  web/src/lib/api/types/pipelineConfig.ts
  web/src/lib/api/types/repo.ts
  woodpecker-go/woodpecker/types.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Rename columns
  server/model/config.go
  server/model/file.go
  server/model/pipeline.go
  server/store/datastore/migration/010_columns_rename_builds_to_pipeline.go
  server/store/datastore/migration/common.go
  server/store/datastore/migration/migration.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

fix col names
  server/model/feed.go
  server/store/datastore/config.go
  server/store/datastore/feed.go
  server/store/datastore/file.go
  server/store/datastore/pipeline.go
  server/store/datastore/proc.go
  server/store/datastore/repo.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

fix table name
  server/store/datastore/migration/010_columns_rename_builds_to_pipeline.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

fix xorm tag
  server/model/proc.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Navbar Icons Improvements (#1246)
  web/src/components/layout/header/Navbar.vue
Due: none

update
  go.mod
  go.sum
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Check if repo exists before creating build
  server/store/datastore/build.go
  server/store/datastore/build_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Add title to docs links
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminSecretsTab.vue
  web/src/components/atomic/DocsLink.vue
  web/src/components/form/InputField.vue
  web/src/components/org/settings/OrgSecretsTab.vue
  web/src/components/repo/settings/CronTab.vue
  web/src/components/repo/settings/RegistriesTab.vue
  web/src/components/repo/settings/SecretsTab.vue
Due: none

remove unnecessary v-if
  web/src/components/form/InputField.vue
Due: none

Fix reopening gitpod workspace
  .gitpod.yml
Due: none

feature: add pipeline build number into Pipeline list
  web/src/components/repo/pipeline/PipelineItem.vue
Due: none

Path conditions:
  build: any of: docs/**, .woodpecker/docs.yml
  securitycheck: any of: docs/**, .woodpecker/docs.yml
  deploy-preview: any of: docs/**, .woodpecker/docs.yml
  deploy: any of: docs/**, .woodpecker/docs.yml
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
