Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy-docs, test-docs, test-schema, deps, lint, formatcheck, typecheck, test, build

deploy-docs:
  image: node:14-alpine
  secrets:
  - BOT_PRIVATE_KEY
  environment:
  - USE_SSH=true
  - GIT_USER=woodpecker-bot
  - DEPLOYMENT_BRANCH=master
  commands:
  - apk add openssh-client git
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  ...

test-docs:
  image: node:14-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

deps:
  image: node:14-alpine
  commands:
  - cd web/
  - yarn install --frozen-lockfile

lint:
  group: test
  image: node:14-alpine
  commands:
  - cd web/
  - yarn lint

formatcheck:
  group: test
  image: node:14-alpine
  commands:
  - cd web/
  - yarn formatcheck

typecheck:
  group: test
  image: node:14-alpine
  commands:
  - cd web/
  - yarn typecheck

test:
  group: test
  image: node:14-alpine
  commands:
  - cd web/
  - yarn test

build:
  image: node:14-alpine
  commands:
  - cd web/
  - yarn build

disabled kubernetes backend
  cmd/agent/agent.go
Due: none

More logging and refactor (#457)
  cmd/agent/agent.go
  cmd/server/server.go
  cmd/server/setup.go
  server/grpc/rpc.go
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucket/bitbucket_test.go
  server/remote/context.go
  server/shared/configFetcher.go
  server/store/context.go
  server/store/datastore/store.go
  server/store/datastore/store_test.go
  server/store/store.go
Due: none

improve plugin searching
  docs/plugins/woodpecker-plugins/src/index.ts
Due: deploy-docs, test-docs

remove plugin prefix filter
  docs/plugins/woodpecker-plugins/src/index.ts
Due: deploy-docs, test-docs

apply some suggestions
  .github/ISSUE_TEMPLATE/plugin_index.yml
  docs/plugins/woodpecker-plugins/src/index.ts
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
Due: deploy-docs, test-docs

apply suggestions
  docs/plugins/woodpecker-plugins/src/index.ts
Due: deploy-docs, test-docs

Apply suggestions from code review
  docs/plugins/woodpecker-plugins/src/index.ts
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
Due: deploy-docs, test-docs

format
  docs/plugins/woodpecker-plugins/src/index.ts
Due: deploy-docs, test-docs

disable community plugins for now
  .github/ISSUE_TEMPLATE/plugin_index.yml.disabled
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
Due: deploy-docs, test-docs

Add plugin marketplace (for official plugins) (#451)
  .github/ISSUE_TEMPLATE/plugin_index.yml.disabled
  docs/docusaurus.config.js
  docs/package.json
  docs/plugins/woodpecker-plugins/.gitignore
  docs/plugins/woodpecker-plugins/package.json
  docs/plugins/woodpecker-plugins/src/index.ts
  docs/plugins/woodpecker-plugins/src/markdown.ts
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPlugin.tsx
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
  docs/plugins/woodpecker-plugins/src/types.ts
  docs/plugins/woodpecker-plugins/tsconfig.json
  docs/plugins/woodpecker-plugins/tsconfig.jsx.json
  docs/plugins/woodpecker-plugins/yarn.lock
Due: deploy-docs, test-docs

fix assets path
  server/web/web.go
Due: none

Move Vargs to Settings
  pipeline/frontend/yaml/compiler/cacher.go
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/frontend/yaml/container.go
  pipeline/frontend/yaml/container_test.go
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/linter/linter_test.go
Due: none

fix typo
  web/src/components/repo/build/BuildLogs.vue
Due: deps, lint, formatcheck, typecheck, test, build

Release deb, rpm bundles (#405)
  .woodpecker/main.yml
  Makefile
  docs/docs/80-downloads.md
  nfpm/nfpm-agent.yml
  nfpm/nfpm-cli.yml
  nfpm/nfpm-server.yml
Due: deploy-docs, test-docs

fix copy & pasta
  web/src/views/User.vue
Due: deps, lint, formatcheck, typecheck, test, build

shorten next version
  web/src/components/layout/header/Navbar.vue
Due: deps, lint, formatcheck, typecheck, test, build

fix deb, rpm releases
  Makefile
  nfpm/nfpm-agent.yml
  nfpm/nfpm-cli.yml
  nfpm/nfpm-server.yml
Due: none

improve contrast
  web/src/components/atomic/ListItem.vue
  web/src/components/repo/build/BuildLogs.vue
  web/src/components/repo/build/BuildProcs.vue
Due: deps, lint, formatcheck, typecheck, test, build

fix tabs
  web/src/components/tabs/Tab.vue
  web/src/components/tabs/Tabs.vue
  web/src/components/tabs/types.ts
Due: deps, lint, formatcheck, typecheck, test, build

improve contrasts
  web/src/components/atomic/Button.vue
  web/src/components/atomic/IconButton.vue
  web/src/components/form/Checkbox.vue
  web/src/components/form/InputField.vue
  web/src/components/form/RadioField.vue
  web/src/components/form/SelectField.vue
  web/src/components/form/TextField.vue
  web/src/components/repo/settings/ActionsTab.vue
  web/src/components/repo/settings/BadgeTab.vue
  web/src/components/repo/settings/GeneralTab.vue
  web/src/components/repo/settings/RegistriesTab.vue
  web/src/components/repo/settings/SecretsTab.vue
Due: deps, lint, formatcheck, typecheck, test, build

change login text
  web/src/views/Login.vue
Due: deps, lint, formatcheck, typecheck, test, build

only show buttons pages if the user is allowed to
  web/src/views/repo/Repo.vue
  web/src/views/repo/RepoSettings.vue
  web/src/views/repo/RepoWrapper.vue
  web/src/views/repo/build/Build.vue
Due: deps, lint, formatcheck, typecheck, test, build

fix pecking woodpecker
  web/dist/.gitkeep
  web/package.json
  web/src/assets/pecking_woodpecker.gif
  web/src/assets/woodpecker.svg
  web/src/components/repo/build/BuildItem.vue
  web/src/components/repo/build/BuildRunningIcon.vue
  web/vite.config.ts
  web/yarn.lock
Due: deps, lint, formatcheck, typecheck, test, build

fix svg icon
  web/src/components/repo/build/BuildItem.vue
  web/tsconfig.json
Due: deps, lint, formatcheck, typecheck, test, build

fix ts
  web/tsconfig.json
Due: deps, lint, formatcheck, typecheck, test, build

fix deb, rpm releases (#465)
  Makefile
  nfpm/nfpm-agent.yml
  nfpm/nfpm-cli.yml
  nfpm/nfpm-server.yml
Due: none

update node version
  web/package.json
Due: deps, lint, formatcheck, typecheck, test, build

fix icon
  web/src/components/layout/header/Navbar.vue
Due: deps, lint, formatcheck, typecheck, test, build

hide trusted option for none admins
  web/src/components/repo/settings/GeneralTab.vue
Due: deps, lint, formatcheck, typecheck, test, build

fix lint
  web/src/compositions/useBuildFeed.ts
  web/src/views/repo/build/Build.vue
Due: deps, lint, formatcheck, typecheck, test, build

format file
  web/tsconfig.json
Due: deps, lint, formatcheck, typecheck, test, build

fix typecheck
  web/tsconfig.json
Due: deps, lint, formatcheck, typecheck, test, build

fix login image
  web/src/views/Login.vue
Due: deps, lint, formatcheck, typecheck, test, build

Allow both until deprecation
  pipeline/frontend/yaml/container.go
Due: none

move admin views
  web/src/views/admin/Admin.vue
Due: deps, lint, formatcheck, typecheck, test, build

improve login redirect url
  web/src/router.ts
  web/src/views/Login.vue
Due: deps, lint, formatcheck, typecheck, test, build

pin ua-parser-js versions to ^0.7.30
  docs/package.json
  docs/yarn.lock
  web/package-lock.json
  web/package.json
  web/yarn.lock
Due: deploy-docs, test-docs, deps, lint, formatcheck, typecheck, test, build

pin ua-parser-js versions to ^0.7.30 (#467)
  docs/package.json
  docs/yarn.lock
  web/package-lock.json
  web/package.json
  web/yarn.lock
Due: deploy-docs, test-docs, deps, lint, formatcheck, typecheck, test, build

use elapsed time
  web/src/compositions/useBuild.ts
  web/src/compositions/useElapsedTime.ts
Due: deps, lint, formatcheck, typecheck, test, build

improve elapsing times
  web/src/components/build-feed/BuildFeedItem.vue
  web/src/components/repo/build/BuildProcDuration.vue
  web/src/components/repo/build/BuildProcs.vue
  web/src/compositions/useBuild.ts
  web/src/utils/duration.ts
Due: deps, lint, formatcheck, typecheck, test, build

Path conditions:
  deploy-docs: any of: docs/**, but not: docs/pipeline-schema/**
  test-docs: any of: docs/**, but not: docs/pipeline-schema/**
  test-schema: any of: server/pipeline-schema/**
  deps: any of: web/**
  lint: any of: web/**
  formatcheck: any of: web/**
  typecheck: any of: web/**
  test: any of: web/**
  build: any of: web/**
