Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, set-version, lint, release, test-schema, test, deps, formatcheck, typecheck

build:
  image: node:14-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.2.1
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  - cr package charts/woodpecker-agent
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

test:
  image: golang:1.16
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

deps:
  image: node:16-alpine
  commands:
  - cd web/
  - yarn install --frozen-lockfile

formatcheck:
  group: test
  image: node:16-alpine
  commands:
  - cd web/
  - yarn formatcheck

typecheck:
  group: test
  image: node:16-alpine
  commands:
  - cd web/
  - yarn typecheck

next
  .woodpecker/main.yml
  Makefile
Due: none

next
  Makefile
  docker/Dockerfile.server.alpine.multiarch
  docker/Dockerfile.server.multiarch
Due: none

fix
  .woodpecker/main.yml
Due: none

update migration guide
  docs/docs/92-development/06-guides.md
Due: build, deploy

use xgo
  .woodpecker/main.yml
  Makefile
  docker/Dockerfile.server.alpine.multiarch
  docker/Dockerfile.server.multiarch
Due: none

improve ui development
  docs/docs/92-development.md
  docs/docs/92-development/03-ui.md
  docs/docs/92-development/ui-proxy.svg
  web/vite.config.ts
Due: build, deploy, lint, test, deps, formatcheck, typecheck

fix headline level
  docs/docs/92-development/01-getting-started.md
Due: build, deploy

rename headline
  docs/docs/92-development/01-getting-started.md
Due: build, deploy

Apply suggestions from code review
  docs/docs/92-development/06-guides.md
Due: build, deploy

Improve dev docs (#636)
  .gitignore
  .vscode/settings.json
  docs/docs/92-development.md
  docs/docs/92-development/01-getting-started.md
  docs/docs/92-development/03-ui.md
  docs/docs/92-development/04-docs.md
  docs/docs/92-development/05-architecture.md
  docs/docs/92-development/06-guides.md
  docs/docs/92-development/_category_.yml
  docs/docs/92-development/ui-proxy.svg
  web/vite.config.ts
Due: build, deploy, lint, test, deps, formatcheck, typecheck

Multiarch build cli docker images (#634)
  .woodpecker/main.yml
  docker/Dockerfile.cli
  docker/Dockerfile.cli.alpine
  docker/Dockerfile.cli.alpine.multiarch
  docker/Dockerfile.cli.multiarch
Due: none

next
  Makefile
  docker/Dockerfile.server.alpine.multiarch
Due: none

dedupe code
  server/api/build.go
  server/api/hook.go
  server/grpc/rpc.go
  server/model/proc.go
Due: lint, test

rename func
  server/api/build.go
  server/api/hook.go
Due: lint, test

support query envs
  server/api/build.go
  server/api/hook.go
Due: lint, test

add todo
  server/api/build.go
Due: lint, test

Add field for image list in Secrets Repo Settings (Web UI)
  web/src/components/repo/settings/SecretsTab.vue
Due: lint, test, deps, formatcheck, typecheck

Add bit more contributing info & history of owners
  CONTRIBUTING.md
Due: none

log error & compile regex once
  server/grpc/rpc.go
  server/remote/github/github.go
Due: lint, test

Improve status updates (#561)
  server/api/build.go
  server/api/hook.go
  server/grpc/rpc.go
  server/model/proc.go
  server/remote/bitbucket/bitbucket.go
  server/remote/bitbucket/bitbucket_test.go
  server/remote/bitbucket/convert.go
  server/remote/bitbucket/convert_test.go
  server/remote/bitbucketserver/bitbucketserver.go
  server/remote/bitbucketserver/convert.go
  server/remote/coding/coding.go
  server/remote/common/status.go
  server/remote/gitea/gitea.go
  server/remote/gitea/gitea_test.go
  server/remote/gitea/parse.go
  server/remote/github/github.go
  server/remote/gitlab/gitlab.go
  server/remote/gitlab/status.go
  server/remote/gogs/gogs.go
  server/remote/gogs/gogs_test.go
  server/remote/mocks/remote.go
  server/remote/remote.go
Due: lint, test

more praralel
  .woodpecker/main.yml
Due: none

Apply suggestions from code review
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Do not exclude repo owner from gated rule
  server/api/hook.go
Due: lint, test

Add `repo` to `when` block
  docs/docs/20-usage/22-conditional-execution.md
  pipeline/schema/.woodpecker/test-when.yml
  pipeline/schema/schema.json
Due: build, deploy

fix typo
  docs/docs/20-usage/22-conditional-execution.md
Due: build, deploy

nit
  docs/docs/20-usage/22-conditional-execution.md
Due: build, deploy

Add `repo` to `when` block (#642)
  docs/docs/20-usage/22-conditional-execution.md
  pipeline/schema/.woodpecker/test-when.yml
  pipeline/schema/schema.json
Due: build, deploy

validate secret images in backend
  server/model/secret.go
Due: lint, test

trim spaces and filter empty list items
  web/src/components/repo/settings/SecretsTab.vue
Due: lint, test, deps, formatcheck, typecheck

validate more
  server/model/secret.go
Due: lint, test

fix test
  server/model/secret_test.go
Due: lint, test

better regex and tests
  server/model/secret.go
  server/model/secret_test.go
Due: lint, test

Add field for image list in Secrets Repo Settings (Web UI) (#638)
  server/model/secret.go
  server/model/secret_test.go
  web/src/components/repo/settings/SecretsTab.vue
Due: lint, test, deps, formatcheck, typecheck

Add bit more contributing info & history of owners (#639)
  CONTRIBUTING.md
Due: none

Mention Matrix Space & Rooms in Readme & Docs
  CONTRIBUTING.md
  README.md
  docs/docs/30-administration/20-vcs/50-bitbucket.md
  docs/docusaurus.config.js
Due: build, deploy

custom labels
  README.md
Due: none

Mention Matrix Space & Rooms in Readme & Docs (#646)
  CONTRIBUTING.md
  README.md
  docs/docs/30-administration/20-vcs/50-bitbucket.md
  docs/docusaurus.config.js
Due: build, deploy

proc.Tree() func do not depend on sorted procs list
  server/model/proc.go
Due: lint, test

Path conditions:
  build: any of: docs/**
  deploy: any of: docs/**
  set-version: any of: charts/**
  lint: (any of: charts/**) or (any of: vendor/**, go.mod, go.sum, **/*.go, .golangci.yml) or (any of: web/**)
  release: any of: charts/**
  test-schema: any of: server/pipeline-schema/**
  test: (any of: vendor/**, go.mod, go.sum, **/*.go) or (any of: web/**)
  deps: any of: web/**
  formatcheck: any of: web/**
  typecheck: any of: web/**
