Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-cli, build, securitycheck, deploy-preview, deploy, set-version, lint, release, test-schema, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

build-cli:
  image: golang:1.18
  commands:
  - make docs

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

vendor:
  image: golang:1.18
  group: prepare
  commands:
  - go mod vendor

lint-pipeline:
  image: golang:1.18
  commands:
  - go run github.com/woodpecker-ci/woodpecker/cmd/cli lint

dummy-web:
  image: golang:1.18
  group: prepare
  commands:
  - mkdir -p web/dist/
  - echo "test" > web/dist/index.html

test:
  image: golang:1.18
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

sqlite:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=sqlite3
  commands:
  - make test-server-datastore-coverage

postgres:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=postgres
  - WOODPECKER_DATABASE_DATASOURCE=host=service-postgres user=postgres dbname=postgres sslmode=disable
  commands:
  - make test-server-datastore

mysql:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=mysql
  - WOODPECKER_DATABASE_DATASOURCE=root@tcp(service-mysql:3306)/test?parseTime=true
  commands:
  - make test-server-datastore

move rpc client to agent
  agent/rpc/auth_client_grpc.go
  agent/rpc/auth_interceptor.go
  agent/rpc/client_grpc.go
  cmd/agent/agent.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

use icons for step and workflow states
  web/src/components/pipeline-feed/PipelineFeedItem.vue
  web/src/components/repo/pipeline/PipelineItem.vue
  web/src/components/repo/pipeline/PipelineStatusIcon.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: none

update icons
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/atomic/Icon.vue
  web/src/components/repo/pipeline/PipelineStatusIcon.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/components/repo/pipeline/pipeline-status.ts
Due: none

fix scroll
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: none

spelling: github
  CHANGELOG.md
  cmd/server/flags.go
  cmd/server/setup.go
  docs/docs/30-administration/10-server-config.md
  docs/docs/92-awesome.md
  docs/docs/92-development/01-getting-started.md
  docs/plugins/woodpecker-plugins/plugins.json
  docs/versioned_docs/version-0.15/30-administration/10-server-config.md
  docs/versioned_docs/version-0.15/92-awesome.md
  docs/versioned_docs/version-0.15/92-development/01-getting-started.md
  server/forge/github/parse_test.go
  server/swagger/files/swagger.yml
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: multi
  CHANGELOG.md
Due: none

spelling: iterate
  pipeline/backend/local/local.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: received
  shared/utils/context.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: latest
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucketserver/bitbucketserver.go
  server/forge/coding/coding.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/forge/remote.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: refresh
  server/forge/coding/coding.go
  server/forge/remote.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: woodpecker
  docs/docs/30-administration/100-external-configuration-api.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

spelling: cron
  server/cron/cron.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: encrypts
  server/swagger/files/swagger.yml
Due: none

spelling: request
  server/api/stream.go
  server/forge/coding/hook.go
  server/forge/coding/hook_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: into
  server/store/datastore/migration/000_legacy_to_xorm.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: generate
  .woodpecker/docs.yml
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint-pipeline

spelling: push
  server/forge/coding/internal/webhook.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: parallel
  docs/versioned_docs/version-0.15/30-administration/15-agent-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

spelling: unsupported
  server/forge/gogs/gogs_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: synchronize
  server/forge/github/fixtures/hooks.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: readable
  CHANGELOG.md
Due: none

spelling: clicking
  CHANGELOG.md
Due: none

spelling: parents
  server/model/step.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: sanitize
  CHANGELOG.md
Due: none

spelling: multiplexer
  server/logging/log.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: necessary
  server/api/pipeline.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: labeled
  server/pubsub/pubsub.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: incompatibility
  CHANGELOG.md
Due: none

spelling: authenticated
  server/forge/coding/coding_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: payload
  server/forge/gitlab/testdata/projects.go
  server/forge/gitlab/testdata/testdata.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: pipeline
  docs/docs/91-migrations.md
  docs/versioned_docs/version-0.15/91-migrations.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

spelling: registries
  server/store/store.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: repository
  server/forge/bitbucket/internal/types.go
  server/forge/github/github_test.go
  server/forge/gogs/gogs_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: interceptor
  cmd/server/server.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: idea
  server/store/store.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: environment
  docs/versioned_docs/version-0.15/30-administration/15-agent-config.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

spelling: component
  web/src/compositions/useTabs.ts
Due: none

spelling: for
  charts/woodpecker-agent/values.yaml
Due: set-version, lint, release

spelling: deactivates
  server/forge/bitbucket/bitbucket.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

spelling: search
  shared/constant/constant.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Path conditions:
  build-cli: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
