Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, set-version, lint, release, test-schema, dummy-web, test, sqlite, postgres, mysql

build:
  image: node:14-alpine
  commands:
  - cd docs/
  - yarn install --frozen-lockfile
  - yarn build

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

dummy-web:
  image: golang:1.16
  commands:
  - mkdir -p web/dist/
  - echo "test" > web/dist/index.html

test:
  image: golang:1.16
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

sqlite:
  image: golang:1.16
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=sqlite3
  commands:
  - make test-server-datastore

postgres:
  image: golang:1.16
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=postgres
  - WOODPECKER_DATABASE_DATASOURCE=host=service-postgres user=postgres dbname=postgres sslmode=disable
  commands:
  - make test-server-datastore

mysql:
  image: golang:1.16
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=mysql
  - WOODPECKER_DATABASE_DATASOURCE=root@tcp(service-mysql:3306)/test?parseTime=true
  commands:
  - make test-server-datastore

move approve of pipeline into own func
  server/api/build.go
  server/pipeline/approve.go
  server/pipeline/errors.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

header
  server/pipeline/approve.go
  server/pipeline/errors.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

move restart pipeline into own func and package
  server/api/build.go
  server/pipeline/errors.go
  server/pipeline/restart.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

please lint
  server/pipeline/approve.go
  server/pipeline/restart.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

unexport createBuildItems
  server/pipeline/approve.go
  server/pipeline/create.go
  server/pipeline/items.go
  server/pipeline/restart.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

resolve todo
  server/api/build.go
  server/api/hook.go
  server/pipeline/create.go
  server/pipeline/errors.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

move pipeline decline
  server/api/build.go
  server/pipeline/cancel.go
  server/pipeline/create.go
  server/pipeline/decline.go
  server/pipeline/main.go
  server/pipeline/start.go
  server/pipeline/topic.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

finish
  server/api/build.go
  server/pipeline/cancel.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

fix lint
  server/pipeline/cancel.go
  server/pipeline/create.go
  server/pipeline/decline.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

deduplicate of handlePipelineErr
  server/api/build.go
  server/api/helper.go
  server/api/hook.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

resolve TODO
  server/api/build.go
  server/api/helper.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

tmp
  docs/docs/92-development/05-architecture.md
Due: build, deploy

Make pipeline runtime log with description (#970)
  agent/runner.go
  cli/exec/exec.go
  pipeline/option.go
  pipeline/pipeline.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

write down current packages and meaning + TODOs if struct already indecate refactor
  docs/docs/92-development/05-architecture.md
Due: build, deploy

address review (add a lot of code comments) & some nits
  server/api/build.go
  server/api/hook.go
  server/pipeline/approve.go
  server/pipeline/config.go
  server/pipeline/create.go
  server/pipeline/decline.go
  server/pipeline/filter.go
  server/pipeline/helper.go
  server/pipeline/restart.go
  server/pipeline/start.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

fix Restart
  server/pipeline/restart.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

use old method to create newBuild
  server/pipeline/restart.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

Move Server Pipeline Build code out of API into own package (#949)
  server/api/build.go
  server/api/helper.go
  server/api/hook.go
  server/pipeline/approve.go
  server/pipeline/cancel.go
  server/pipeline/config.go
  server/pipeline/create.go
  server/pipeline/decline.go
  server/pipeline/errors.go
  server/pipeline/filter.go
  server/pipeline/helper.go
  server/pipeline/items.go
  server/pipeline/queue.go
  server/pipeline/restart.go
  server/pipeline/start.go
  server/pipeline/topic.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

draft-00.0.0.1
  server/model/const.go
  server/model/cron_job.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

Start: dev ... [storage]: draft interface and implement lock mechanism
  server/cron/cron.go
  server/model/cron_job.go
  server/store/datastore/cron.go
  server/store/datastore/cron_test.go
  server/store/datastore/migration/migration.go
  server/store/store.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

[store] clean and implement
  server/store/datastore/cron.go
  server/store/store.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

do TestCronList
  server/store/datastore/cron.go
  server/store/datastore/cron_test.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

implement core
  server/cron/cron.go
  server/model/cron_job.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

add "github.com/robfig/cron"
  go.mod
  go.sum
  vendor/github.com/robfig/cron/.gitignore
  vendor/github.com/robfig/cron/.travis.yml
  vendor/github.com/robfig/cron/LICENSE
  vendor/github.com/robfig/cron/README.md
  vendor/github.com/robfig/cron/constantdelay.go
  vendor/github.com/robfig/cron/cron.go
  vendor/github.com/robfig/cron/doc.go
  vendor/github.com/robfig/cron/parser.go
  vendor/github.com/robfig/cron/spec.go
  vendor/modules.txt
Due: lint, dummy-web, test, sqlite, postgres, mysql

make build & more
  server/cron/cron.go
  server/store/datastore/cron.go
  server/store/datastore/cron_test.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

more const
  server/cron/cron.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

connect
  server/cron/cron.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

update
  docs/docs/92-development/05-architecture.md
Due: build, deploy

docusauris dont need escape
  docs/docs/92-development/05-architecture.md
Due: build, deploy

global env support in cli exec; procBuilder tests
  cli/exec/exec.go
  server/shared/procBuilder_test.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

Revert "docusauris dont need escape"
  docs/docs/92-development/05-architecture.md
Due: build, deploy

refactor nit: move interfaces to model
  server/model/build.go
  server/model/proc.go
  server/shared/buildStatus.go
  server/shared/procStatus.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

add todos
  server/shared/buildStatus.go
  server/shared/buildStatus_test.go
  server/shared/configFetcher.go
  server/shared/configFetcher_test.go
  server/shared/procBuilder.go
  server/shared/procBuilder_test.go
  server/shared/procStatus.go
  server/shared/procStatus_test.go
  server/shared/userSyncer.go
Due: lint, dummy-web, test, sqlite, postgres, mysql

Update docs/docs/92-development/05-architecture.md
  docs/docs/92-development/05-architecture.md
Due: build, deploy

Return to page after clikcing login at navbar
  web/src/components/layout/header/Navbar.vue
Due: none

make exitcode redable in light mode and indicate status
  web/src/components/repo/build/BuildLog.vue
Due: none

Return to page after clikcing login at navbar (#975)
  web/src/components/layout/header/Navbar.vue
Due: none

Path conditions:
  build: any of: docs/**
  deploy: any of: docs/**
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  dummy-web: any of: .woodpecker/test.yml, **/*.go, go.*, pipeline/schema/**
  test: any of: .woodpecker/test.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, **/*.go, go.*
  postgres: any of: .woodpecker/test.yml, **/*.go, go.*
  mysql: any of: .woodpecker/test.yml, **/*.go, go.*
