Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, test-schema, deps, lint, formatcheck, typecheck, test

.woodpecker/docs.yml:

pipeline:
  build:
    image: node:14-alpine
    commands:
      - cd docs/
      - yarn install --frozen-lockfile
      - yarn build
    when:
      event: [push, pull_request]
      path: "docs/**"

  deploy:
    image: alpine:3.14.2
    secrets:
      - BOT_PRIVATE_KEY
    commands:
      - apk add openssh-client git rsync
      - mkdir -p $HOME/.ssh
      - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
      - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
      - chmod 0600 $HOME/.ssh/id_rsa
      - git config --global user.email "woodpecker-bot@obermui.de"
      - git config --global user.name "woodpecker-bot"
      - git clone -b ${CI_REPO_DEFAULT_BRANCH} --single-branch git@github.com:woodpecker-ci/woodpecker-ci.github.io.git /repo
      # copy all docs files and delete all old ones, but leave CNAME and index.yaml untouched
      - rsync -r --exclude .git --exclude CNAME --exclude index.yaml --exclude README.md --delete docs/build/ /repo
      - cd /repo
      - git add .
      # exit successfully if nothing changed
      - test -n "$(git status --porcelain)" || exit 0
      - git commit -m "Deploy website - based on ${CI_COMMIT_SHA}"
      - git push
    when:
      event: push
      branch: ${CI_REPO_DEFAULT_BRANCH}
      path: "docs/**"

.woodpecker/json-schema.yml:

clone:
  git:
    image: plugins/git:next

pipeline:
  test-schema:
    image: golang:1.16
    commands:
      - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test
    when:
      path: "server/pipeline-schema/**"

.woodpecker/web.yml:

pipeline:
  deps:
    image: node:16-alpine
    commands:
      - cd web/
      - yarn install --frozen-lockfile
    when:
      path: "web/**"

  lint:
    group: test
    image: node:16-alpine
    commands:
      - cd web/
      - yarn lint
    when:
      path: "web/**"

  formatcheck:
    group: test
    image: node:16-alpine
    commands:
      - cd web/
      - yarn formatcheck
    when:
      path: "web/**"

  typecheck:
    group: test
    image: node:16-alpine
    commands:
      - cd web/
      - yarn typecheck
    when:
      path: "web/**"

  test:
    group: test
    image: node:16-alpine
    commands:
      - cd web/
      - yarn test
    when:
      path: "web/**"

rm some
  docs/docs/20-usage/71-project-settings.md
Due: build, deploy

add settings: and fix diff
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/22-conditional-execution.md
  docs/docs/20-usage/50-environment.md
  docs/docs/20-usage/51-plugins/10-plugins.md
  docs/docs/20-usage/51-plugins/20-sample-plugin.md
Due: build, deploy

diff intendation
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build, deploy

Apply suggestions from code review
  docs/docs/20-usage/71-project-settings.md
Due: build, deploy

Update Documentation (fix diffs and add settings) (#569)
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/20-usage/22-conditional-execution.md
  docs/docs/20-usage/50-environment.md
  docs/docs/20-usage/51-plugins/10-plugins.md
  docs/docs/20-usage/51-plugins/20-sample-plugin.md
  docs/docs/20-usage/71-project-settings.md
  docs/docs/20-usage/project-settings.png
  docs/docs/20-usage/repo-list.png
  docs/docs/30-administration/20-vcs/github_oauth.png
  docs/docs/91-migrations.md
Due: build, deploy

Remove ghodss/yaml (#384)
  go.mod
  go.sum
  pipeline/frontend/yaml/compiler/params.go
  shared/yml/yml.go
  vendor/github.com/ghodss/yaml/.gitignore
  vendor/github.com/ghodss/yaml/.travis.yml
  vendor/github.com/ghodss/yaml/LICENSE
  vendor/github.com/ghodss/yaml/README.md
  vendor/github.com/ghodss/yaml/fields.go
  vendor/github.com/ghodss/yaml/yaml.go
  vendor/modules.txt
Due: none

makefile: "test" run backend tests befor frontend
  Makefile
Due: none

refactor and more tests
  pipeline/frontend/yaml/compiler/params.go
  pipeline/frontend/yaml/compiler/params_test.go
Due: none

support array and itterate recursive if element in slice/array is not complex
  pipeline/frontend/yaml/compiler/params.go
  shared/yml/yml.go
Due: none

finish paramsToEnv and move problem to ToJSON
  pipeline/frontend/yaml/compiler/params.go
  pipeline/frontend/yaml/compiler/params_test.go
  shared/yml/yml.go
  shared/yml/yml_test.go
Due: none

add own func to convert yaml to json
  shared/yml/yml.go
  shared/yml/yml_test.go
Due: none

parse scalar nodes by type and speedup for loop
  shared/yml/yml.go
  shared/yml/yml_test.go
Due: none

dedup test
  shared/yml/yml_test.go
Due: none

Write own yaml2json func (#570)
  Makefile
  pipeline/frontend/yaml/compiler/params.go
  pipeline/frontend/yaml/compiler/params_test.go
  shared/yml/yml.go
  shared/yml/yml_test.go
Due: none

improve tests (#562)
  .woodpecker/test.yml
  Makefile
Due: none

Update 70-proxy.md
  docs/docs/30-administration/70-proxy.md
Due: build, deploy

disable back navigation for now
  web/src/compositions/useRouteBackOrDefault.ts
Due: deps, lint, formatcheck, typecheck, test

improve secrets
  web/src/components/form/CheckboxesField.vue
  web/src/components/form/TextField.vue
  web/src/components/repo/settings/SecretsTab.vue
Due: deps, lint, formatcheck, typecheck, test

improve git icons
  web/src/components/repo/build/BuildItem.vue
  web/src/views/repo/RepoBuild.vue
Due: deps, lint, formatcheck, typecheck, test

improve link
  web/src/views/repo/RepoBuild.vue
Due: deps, lint, formatcheck, typecheck, test

improve favicons
  web/index.html
  web/public/favicons/favicon-dark-default.png
  web/public/favicons/favicon-dark-default.svg
  web/public/favicons/favicon-dark-error.png
  web/public/favicons/favicon-dark-error.svg
  web/public/favicons/favicon-dark-pending.png
  web/public/favicons/favicon-dark-pending.svg
  web/public/favicons/favicon-dark-success.png
  web/public/favicons/favicon-dark-success.svg
  web/public/favicons/favicon-light-default.png
  web/public/favicons/favicon-light-default.svg
  web/public/favicons/favicon-light-error.png
  web/public/favicons/favicon-light-error.svg
  web/public/favicons/favicon-light-pending.png
  web/public/favicons/favicon-light-pending.svg
  web/public/favicons/favicon-light-success.png
  web/public/favicons/favicon-light-success.svg
  web/src/App.vue
  web/src/compositions/useFavicon.ts
  web/src/main.ts
  web/src/views/repo/RepoBuild.vue
Due: deps, lint, formatcheck, typecheck, test

fix type
  web/src/compositions/useFavicon.ts
Due: deps, lint, formatcheck, typecheck, test

Update proxy documentation (#573)
  docs/docs/30-administration/70-proxy.md
Due: build, deploy

optimize
  web/public/favicons/favicon-dark-default.png
  web/public/favicons/favicon-dark-error.png
  web/public/favicons/favicon-dark-error.svg
  web/public/favicons/favicon-dark-pending.png
  web/public/favicons/favicon-dark-pending.svg
  web/public/favicons/favicon-dark-success.png
  web/public/favicons/favicon-dark-success.svg
  web/public/favicons/favicon-light-default.png
  web/public/favicons/favicon-light-error.png
  web/public/favicons/favicon-light-error.svg
  web/public/favicons/favicon-light-pending.png
  web/public/favicons/favicon-light-pending.svg
  web/public/favicons/favicon-light-success.png
  web/public/favicons/favicon-light-success.svg
Due: deps, lint, formatcheck, typecheck, test

fix web router
  server/web/web.go
Due: none

fix favicon-dark-success.svg
  web/public/favicons/favicon-dark-success.svg
Due: deps, lint, formatcheck, typecheck, test

remove "/head" for gitea links too
  web/src/components/repo/build/BuildItem.vue
  web/src/views/repo/RepoBuild.vue
Due: deps, lint, formatcheck, typecheck, test

Improve favicons (#576)
  server/web/web.go
  web/index.html
  web/public/favicons/favicon-dark-default.png
  web/public/favicons/favicon-dark-default.svg
  web/public/favicons/favicon-dark-error.png
  web/public/favicons/favicon-dark-error.svg
  web/public/favicons/favicon-dark-pending.png
  web/public/favicons/favicon-dark-pending.svg
  web/public/favicons/favicon-dark-success.png
  web/public/favicons/favicon-dark-success.svg
  web/public/favicons/favicon-light-default.png
  web/public/favicons/favicon-light-default.svg
  web/public/favicons/favicon-light-error.png
  web/public/favicons/favicon-light-error.svg
  web/public/favicons/favicon-light-pending.png
  web/public/favicons/favicon-light-pending.svg
  web/public/favicons/favicon-light-success.png
  web/public/favicons/favicon-light-success.svg
  web/src/App.vue
  web/src/compositions/useFavicon.ts
  web/src/main.ts
  web/src/views/repo/RepoBuild.vue
Due: deps, lint, formatcheck, typecheck, test

fix back links (#529)
  web/src/compositions/useRouteBackOrDefault.ts
  web/src/views/repo/RepoBuild.vue
  web/src/views/repo/RepoSettings.vue
Due: deps, lint, formatcheck, typecheck, test

Add security hint to secrets configuration (#574)
  web/src/components/form/CheckboxesField.vue
  web/src/components/form/TextField.vue
  web/src/components/repo/settings/SecretsTab.vue
Due: deps, lint, formatcheck, typecheck, test

Show icon and index of a pull request in pipelines triggered by pull requests (#575)
  web/src/components/repo/build/BuildItem.vue
  web/src/views/repo/RepoBuild.vue
Due: deps, lint, formatcheck, typecheck, test

ajust to new settings field
  .woodpecker/main.yml
Due: none

more test coverage
  pipeline/frontend/yaml/container_test.go
Due: none

add failing test
  pipeline/frontend/yaml/compiler/params_test.go
Due: none

fix
  pipeline/frontend/yaml/compiler/params.go
Due: none

diverse tests & fix pipeline schema
  pipeline/frontend/yaml/container_test.go
  pipeline/schema/schema.json
Due: none

Another fix for settings field in pipeline config (#579)
  .woodpecker/main.yml
  pipeline/frontend/yaml/compiler/params.go
  pipeline/frontend/yaml/compiler/params_test.go
  pipeline/frontend/yaml/container_test.go
  pipeline/schema/schema.json
Due: none

fix repoPath detection for multipipeline
  cli/exec/exec.go
Due: none

dont panic! report error back
  server/api/build.go
  server/api/hook.go
  server/grpc/rpc.go
  server/model/proc.go
Due: none

format
  server/api/build.go
Due: none
