Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-cli, build, securitycheck, deploy-preview, deploy, set-version, lint, release, test-schema, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

build-cli:
  image: golang:1.18
  commands:
  - make docs

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

vendor:
  image: golang:1.18
  group: prepare
  commands:
  - go mod vendor

lint-pipeline:
  image: golang:1.18
  commands:
  - go run github.com/woodpecker-ci/woodpecker/cmd/cli lint

dummy-web:
  image: golang:1.18
  group: prepare
  commands:
  - mkdir -p web/dist/
  - echo "test" > web/dist/index.html

test:
  image: golang:1.18
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

sqlite:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=sqlite3
  commands:
  - make test-server-datastore-coverage

postgres:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=postgres
  - WOODPECKER_DATABASE_DATASOURCE=host=service-postgres user=postgres dbname=postgres sslmode=disable
  commands:
  - make test-server-datastore

mysql:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=mysql
  - WOODPECKER_DATABASE_DATASOURCE=root@tcp(service-mysql:3306)/test?parseTime=true
  commands:
  - make test-server-datastore

else if
  agent/runner.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Translated using Weblate (Indonesian)
  web/src/assets/locales/id.json
Due: none

Refactor agent: split code in subfunctions (#1441)
  agent/logger.go
  agent/runner.go
  agent/tracer.go
  cli/exec/exec.go
  pipeline/pipeline.go
  server/grpc/rpc.go
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Fix: Use correct pipeline id, show pipeline id in text
  web/src/assets/locales/de.json
  web/src/assets/locales/en.json
  web/src/components/layout/popups/DeployPipelinePopup.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: none

Translated using Weblate (Spanish)
  web/src/assets/locales/es.json
Due: none

Translated using Weblate (French)
  web/src/assets/locales/es.json
  web/src/assets/locales/fr.json
Due: none

hide not owned repos from sidebar and repo list
  web/src/components/repo/settings/GeneralTab.vue
  web/src/compositions/useEvents.ts
  web/src/compositions/usePipelineFeed.ts
  web/src/store/pipelines.ts
  web/src/store/repos.ts
  web/src/utils/helpers.ts
  web/src/views/Repos.vue
  web/src/views/ReposOwner.vue
  web/src/views/repo/RepoWrapper.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: none

remove dead-code, fix linting
  web/.eslintrc.js
  web/src/store/pipelines.ts
  web/src/utils/helpers.ts
Due: none

fix lint
  web/src/lib/api/client.ts
Due: none

fix ts
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: none

use generic
  web/src/store/pipelines.ts
Due: none

fix url type
  web/src/views/repo/RepoWrapper.vue
Due: none

Update web/src/store/repos.ts
  web/src/store/repos.ts
Due: none

fix vite plugin type
  web/src/views/User.vue
  web/src/vite-env.d.ts
  web/vite.config.ts
Due: none

Vue usage improvement, rename variables
  web/src/components/layout/popups/DeployPipelinePopup.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: none

Better / consistent parameter naming
  web/src/lib/api/index.ts
Due: none

remove duplicate setting vue-i18n locale
  web/src/views/User.vue
Due: none

Improve button and input contrast
  web/src/components/atomic/Button.vue
  web/src/components/form/Checkbox.vue
  web/src/components/form/RadioField.vue
  web/src/components/form/TextField.vue
Due: none

revert changes
  web/src/components/atomic/Button.vue
  web/src/components/form/TextField.vue
Due: none

Improve button and input contrast in dark mode (#1456)
  web/src/components/atomic/Button.vue
  web/src/components/form/Checkbox.vue
  web/src/components/form/RadioField.vue
Due: none

Add a sentence regarding docs to UI page
  docs/docs/92-development/03-ui.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

Manually skip workflow
  server/api/pipeline.go
  server/pipeline/pipelineStatus.go
  server/pipeline/skip.go
  server/queue/fifo.go
  server/queue/queue.go
  server/router/api.go
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/lib/api/index.ts
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Update web/src/lib/api/index.ts
  web/src/lib/api/index.ts
Due: none

Remove german translation
  web/src/assets/locales/de.json
Due: none

More precise description
  docs/docs/92-development/03-ui.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

another translation removed
  web/src/assets/locales/de.json
Due: none

Add button to trigger deployments (#1415)
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/layout/popups/DeployPipelinePopup.vue
  web/src/lib/api/index.ts
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: none

Fix the linter issues
  server/pipeline/skip.go
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/lib/api/index.ts
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

disable metrics if no token is set
  docs/docs/30-administration/10-server-config.md
  server/api/metrics/prometheus.go
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

disable metrcis if no token is set
  server/api/metrics/prometheus.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

adjust error
  server/api/metrics/prometheus.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

disable metrics access if no token is set (#1469)
  docs/docs/30-administration/10-server-config.md
  server/api/metrics/prometheus.go
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

bugfix
  cmd/server/setup.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

minor
  cmd/server/setup.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

docs
  docs/docs/30-administration/10-server-config.md
  docs/docs/30-administration/35-secrets-encryption.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

Sort the pipeline based on the status
  web/src/store/pipelines.ts
  web/src/utils/helpers.ts
  web/src/views/repo/RepoWrapper.vue
Due: none

Skip the children steps of the skipped step
  server/pipeline/skip.go
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Add popup message when skip was successful
  web/src/assets/locales/en.json
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: none

Path conditions:
  build-cli: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
