Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-cli, build, securitycheck, deploy-preview, deploy, set-version, lint, release, test-schema, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

build-cli:
  image: golang:1.18
  commands:
  - make docs

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy:
  image: alpine:3.14.2
  secrets:
  - BOT_PRIVATE_KEY
  commands:
  - apk add openssh-client git rsync
  - mkdir -p $HOME/.ssh
  - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
  - echo "$BOT_PRIVATE_KEY" > $HOME/.ssh/id_rsa
  - chmod 0600 $HOME/.ssh/id_rsa
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

vendor:
  image: golang:1.18
  group: prepare
  commands:
  - go mod vendor

lint-pipeline:
  image: golang:1.18
  commands:
  - go run github.com/woodpecker-ci/woodpecker/cmd/cli lint

dummy-web:
  image: golang:1.18
  group: prepare
  commands:
  - mkdir -p web/dist/
  - echo "test" > web/dist/index.html

test:
  image: golang:1.18
  group: test
  commands:
  - make test-agent
  - make test-server
  - make test-cli
  - make test-lib

sqlite:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=sqlite3
  commands:
  - make test-server-datastore-coverage

postgres:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=postgres
  - WOODPECKER_DATABASE_DATASOURCE=host=service-postgres user=postgres dbname=postgres sslmode=disable
  commands:
  - make test-server-datastore

mysql:
  image: golang:1.18
  group: test
  environment:
  - WOODPECKER_DATABASE_DRIVER=mysql
  - WOODPECKER_DATABASE_DATASOURCE=root@tcp(service-mysql:3306)/test?parseTime=true
  commands:
  - make test-server-datastore

Clean up the codebase
  web/src/views/repo/RepoWrapper.vue
Due: none

Fix typo
  docs/docs/92-development/03-ui.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

tink encryption refactored
  cmd/server/setup.go
  server/model/encryption.go
  server/plugins/encrypted_secret_store/secret_store.go
  server/plugins/encrypted_secret_store/secret_store_wrapper.go
  server/plugins/encrypted_secrets/encrypted_secrets.go
  server/plugins/encrypted_secrets/encryption.go
  server/plugins/encrypted_secrets/encryption_disabler.go
  server/plugins/encrypted_secrets/encryption_keyset.go
  server/plugins/encrypted_secrets/encryption_migrations.go
  server/plugins/encryption/encryption.go
  server/plugins/encryption/tink.go
  server/plugins/encryption/tink_builder.go
  server/plugins/encryption/tink_keyset.go
  server/plugins/encryption/tink_keyset_watcher.go
  server/plugins/encryption/tink_state.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

tink encryption refactored
  cmd/server/flags.go
  cmd/server/server.go
  cmd/server/setup.go
  server/model/encryption.go
  server/plugins/encrypted_secret_store/secret_store_wrapper.go
  server/plugins/encryption/encryption.go
  server/plugins/encryption/none.go
  server/plugins/encryption/tink_builder.go
  server/plugins/encryption/tink_keyset.go
  server/plugins/encryption/tink_keyset_watcher.go
  server/plugins/encryption/tink_state.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

encryption refactored
  server/model/encryption.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

encryption refactored
  server/model/encryption.go
  server/plugins/encrypted_secret_store/secret_store_wrapper.go
  server/plugins/encryption/none.go
  server/plugins/encryption/tink_state.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

encryption refactored
  server/plugins/encryption/encryption.go
  server/plugins/encryption/no_encryption.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

add aes, change log messages
  server/plugins/encryption/aes.go
  server/plugins/encryption/aes_builder.go
  server/plugins/encryption/aes_encryption.go
  server/plugins/encryption/aes_state.go
  server/plugins/encryption/encryption.go
  server/plugins/encryption/tink.go
  server/plugins/encryption/tink_keyset.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

update docs, change env var names
  cmd/server/flags.go
  docs/docs/30-administration/10-server-config.md
  docs/docs/30-administration/35-secrets-encryption.md
  docs/docs/30-administration/40-encryption.md
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

bugfix
  server/plugins/encryption/encryption.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

bugfix
  server/model/secret.go
  server/plugins/encrypted_secret_store/secret_store.go
  server/plugins/encrypted_secret_store/secret_store_wrapper.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

bugfix
  docs/docs/30-administration/40-encryption.md
  server/plugins/encrypted_secret_store/secret_store.go
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Add a sentence regarding translations to the development docs (UI page) (#1459)
  docs/docs/92-development/03-ui.md
Due: build-cli, build, securitycheck, deploy-preview, deploy

sec issue bump golang.org/x/net
  go.mod
  go.sum
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

bugfix
  docs/docs/30-administration/40-encryption.md
  server/plugins/encryption/aes.go
  server/plugins/encryption/aes_encryption.go
  server/plugins/encryption/aes_test.go
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

bugfix
  server/plugins/encryption/aes_test.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

router: create apiBase (#1442)
  go.mod
  go.sum
  server/router/api.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

add "read key from file"
  cmd/server/flags.go
  docs/docs/30-administration/10-server-config.md
  docs/docs/30-administration/40-encryption.md
Due: build-cli, build, securitycheck, deploy-preview, deploy, lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

formatting
  cmd/server/server.go
  server/model/encryption.go
  server/plugins/encrypted_secret_store/secret_store.go
  server/plugins/encrypted_secret_store/secret_store_wrapper.go
  server/plugins/encryption/aes_encryption.go
  server/plugins/encryption/aes_test.go
  server/plugins/encryption/no_encryption.go
  server/plugins/encryption/tink_keyset.go
  server/store/datastore/secret.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

import sorting fix
  server/plugins/encrypted_secret_store/secret_store_wrapper.go
  server/plugins/encryption/aes.go
  server/plugins/encryption/aes_builder.go
  server/plugins/encryption/aes_test.go
  server/plugins/encryption/encryption.go
  server/plugins/encryption/tink.go
  server/plugins/encryption/tink_builder.go
  server/store/mocks/store.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

bump DefaultCloneImage version to v2.0.x
  shared/constant/constant.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Disable metrics access if no token is set (#1470)
  server/api/metrics/prometheus.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Add Changelog for v0.15.6
  CHANGELOG.md
Due: none

ci: ping golang version
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/test.yml
Due: lint, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

ci: pin golang version (#1499)
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/test.yml
Due: lint, vendor, lint-pipeline, dummy-web, test, sqlite, postgres, mysql, codecov

Add Changelog for v0.15.6 (#1498)
  CHANGELOG.md
Due: none

Add Changelog for v0.15.6 (#1498) (#1500)
  CHANGELOG.md
Due: none

Update pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/compiler.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

Added translation using Weblate (Russian)
  web/src/assets/locales/ru.json
Due: none

Translated using Weblate (Russian)
  web/src/assets/locales/ru.json
Due: none

handle errors
  server/forge/gitea/gitea.go
  server/forge/gitea/parse.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

more log less error
  server/forge/gitea/parse.go
Due: lint, vendor, dummy-web, test, sqlite, postgres, mysql, codecov

ci: cross-compile-server: force pure Go resolver
  .woodpecker/docker.yml
Due: lint-pipeline

Translated using Weblate (Russian)
  web/src/assets/locales/id.json
  web/src/assets/locales/ru.json
Due: none

ci: cross-compile-server: force pure Go resolver (#1502)
  .woodpecker/docker.yml
Due: lint-pipeline

Path conditions:
  build-cli: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: any of: .woodpecker/**, pipeline/schema/**
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  test: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
